/* ==========================================================================
	Setup
============================================================================= */
[data-whatinput="mouse"] a:focus,
[data-whatinput="mouse"] button:focus,
[data-whatinput="touch"] a:focus,
[data-whatinput="touch"] button:focus {
  outline: none; }

@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-55Rg.otf");
  font-weight: 400; }

@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-65Md.otf");
  font-weight: 500; }

@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-75Bd.otf");
  font-weight: 700; }

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-55Rg.otf");
  font-weight: 400; }

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-56It.otf");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-65Md.otf");
  font-weight: 500; }

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-75Bd.otf");
  font-weight: 700; }

.gb_typography h1, .gb_typography h2, .gb_typography h3 {
  margin: 20px 0 10px; }

.gb_typography h1 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.2; }
  @media screen and (min-width: 980px) {
    .gb_typography h1 {
      font-size: 50px;
      font-size: 3.125rem;
      line-height: 1.2; } }

.gb_typography h2 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 1.47059; }
  @media screen and (min-width: 980px) {
    .gb_typography h2 {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.2; } }

.gb_typography h3 {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 1.29412; }

.gb_typography > p {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  margin: 10px 0 30px; }
  @media screen and (min-width: 980px) {
    .gb_typography > p {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 1.61905; } }

.gb_text *:last-child {
  margin-top: 0; }

.gb_label {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  color: #868686;
  display: block;
  margin-top: 35px; }
  @media screen and (min-width: 980px) {
    .gb_label {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 1.61905; } }

.gb_page_header {
  color: #fff; }

.gb_page_ribbon {
  background: #000; }

@media screen and (min-width: 740px) {
  .gb_ribbon_group {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.gb_jump_ribbon {
  background: #333; }

.gb_page_content {
  padding: calc(60px + 2vh) 0 200px; }

.gb_page_details {
  margin-bottom: 33px; }
  .gb_trello_detail_lock .gb_page_details {
    display: none; }

.gb_page_intro {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.2; }
  @media screen and (min-width: 980px) {
    .gb_page_intro {
      font-size: 50px;
      font-size: 3.125rem;
      line-height: 1.2; } }
  .gb_page_intro u {
    color: #DA2315;
    text-decoration: none; }
  .gb_page_intro a {
    -webkit-box-shadow: inset 0 -4px 0 0 #fff, inset 0 -6px 0 0 #000;
            box-shadow: inset 0 -4px 0 0 #fff, inset 0 -6px 0 0 #000;
    color: #000;
    text-shadow: -2px -2px white, -2px 2px white, 2px -2px white, 2px 2px white; }
    @media screen and (min-width: 980px) {
      .gb_page_intro a {
        -webkit-box-shadow: inset 0 -5px 0 0 #fff, inset 0 -7px 0 0 #000;
                box-shadow: inset 0 -5px 0 0 #fff, inset 0 -7px 0 0 #000; } }

.gb_page_title {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0; }
  @media screen and (min-width: 980px) {
    .gb_page_title {
      font-size: 50px;
      font-size: 3.125rem;
      line-height: 1.2; } }

.gb_page_caption {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  margin: 12px 0 0; }
  @media screen and (min-width: 980px) {
    .gb_page_caption {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 1.61905; } }

.gb_ribbon_link {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  color: inherit;
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  padding: 31px 0 10px; }
  @media screen and (min-width: 740px) {
    .gb_ribbon_link {
      padding-bottom: 30px; } }

.gb_ribbon_logo {
  position: absolute;
  top: 27px;
  right: 20px;
  z-index: 2;
  color: inherit;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0.75);
          transform: scale(0.75); }
  @media screen and (min-width: 740px) {
    .gb_ribbon_logo {
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%) scale(0.85);
              transform: translate(0, -50%) scale(0.85); } }
  @media screen and (min-width: 980px) {
    .gb_ribbon_logo {
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); } }
  .gb_ribbon_logo svg {
    height: 33px;
    width: 50px; }

.gb_main_nav {
  padding-bottom: 22px; }
  @media screen and (min-width: 740px) {
    .gb_main_nav {
      padding-top: 22px;
      padding-right: 70px; } }
  @media screen and (min-width: 980px) {
    .gb_main_nav {
      padding-right: 95px; } }

@media screen and (min-width: 540px) {
  .gb_main_nav_item {
    display: inline-block;
    margin-right: 20px; } }

@media screen and (min-width: 980px) {
  .gb_main_nav_item {
    margin-right: 45px; } }

@media screen and (min-width: 540px) {
  .gb_main_nav_item:last-child {
    margin-right: 0; } }

.gb_main_nav_link {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 700;
  color: inherit;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 15px 0;
  text-transform: uppercase; }

.gb_main_nav_link_label {
  position: relative; }
  .gb_main_nav_link_label:after {
    height: 1px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    content: '';
    margin-top: 4px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    -webkit-transform-origin: left center;
            transform-origin: left center; }
    @media screen and (min-width: 540px) {
      .gb_main_nav_link_label:after {
        -webkit-transform-origin: center center;
                transform-origin: center center; } }
  .gb_main_nav_link:focus .gb_main_nav_link_label:after,
  .gb_main_nav_link:hover .gb_main_nav_link_label:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.gb_jump_nav {
  overflow-x: auto;
  white-space: nowrap; }
  .gb_trello_detail_lock .gb_jump_nav {
    display: none; }

.gb_jump_nav_link {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 2;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.23077;
  margin-right: 40px;
  overflow: hidden;
  padding: 25px 0 24px;
  text-shadow: 0 0 2px #333;
  text-transform: uppercase; }
  .gb_jump_nav_link:before {
    height: 100%;
    width: 1px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: -2;
    background: #fff;
    content: "";
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .gb_jump_nav_link:focus:before, .gb_jump_nav_link:hover:before {
    -webkit-animation: jump-down .5s forwards;
            animation: jump-down .5s forwards; }

@-webkit-keyframes jump-down {
  100% {
    -webkit-transform: translate(-50%, 200%);
            transform: translate(-50%, 200%); } }

@keyframes jump-down {
  100% {
    -webkit-transform: translate(-50%, 200%);
            transform: translate(-50%, 200%); } }

.gb_topics {
  margin-top: 30px; }
  @media screen and (min-width: 500px) {
    .gb_topics {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.gb_topic {
  max-width: 400px;
  margin-bottom: 8%; }
  @media screen and (min-width: 600px) {
    .gb_topic {
      width: 42%;
      margin-right: 8%;
      margin-bottom: 4%; } }
  @media screen and (min-width: 980px) {
    .gb_topic {
      width: 25.33%; } }
  .gb_topic_trello {
    cursor: pointer; }

@media screen and (min-width: 600px) {
  .gb_topic_figure {
    height: 165px;
    position: relative; } }

.gb_topic_image {
  max-height: 340px;
  max-width: 100%;
  margin-bottom: 24px; }
  @media screen and (min-width: 600px) {
    .gb_topic_image_juxtaposed {
      position: absolute;
      bottom: 0;
      left: 0; } }

.gb_topic_placeholder {
  height: 165px;
  width: 100%;
  border: 1px solid rgba(151, 151, 151, 0.2);
  margin-bottom: 20px; }

.gb_topic_title {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 1.47059;
  color: #000;
  margin: 0 0 10px; }
  @media screen and (min-width: 980px) {
    .gb_topic_title {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.2; } }

.gb_topic_link {
  -webkit-box-shadow: inset 0 -2px 0 0 #fff, inset 0 -4px 0 0 #000;
          box-shadow: inset 0 -2px 0 0 #fff, inset 0 -4px 0 0 #000;
  color: inherit;
  display: inline;
  text-shadow: -2px -2px white, -2px 2px white, 2px -2px white, 2px 2px white; }
  @media screen and (min-width: 980px) {
    .gb_topic_link {
      -webkit-box-shadow: inset 0 -6px 0 0 #fff, inset 0 -8px 0 0 #000;
              box-shadow: inset 0 -6px 0 0 #fff, inset 0 -8px 0 0 #000; } }

.gb_topic_caption {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  margin: 0; }
  @media screen and (min-width: 980px) {
    .gb_topic_caption {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 1.61905; } }

.gb_type {
  margin-bottom: 40px; }
  .gb_type:last-child {
    margin-bottom: 0; }

.gb_type_item {
  max-width: 170px;
  width: 100%;
  border: 1px solid #979797;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 25px 20px 16px; }

.gb_type_test {
  display: block;
  font-size: 58px;
  font-size: 3.625rem; }

.gb_type_weight {
  display: block;
  font-size: 18px;
  font-size: 1.125rem; }

@media screen and (min-width: 500px) {
  .gb_colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.gb_color {
  max-width: 260px;
  margin-bottom: 8%; }
  @media screen and (min-width: 500px) {
    .gb_color {
      width: 42%;
      margin-right: 4%;
      margin-bottom: 4%; } }
  @media screen and (min-width: 980px) {
    .gb_color {
      width: 25.33%; } }

.gb_color_block {
  height: 100px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px; }

.gb_color_label {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  display: block;
  line-height: 1.25; }
  @media screen and (min-width: 980px) {
    .gb_color_label {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 1.61905; } }

.gb_color_copy {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  margin: 2px 0;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition: opacity .25s;
  transition: opacity .25s; }
  .gb_color:focus .gb_color_copy,
  .gb_color:hover .gb_color_copy {
    opacity: 1; }

.gb_component_section {
  margin-bottom: 16%; }
  @media screen and (min-width: 600px) {
    .gb_component_section {
      margin-bottom: 0; } }

.gb_component_section_title {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 1.47059; }
  @media screen and (min-width: 980px) {
    .gb_component_section_title {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.2; } }

.gb_trello_notification {
  color: #DA2315; }
  .gb_typography .gb_trello_notification {
    margin: 40px 0 80px; }

.gb_trello_detail {
  display: none; }
  .gb_trello_detail:after {
    clear: both;
    content: "";
    display: table; }
  .gb_trello_detail_lock .gb_trello_detail {
    display: block; }

.gb_trello_detail_image {
  width: 100%;
  margin: 30px 0; }

.gb_trello_detail_lock .gb_trello_list {
  display: none; }

.gb_section {
  padding: 25px 0; }
  @media screen and (min-width: 740px) {
    .gb_section {
      padding: 50px 0; } }
