.clearfix:after {
  clear: both;
  content: "";
  display: table; }

.visually_hide {
  width: 1px;
  height: 1px;
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0; }
  .visually_hide.focusable:active, .visually_hide.focusable:focus {
    width: auto;
    height: auto;
    position: static;
    clip: auto;
    margin: 0;
    overflow: visible; }

/* Not to be used with a form container */
/* Use -webkit-overflow-scrolling: auto instead */
[data-whatinput="mouse"] a:focus,
[data-whatinput="mouse"] button:focus,
[data-whatinput="touch"] a:focus,
[data-whatinput="touch"] button:focus {
  outline: none; }

@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-55Rg.otf");
  font-weight: 400; }

@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-65Md.otf");
  font-weight: 500; }

@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-75Bd.otf");
  font-weight: 700; }

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-55Rg.otf");
  font-weight: 400; }

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-56It.otf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-65Md.otf");
  font-weight: 500; }

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-75Bd.otf");
  font-weight: 700; }

/* ==========================================================================
	Type
============================================================================= */
/* Typography
============================================================================= */
.gb_typography {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471; }
  @media screen and (min-width: 980px) {
    .gb_typography {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.7; } }
  .gb_typography h1, .gb_typography h2, .gb_typography h3 {
    margin: 60px 0 20px; }
  .gb_typography h1 {
    font-family: "Neue Haas Grotesk Display Std", sans-serif;
    font-weight: 500;
    font-size: 34px;
    font-size: 2.125rem;
    line-height: 1.47059; }
    @media screen and (min-width: 740px) {
      .gb_typography h1 {
        font-size: 40px;
        font-size: 2.5rem;
        line-height: 1.2; } }
    @media screen and (min-width: 980px) {
      .gb_typography h1 {
        font-size: 50px;
        font-size: 3.125rem;
        line-height: 1.2; } }
  .gb_typography h2 {
    font-family: "Neue Haas Grotesk Display Std", sans-serif;
    font-weight: 500;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.35714;
    color: #DA2315; }
    @media screen and (min-width: 740px) {
      .gb_typography h2 {
        font-size: 34px;
        font-size: 2.125rem;
        line-height: 1.47059; } }
    @media screen and (min-width: 980px) {
      .gb_typography h2 {
        font-size: 40px;
        font-size: 2.5rem;
        line-height: 1.2; } }
  .gb_typography h3 {
    font-family: "Neue Haas Grotesk Display Std", sans-serif;
    font-weight: 500;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.35714; }
    @media screen and (min-width: 740px) {
      .gb_typography h3 {
        font-size: 34px;
        font-size: 2.125rem;
        line-height: 1.29412; } }
  .gb_typography h4 {
    font-family: "Neue Haas Grotesk Display Std", sans-serif;
    font-weight: 500;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.45455;
    margin: 40px 0 20px; }
    @media screen and (min-width: 740px) {
      .gb_typography h4 {
        font-size: 28px;
        font-size: 1.75rem;
        line-height: 1.35714; } }
  .gb_typography a {
    color: inherit;
    text-decoration: underline;
    -webkit-transition: color .25s;
    transition: color .25s; }
    .gb_typography a:focus, .gb_typography a:hover {
      color: #DA2315; }
  .gb_typography > p {
    margin: 30px 0; }
  .gb_typography blockquote {
    font-family: "Neue Haas Grotesk Display Std", sans-serif;
    font-weight: 700;
    background: rgba(216, 216, 216, 0.2);
    border-left: 6px solid #DA2315;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.8125;
    margin: 30px 0;
    padding: 20px; }
    @media screen and (min-width: 980px) {
      .gb_typography blockquote {
        padding: 35px; } }
    .gb_typography blockquote p {
      margin: 0; }
  .gb_typography ol,
  .gb_typography ul {
    margin: 30px 0; }

/* Tools
============================================================================= */
.gb_text *:last-child {
  margin-top: 0; }

.gb_label {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  color: #a6a6a6;
  display: block;
  margin-top: 35px; }
  @media screen and (min-width: 980px) {
    .gb_label {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.7; } }
  .gb_label strong {
    color: #868686; }

/* ==========================================================================
	Navigation
============================================================================= */
.gb_ribbon_link {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  color: inherit;
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  padding: 30px 0 10px; }
  @media screen and (min-width: 980px) {
    .gb_ribbon_link {
      padding-bottom: 30px; } }

.gb_ribbon_logo {
  display: none; }
  @media screen and (min-width: 980px) {
    .gb_ribbon_logo {
      position: absolute;
      top: 50%;
      right: 0;
      color: inherit;
      display: block;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); } }

/* Main Nav
============================================================================= */
.gb_main_nav {
  padding-bottom: 22px; }
  @media screen and (min-width: 980px) {
    .gb_main_nav {
      padding: 19px 95px 20px 0; } }

.gb_main_nav_title {
  width: 1px;
  height: 1px;
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0; }
  .gb_main_nav_title.focusable:active, .gb_main_nav_title.focusable:focus {
    width: auto;
    height: auto;
    position: static;
    clip: auto;
    margin: 0;
    overflow: visible; }

.gb_main_nav_list {
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  white-space: nowrap; }

.gb_main_nav_item {
  display: inline-block;
  margin-right: 20px; }
  @media screen and (min-width: 1220px) {
    .gb_main_nav_item {
      margin-right: 45px; } }
  @media screen and (min-width: 540px) {
    .gb_main_nav_item:last-child {
      margin-right: 0; } }

.gb_main_nav_link {
  color: inherit;
  display: block;
  padding: 15px 0; }

.gb_main_nav_link_label {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 700;
  position: relative;
  color: inherit;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase; }
  .gb_main_nav_link_label:after {
    height: 1px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    content: '';
    margin-top: 4px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s; }
    .gb_main_nav_link:focus .gb_main_nav_link_label:after,
    .gb_main_nav_link:hover .gb_main_nav_link_label:after,
    .active .gb_main_nav_link_label:after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
    .active .gb_main_nav_link_label:after {
      height: 3px; }

/* Jump Nav
============================================================================= */
.gb_jump_nav {
  position: relative;
  overflow-x: auto;
  white-space: nowrap; }
  .gb_trello_detail_lock .gb_jump_nav {
    display: none; }

.gb_jump_nav_link {
  position: relative;
  z-index: 2;
  color: inherit;
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
  overflow: hidden;
  padding: 20px 0; }
  .gb_jump_nav_link:before {
    height: 100%;
    width: 1px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: -2;
    background: #fff;
    content: "";
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .gb_jump_nav_link:focus:before, .gb_jump_nav_link:hover:before {
    -webkit-animation: jump-down .5s forwards;
            animation: jump-down .5s forwards; }

@-webkit-keyframes jump-down {
  100% {
    -webkit-transform: translate(-50%, 200%);
            transform: translate(-50%, 200%); } }

@keyframes jump-down {
  100% {
    -webkit-transform: translate(-50%, 200%);
            transform: translate(-50%, 200%); } }

.gb_jump_nav_link_label {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 700;
  color: inherit;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.21429; }

.gb_jump_nav_rocket {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  color: transparent;
  overflow: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s; }
  @media screen and (min-width: 1220px) {
    .gb_jump_nav_rocket {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: auto;
      right: 0;
      background: none;
      border-radius: 0; } }
  .gb_jump_nav_rocket:before {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #000;
    border-radius: 50%;
    content: "";
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media screen and (min-width: 1220px) {
      .gb_jump_nav_rocket:before {
        border-color: #fff; } }
  .gb_jump_nav_rocket:after {
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    margin-top: 2px;
    content: "";
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
    @media screen and (min-width: 1220px) {
      .gb_jump_nav_rocket:after {
        border-top-color: #fff;
        border-left-color: #fff; } }
  .gb_jump_nav_rocket:focus:after, .gb_jump_nav_rocket:hover:after {
    -webkit-animation: rocket-jump 3s infinite;
            animation: rocket-jump 3s infinite; }
  .pinned .gb_jump_nav_rocket {
    -webkit-transform: scale(1);
            transform: scale(1); }

@-webkit-keyframes rocket-jump {
  10% {
    opacity: 0;
    -webkit-transform: translate(-50%, -150%) rotate(45deg);
            transform: translate(-50%, -150%) rotate(45deg); }
  20% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
            transform: translate(-50%, 50%) rotate(45deg); }
  30%,
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes rocket-jump {
  10% {
    opacity: 0;
    -webkit-transform: translate(-50%, -150%) rotate(45deg);
            transform: translate(-50%, -150%) rotate(45deg); }
  20% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
            transform: translate(-50%, 50%) rotate(45deg); }
  30%,
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); } }

/* ==========================================================================
	Structure
============================================================================= */
.gb_page_header {
  background: #000;
  color: #fff; }

@media screen and (min-width: 980px) {
  .gb_ribbon_inner {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.gb_jump_ribbon {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 8;
  background: #333; }
  .pinned .gb_jump_ribbon {
    position: fixed; }

/* Content
============================================================================= */
.gb_page_content {
  background: #fff;
  color: #000;
  padding: 80px 0 200px; }

.gb_page_details {
  position: relative; }
  .gb_trello_detail_lock .gb_page_details {
    display: none; }
  .gb_page_details a {
    color: inherit;
    text-decoration: underline;
    -webkit-transition: color .25s;
    transition: color .25s; }
    .gb_page_details a:focus, .gb_page_details a:hover {
      color: #DA2315; }

.gb_page_intro {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.35714;
  margin: 0; }
  @media screen and (min-width: 740px) {
    .gb_page_intro {
      font-size: 34px;
      font-size: 2.125rem;
      line-height: 1.47059; } }
  @media screen and (min-width: 980px) {
    .gb_page_intro {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.2; } }
  .gb_page_intro u {
    color: #DA2315;
    text-decoration: none; }

.gb_page_title {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 1.47059;
  margin: 0; }
  @media screen and (min-width: 740px) {
    .gb_page_title {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 980px) {
    .gb_page_title {
      font-size: 50px;
      font-size: 3.125rem;
      line-height: 1.2; } }

.gb_page_title_label {
  display: inline-block;
  vertical-align: middle; }

.gb_page_caption {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  margin: 12px 0 0; }
  @media screen and (min-width: 980px) {
    .gb_page_caption {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.7; } }

.gb_page_image {
  display: none; }
  @media screen and (min-width: 980px) {
    .gb_page_image {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); } }

/* Section
============================================================================= */
.gb_section {
  margin: 80px 0; }

.gb_section_title {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.35714;
  margin: 0 0 20px; }
  @media screen and (min-width: 740px) {
    .gb_section_title {
      font-size: 34px;
      font-size: 2.125rem;
      line-height: 1.47059; } }
  @media screen and (min-width: 980px) {
    .gb_section_title {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.2; } }

.gb_section_caption {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  margin: -20px 0 40px; }
  @media screen and (min-width: 980px) {
    .gb_section_caption {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.7; } }

@media screen and (min-width: 500px) {
  .gb_topics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.gb_topic {
  max-width: 400px;
  display: block;
  margin-bottom: 8%; }
  @media screen and (min-width: 600px) {
    .gb_topic {
      width: 50%;
      margin-bottom: 4%;
      padding-right: 8%; } }
  @media screen and (min-width: 980px) {
    .gb_topic {
      width: 33.33%; } }
  .gb_topic_trello {
    position: relative;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding-bottom: 8%; }
    @media screen and (min-width: 600px) {
      .gb_topic_trello {
        padding-bottom: 4%; } }
    .gb_topic_trello:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
    @media screen and (min-width: 600px) {
      .gb_topic_trello:nth-last-child(2) {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0; } }
    @media screen and (min-width: 980px) {
      .gb_topic_trello:nth-last-child(3) {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0; } }
    .trello_format_list .gb_topic_trello {
      max-width: 100%;
      width: 100%;
      border-bottom: 0;
      margin-bottom: 10px;
      padding-bottom: 0; }

.gb_topic_link {
  color: #000;
  display: inline;
  text-decoration: underline;
  -webkit-transition: color .25s;
  transition: color .25s; }
  .gb_topic_link:focus, .gb_topic_link:hover {
    color: #DA2315; }

.gb_topic_image {
  max-height: 340px;
  max-width: 100%;
  margin-bottom: 24px; }
  .trello_format_list .gb_topic_image {
    display: none; }

.gb_topic_title {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.45455;
  color: inherit;
  margin: 0 0 10px; }
  @media screen and (min-width: 740px) {
    .gb_topic_title {
      font-size: 28px;
      font-size: 1.75rem;
      line-height: 1.35714; } }

.gb_topic_caption {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  margin: 0; }
  @media screen and (min-width: 980px) {
    .gb_topic_caption {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.7; } }

.gb_topic_subcaption {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143;
  color: rgba(0, 0, 0, 0.7);
  margin: 8px 0 0; }
  .gb_topic_subcaption a {
    color: inherit;
    text-decoration: underline;
    -webkit-transition: color .25s;
    transition: color .25s; }
    .gb_topic_subcaption a:focus, .gb_topic_subcaption a:hover {
      color: #DA2315; }

/* ==========================================================================
	Trello
============================================================================= */
.fs-trello-lock {
  overflow: hidden; }

.gb_trello_formatter {
  height: 50px;
  width: 100px;
  position: relative;
  background: #fff;
  border: 1px solid #000;
  border-radius: 0;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle; }
  @media screen and (max-width: 499px) {
    .gb_trello_formatter {
      display: none; } }

.gb_trello_format {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0; }
  .gb_trello_format_indicator {
    left: 0;
    background: #000;
    border-radius: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: border-radius .25s, -webkit-transform .25s;
    transition: border-radius .25s, -webkit-transform .25s;
    transition: border-radius .25s, transform .25s;
    transition: border-radius .25s, transform .25s, -webkit-transform .25s; }
    .gb_trello_section_formatter:focus .gb_trello_format_indicator,
    .gb_trello_section_formatter:hover .gb_trello_format_indicator {
      border-radius: 50%; }
    .trello_format_list .gb_trello_format_indicator {
      -webkit-transform: translate(100%, 0);
              transform: translate(100%, 0); }
  .gb_trello_format_grid {
    left: 0; }
    .gb_trello_format_grid:before {
      height: 4px;
      width: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      background: #fff;
      -webkit-box-shadow: -6px 0 0 0 #fff, -6px -6px 0 0 #fff, 0 -6px 0 0 #fff, 6px -6px 0 0 #fff, 6px 0 0 0 #fff, 6px 6px 0 0 #fff, 0 6px 0 0 #fff, -6px 6px 0 0 #fff;
              box-shadow: -6px 0 0 0 #fff, -6px -6px 0 0 #fff, 0 -6px 0 0 #fff, 6px -6px 0 0 #fff, 6px 0 0 0 #fff, 6px 6px 0 0 #fff, 0 6px 0 0 #fff, -6px 6px 0 0 #fff;
      content: "";
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: background .25s, -webkit-box-shadow .25s;
      transition: background .25s, -webkit-box-shadow .25s;
      transition: background .25s, box-shadow .25s;
      transition: background .25s, box-shadow .25s, -webkit-box-shadow .25s; }
      .trello_format_list .gb_trello_format_grid:before {
        background: #000;
        -webkit-box-shadow: -6px 0 0 0 #000, -6px -6px 0 0 #000, 0 -6px 0 0 #000, 6px -6px 0 0 #000, 6px 0 0 0 #000, 6px 6px 0 0 #000, 0 6px 0 0 #000, -6px 6px 0 0 #000;
                box-shadow: -6px 0 0 0 #000, -6px -6px 0 0 #000, 0 -6px 0 0 #000, 6px -6px 0 0 #000, 6px 0 0 0 #000, 6px 6px 0 0 #000, 0 6px 0 0 #000, -6px 6px 0 0 #000; }
  .gb_trello_format_list {
    right: 0; }
    .gb_trello_format_list:before {
      height: 3px;
      width: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      background: #000;
      -webkit-box-shadow: 0 -6px 0 0 #000, 0 6px 0 0 #000;
              box-shadow: 0 -6px 0 0 #000, 0 6px 0 0 #000;
      content: "";
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: background .25s, -webkit-box-shadow .25s;
      transition: background .25s, -webkit-box-shadow .25s;
      transition: background .25s, box-shadow .25s;
      transition: background .25s, box-shadow .25s, -webkit-box-shadow .25s; }
      .trello_format_list .gb_trello_format_list:before {
        background: #fff;
        -webkit-box-shadow: 0 -6px 0 0 #fff, 0 6px 0 0 #fff;
                box-shadow: 0 -6px 0 0 #fff, 0 6px 0 0 #fff; }

.gb_trello_detail_lock .gb_trello_list {
  display: none; }

.gb_trello_section {
  margin: 0; }
  .gb_trello_section.empty {
    display: none; }

.gb_trello_section_header {
  margin-bottom: 30px; }

.gb_trello_section_title {
  font-family: "Neue Haas Grotesk Display Std", sans-serif;
  font-weight: 500;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.35714;
  position: relative;
  z-index: 4;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding-top: 80px; }
  @media screen and (min-width: 740px) {
    .gb_trello_section_title {
      font-size: 34px;
      font-size: 2.125rem;
      line-height: 1.47059; } }
  @media screen and (min-width: 980px) {
    .gb_trello_section_title {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.2; } }

.gb_trello_section_label {
  background: #000;
  display: block;
  padding: 1px 10px; }

.gb_trello_section_caption {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  margin-bottom: 50px; }
  @media screen and (min-width: 980px) {
    .gb_trello_section_caption {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.7; } }

.gb_trello_section_body {
  margin-top: 50px; }

.gb_trello_detail {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 80;
  background: #fff;
  display: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 100px; }
  .gb_trello_detail:after {
    clear: both;
    content: "";
    display: table; }
  .gb_trello_detail.hash-swap-active, .gb_trello_detail.fs-swap-active {
    display: block; }

.gb_trello_detail_ribbon {
  position: relative;
  background: #000;
  margin-bottom: 2em;
  padding: 0 20px; }
  .gb_trello_detail_ribbon:after {
    clear: both;
    content: "";
    display: table; }

.gb_trello_detail_pager {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 500;
  color: #fff;
  display: none;
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 37px 0; }
  @media screen and (min-width: 1220px) {
    .gb_trello_detail_pager {
      display: inline-block; } }
  .gb_trello_detail_pager:before, .gb_trello_detail_pager:after {
    height: 6px;
    width: 6px;
    border-bottom: 2px solid #fff;
    content: "";
    display: inline-block;
    margin-top: -3px;
    vertical-align: middle; }
  .gb_trello_detail_pager_prev {
    float: left; }
    .gb_trello_detail_pager_prev:before {
      border-left: 2px solid #fff;
      margin-right: 10px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .gb_trello_detail_pager_prev:after {
      display: none; }
  .gb_trello_detail_pager_next {
    float: right; }
    .gb_trello_detail_pager_next:before {
      display: none; }
    .gb_trello_detail_pager_next:after {
      border-right: 2px solid #fff;
      margin-left: 10px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.gb_trello_detail_close {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 700;
  position: relative;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 20px 35px; }
  @media screen and (min-width: 1220px) {
    .gb_trello_detail_close {
      position: absolute;
      top: 0;
      left: 50%;
      padding: 37px 35px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }
  .gb_trello_detail_close:before {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    -webkit-box-shadow: 11px 0 0 0 #fff, 0 11px 0 0 #fff, 11px 11px 0 0 #fff;
            box-shadow: 11px 0 0 0 #fff, 0 11px 0 0 #fff, 11px 11px 0 0 #fff;
    content: "";
    margin-bottom: 6px;
    margin-top: -6px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .gb_trello_detail_close:after {
    height: 44px;
    width: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-box-shadow: inset 0 0 0 22px #fff;
            box-shadow: inset 0 0 0 22px #fff;
    border-radius: 50%;
    content: "";
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0); }
  .gb_trello_detail_close:focus:after, .gb_trello_detail_close:hover:after {
    -webkit-animation: trello-burst .5s forwards;
            animation: trello-burst .5s forwards; }

@-webkit-keyframes trello-burst {
  80% {
    opacity: 1; }
  100% {
    -webkit-box-shadow: inset 0 0 0 0 #fff;
            box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); } }

@keyframes trello-burst {
  80% {
    opacity: 1; }
  100% {
    -webkit-box-shadow: inset 0 0 0 0 #fff;
            box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); } }

.gb_trello_detail_inner {
  margin: 0 auto; }

.gb_trello_detail_title {
  margin: 0 0 30px; }

.gb_trello_detail_component {
  margin: 0 auto; }

.gb_trello_detail_cover {
  margin-bottom: 30px; }

.gb_trello_detail_image {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

.gb_trello_detail_live:after {
  height: 12px;
  width: 12px;
  background: #000;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 #DA2315;
          box-shadow: 0 0 0 0 #DA2315;
  content: "";
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  -webkit-transition: background .25s;
  transition: background .25s; }

.gb_trello_detail_live:focus:after, .gb_trello_detail_live:hover:after {
  -webkit-animation: live 1s infinite;
          animation: live 1s infinite;
  background: #DA2315; }

@-webkit-keyframes live {
  100% {
    -webkit-box-shadow: 0 0 0 4px transparent;
            box-shadow: 0 0 0 4px transparent; } }

@keyframes live {
  100% {
    -webkit-box-shadow: 0 0 0 4px transparent;
            box-shadow: 0 0 0 4px transparent; } }

/* ==========================================================================
	Colors
============================================================================= */
@media screen and (min-width: 500px) {
  .gb_colors {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.gb_color {
  max-width: 260px;
  margin-bottom: 8%;
  text-align: left; }
  @media screen and (min-width: 500px) {
    .gb_color {
      width: 42%;
      margin-right: 4%;
      margin-bottom: 4%; } }
  @media screen and (min-width: 980px) {
    .gb_color {
      width: 25.33%; } }

.gb_color_block {
  height: 100px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px; }

.gb_color_label {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.76471;
  background: none;
  border: 0;
  display: block;
  line-height: 1.25;
  outline: 0;
  padding: 0; }
  @media screen and (min-width: 980px) {
    .gb_color_label {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.7; } }

.gb_color_copy {
  font-family: "Neue Haas Grotesk Text Std", sans-serif;
  font-weight: 700;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.25;
  margin: 2px 0;
  opacity: 0;
  text-decoration: underline;
  text-transform: uppercase;
  -webkit-transition: opacity .25s;
  transition: opacity .25s; }
  .gb_color:focus .gb_color_copy,
  .gb_color:hover .gb_color_copy {
    opacity: 1; }

/* Types
============================================================================= */
.gb_type {
  margin-bottom: 30px; }
  .gb_type:last-child {
    margin-bottom: 0; }

.gb_type_item {
  max-width: 170px;
  width: 100%;
  border: 1px solid #979797;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 25px 20px 16px; }

.gb_type_test {
  display: block;
  font-size: 58px;
  font-size: 3.625rem; }

.gb_type_weight {
  display: block;
  font-size: 18px;
  font-size: 1.125rem; }
