/* ==========================================================================
	Site Search
============================================================================= */

.site_search_handle {
	position: relative;
}

	.site_search_handle_label {
		@include visually_hide;
	}

	.site_search_handle_icon {}


// Search Form
// =============================================================================

.site_search {
	position: relative;
}

	.site_search_form {}

		.site_search_label {
			@include visually_hide;
		}

		.site_search_input {
			@include focus_outline_none;

			&::placeholder {
				text-overflow: ellipsis;
			}

			&[placeholder] {
				text-overflow: ellipsis;
			}
		}

		.site_search_button {
			height: 100%;
			width: 40px;

			position: absolute;
			top: 0;
			right: 0;

			cursor: pointer;

			&:focus,
			&:hover {}
		}

			.site_search_button_label {
				@include visually_hide;
			}

			.site_search_button_icon {
				position: absolute;
				top: 50%;
				left: 50%;

				pointer-events: none;
				transform: translate(-50%, -50%);
			}
