/* ==================================================================
	 Imports
================================================================== */
/* ==========================================================================
	Variables
============================================================================= */
/* ==========================================================================
	Mixins
============================================================================= */
/**
 * Cover Image:
 *
 * Use on wrapping element of img (<figure>, <picture>)
 * Will work like background-size: cover; but with static images
 * Won't scale it down though, so good to use with picturefill
 */
/* ==================================================================
	 IE9
================================================================== */
