/* ==========================================================================
	Component Reference
============================================================================= */

// CRL Basics
// =============================================================================

.cr_heading {
	border-bottom: 1px solid;
	color: #666;
	margin: 40px 0 20px;
	text-transform: uppercase;
}

.cr_description {
	color: #666;
	font-size: 14px;
}


// Color Blocks
// =============================================================================

.cr_color_blocks {
	@include margined_md_bottom;
}

.cr_color_block_cell {
	display: inline-block;
	margin-bottom: 4px;
}

.cr_color_block_content {
	@include h5;

	padding: 20px;
}
