/* ==========================================================================
	Base Elements
============================================================================= */

html {
	background: #fff;
}

body {
	min-width: 300px;

	overflow-x: hidden;

	&:before {
		height: 100%;
		width: 100%;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;

		background: rgba(#000, 0.75);
		content: "";
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition:
			opacity 0.35s,
			visibility 0.35s;

		@media #{$reduce} {
			transition-duration: 0.6s;
		}
	}

	&.fs-page-lock {

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

::selection {
	background: #ddd;
	text-shadow: none;
}

iframe {
	border: none;
}

menu {
	margin: 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

figure {
	margin: 0;
}

hr {
	height: 1px;

	background: #ddd;
	border: none;
	margin: 0;
}

a {
	text-decoration: none;

	&[href^=tel] {
		color: inherit;
	}
}

strong {
	font-weight: 700;
}