// Fonts
// =============================================================================

@mixin font-face($name, $list) {
	@each $file, $weight, $style in $list {
		@font-face {
			font-family: $name;
			src: url("../fonts/#{$file}.otf");
			font-weight: $weight;

			@if $style {
				font-style: $style;
			}
		}
	}
}

@mixin family($weight: 400) {
	font-family: "font_family_name", sans-serif;
	font-weight: $weight;
}