/* ==========================================================================
	Footer
============================================================================= */

.footer {
	background: #eee;
	padding: 20px 0;

	@media print {
		display: none;
	}
}

.footer_ribbon {}

.footer_ribbon_inner {}