/* ==========================================================================
	Footer
============================================================================= */

.footer {
	background: #eee;
	padding: 20px 0;

	@media print {
		display: none;
	}
}

.footer_ribbon {}

.footer_ribbon_inner {}


// Address
// =============================================================================

.footer_address {}

.footer_address_name {}

.footer_address_street {}

.footer_address_city {}

.footer_address_state {}

.footer_address_zip {}

.footer_address_email {}

.footer_address_phone {
	color: inherit;
}

.footer_address_icon {}

.footer_address_label {}