/* ==========================================================================
	Menu
============================================================================= */

.menu_handle {
	height: 40px;
	width: 40px;

	position: relative;

	display: block;

	@media print {
		display: none;
	}

	@media #{$min_lg} {
		display: none;
	}
}

.menu_handle_icon {
	position: absolute;
	top: 50%;
	left: 50%;

	pointer-events: none;
	transform: translate(-50%, -50%);
}

.menu_handle_label {
	@include visually_hide;
}


/* Menu Body
============================================================================= */

.menu {
	@include focus_outline_none;

	width: 100%;
	max-width: 320px;

	position: relative;
	top: 0;
	right: 0;
	z-index: 400;

	background: #fff;
	display: block;
	transition:
		opacity .35s,
		transform .35s,
		visibility .35s;

	@media print {
		display: none;
	}

	@media #{$min_lg} {
		display: none;
	}

	.js & {
		@include fake_scroll();

		height: 100%;

		position: fixed;

		opacity: 0;
		visibility: hidden;
	}

	&.fs-swap-active {
		opacity: 1;
		visibility: visible;
	}
}


/* Menu Close
============================================================================= */

.menu_close {}

.menu_close_icon {}

.menu_close_label {}