/* ==========================================================================
	Menu
============================================================================= */

.menu_handle {
	height: 40px;
	width: 40px;

	position: relative;

	display: block;

	@media print {
		display: none;
	}

	@media #{$min_lg} {
		display: none;
	}
}

.menu_handle_icon {
	@include center;

	pointer-events: none;
}

.menu_handle_label {
	@include visually_hide;
}


/* Menu Body
============================================================================= */

.menu {
	@include focus_outline_none;

	width: 100%;
	max-width: 320px;

	position: relative;
	top: 0;
	right: 0;
	z-index: 400;

	background: #fff;
	display: block;

	@media #{$reduce} {
		transition-duration: 0.6s;
	}

	@media print {
		display: none;
	}

	@media #{$min_lg} {
		display: none;
	}

	.loaded & {
		transition:
			opacity 0.35s,
			transform 0.35s,
			visibility 0.35s;
	}

	.js & {
		@include fake_scroll();

		min-height: 100%;

		position: fixed;

		opacity: 0;
		visibility: hidden;
	}

	&.fs-swap-active {
		opacity: 1;
		visibility: visible;
	}
}

.menu_title {
	@include visually_hide;
}


/* Menu Close
============================================================================= */

.menu_close {
	display: none;

	.js & {
		display: block;
	}
}

.menu_close_icon {}

.menu_close_label {}