/* ==========================================================================
	Mobile Sidebar
============================================================================= */

.mobile_sidebar_handle_wrapper {
	position: relative;

	@media print {
		display: none;
	}

	@media #{$min_lg} {
		display: none;
	}
}

.mobile_sidebar_handle {}


// Sidebar
// =============================================================================

.mobile_sidebar {
	@include focus_outline_none;

	background: #fff;

	.js & {
		width: 100%;
		max-width: 320px;
		height: 100%;

		position: fixed;
		top: 0;
		right: 0;
		z-index: 400;

		opacity: 0;
		overflow-y: auto;
		visibility: hidden;
		transition:
			opacity .35s,
			transform .35s,
			visibility .35s;
	}

	@media print {
		display: none;
	}

	@media #{$min_lg} {
		display: none;
	}

	&.fs-swap-active {
		opacity: 1;
		visibility: visible;
	}
}
