/* ==========================================================================
	Menu
============================================================================= */

.menu_handle {
	position: relative;

	@media print {
		display: none;
	}

	@media #{$min_lg} {
		display: none;
	}
}


// Sidebar
// =============================================================================

.menu {
	@include focus_outline_none;

	background: #fff;
	display: block;

	@media print {
		display: none;
	}

	.js & {
		@include fake_scroll();

		width: 100%;
		max-width: 320px;
		height: 100%;

		position: fixed;
		top: 0;
		right: 0;
		z-index: 400;

		opacity: 0;
		visibility: hidden;
		transition:
			opacity .35s,
			transform .35s,
			visibility .35s;
	}

	&.fs-swap-active {
		opacity: 1;
		visibility: visible;
	}
}
