/* ==========================================================================
	Page
============================================================================= */

.page_wrapper {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.page_inner {
	flex-grow: 1;
}

.page_feature {}

.page_content {

	> .fs-row {
		@include clearfix;

		display: block;
	}
}

.page_aside {

	@media #{$min_lg} {
		float: right;
	}
}

.page_sub_nav {}

.page_main_content {
	@include focus_outline_none;

	display: block;

	@media #{$min_lg} {
		float: left;
	}

	.page_layout_full & {

		@media #{$min_lg} {
			float: none;
		}
	}
}

.page_header {}

.page_title {
	@include h1;
}

.page_sidebar {
	clear: right;
}
