/* ==========================================================================
	Page
============================================================================= */

.page_wrapper {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.page {
	flex-grow: 1;
}

.page_feature {}

.page_content {

	> .fs-row {
		@include clearfix;

		display: block;
	}
}

.aside_wrapper {

	@media #{$min_lg} {
		float: right;
	}
}

.content_wrapper {

	@media #{$min_lg} {
		float: left;
	}
}

.main_content {
	@include focus_outline_none;
}

.page_header {}

.page_title {
	@include h1;
}

.sidebar_wrapper {
	clear: right;
}
