/* ==========================================================================
	Base Elements
============================================================================= */

html {
	background: #fff;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 300px;

	overflow-x: hidden;
}

::selection {
	background: #eee;
	text-shadow: none;
}

iframe {
	border: none;
}

menu {
	margin: 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

figure {
	margin: 0;
}

hr {
	width: 100%;
	height: 1px;

	background: #eee;
	border: none;
	clear: both;
	margin: 0;
	padding: 0;
}
