<section class="alert{% if theme %} theme_{{theme}}{% endif %}">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="alert_wrapper">
				<button class="js-swap alert_close" data-swap-target=".alert"></button>
				<div class="alert_body">
					<p class="alert_time"><time>{{date}}</time></p>
					<h3 class="alert_title">{{title}}</h3>
					<p class="alert_caption">{{caption}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
