/* ==========================================================================
	Sub Navigation
============================================================================= */

.sub_nav {}

	.sub_nav_header {}

		.sub_nav_title {
			@include visually_hide;
		}


// Sub Nav Handle
// =============================================================================

.sub_nav_handle_wrapper {
	position: relative;
}

	.sub_nav_handle {
		@include button_block;

		position: relative;

		padding-right: 40px;
		text-align: left;

		@media #{$min_lg} {
			display: none;
		}

		&.fs-navigation-open {}
	}

	.sub_nav_handle_icon {
		position: absolute;
		top: 50%;
		right: 20px;

		transform: translate(0, -50%);

		.fs-navigation-open + & {}
	}


// Sub Nav Links
// =============================================================================

.sub_nav_list {
	@include focus_outline_none();
}

	.sub_nav_item {}

		.sub_nav_link {
			display: block;

			&:focus,
			&:active,
			&:hover {}
		}
