/* ==========================================================================
	Checkbox
============================================================================= */

$fs-checkbox-marker-size: 20px;

$fs-checkbox-toggle-marker-height: 40px;
$fs-checkbox-toggle-marker-width: 100px;

.fs-checkbox {
	cursor: pointer;

	&-disabled {
		cursor: default;
		opacity: .5;
	}


	// Checkbox & Radio
	// ===========================================================================

	&-marker {
		position: relative;

		width: $fs-checkbox-marker-size;
		height: $fs-checkbox-marker-size;

		border: 1px solid;
		display: inline-block;
		vertical-align: middle;
	}

	&-radio &-marker {
		border-radius: 100%;
	}

	&-flag {
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		right: 0;

		&:before {
			height: 10px;
			width: 5px;

			position: absolute;
			top: 50%;
			left: 50%;

			border: 2px solid;
			border-top: 0;
			border-left: 0;
			content: '';
			display: block;
			transform:
				translate(-50%, -50%)
				rotate(45deg)
				scale(0);
			transition: transform .25s;
		}
	}

	&-checked &-flag:before {
		transform:
			translate(-50%, -50%)
			rotate(45deg)
			scale(1);
	}

	&-radio &-flag {
		width: ($fs-checkbox-marker-size / 2);
		height: ($fs-checkbox-marker-size / 2);

		top: 50%;
		left: 50%;

		background: #000;
		border-radius: inherit;
		transform:
			translate(-50%, -50%)
			scale(0);
		transition: transform .25s;

		&:before {
			display: none;
		}
	}

	&-radio.fs-checkbox-checked &-flag {
		transform:
			translate(-50%, -50%)
			scale(1);
	}

	&-element {
		@include visually_hide;
	}

	&-label {
		cursor: inherit;
		display: inline-block;
		user-select: none;
		vertical-align: middle;
	}

	&-element_placeholder {
		display: none;
		visibility: hidden;
	}


	// Toggle
	// ===========================================================================

	&-toggle &-marker {
		height: $fs-checkbox-toggle-marker-height;
		width: $fs-checkbox-toggle-marker-width;

		position: relative;
	}

	&-toggle &-flag {
		height: 100%;
		width: 50%;

		position: absolute;
		top: 0;
		left: 0;

		background: #000;
		display: block;
		transition:
			left .25s,
			background .25s;
	}

	&-toggle.fs-checkbox-checked &-flag {
		left: 50%;

		&:before {
			display: none;
		}
	}

	&-toggle.fs-checkbox-disabled &-flag:after {
		display: none;
	}

	&-toggle &-state {
		width: 50%;

		display: block;
		line-height: $fs-checkbox-toggle-marker-height;
		text-align: center;
		user-select: none;

		&_on {
			float: left;
		}

		&_off {
			float: right;
		}
	}

	&-toggle &-label {
		line-height: $fs-checkbox-toggle-marker-height;
	}
}
