<div class="gb_typography">
	{% for key, group in colors %}
		<h2 id="{{key}}">{{key}}</h2>
		<div class="gb_colors">
			{% for name, color in group %}
				<div class="gb_color">
					<div class="gb_color_block" style="background: {{color}};"></div>
					<div class="gb_color_details">
						<span class="gb_color_label">{{color}}</span>
						<button class="gb_color_copy">Copy Hex to Clipboard</button>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>

<script>
	var clippy = document.querySelectorAll('.gb_color_copy');

	for(var i = 0; i < clippy.length; i++) {
		clippy[i].addEventListener('click', function() {
			var item = this.previousElementSibling;
			var range = document.createRange();
			range.selectNode(item);

			window.getSelection().addRange(range);

			try {
				var successful = document.execCommand('copy');
				var msg = successful ? 'successful' : 'unsuccessful';
			} catch(err) {}

			window.getSelection().removeAllRanges();
		});
	}
</script>
