<div class="gb_section">
	<div class="gb_section_header">
		<h2 class="gb_section_title" id="headings">Headings</h2>
		<p class="gb_section_caption">H1 through H6</p>
	</div>
	<div class="gb_section_body">
		<div class="gb_text">
			<span class="gb_label" data-label="H1"></span>
			<div class="typography">
				<h1>Heading Level One</h1>
			</div>
		</div>
		<div class="gb_text">
			<span class="gb_label" data-label="H2"></span>
			<div class="typography">
				<h2>Heading Level Two</h2>
			</div>
		</div>
		<div class="gb_text">
			<span class="gb_label" data-label="H3"></span>
			<div class="typography">
				<h3>Heading Level Three</h3>
			</div>
		</div>
		<div class="gb_text">
			<span class="gb_label" data-label="H4"></span>
			<div class="typography">
				<h4>Heading Level Four</h4>
			</div>
		</div>
		<div class="gb_text">
			<span class="gb_label" data-label="H5"></span>
			<div class="typography">
				<h5>Heading Level Five</h5>
			</div>
		</div>
		<div class="gb_text">
			<span class="gb_label" data-label="H6"></span>
			<div class="typography">
				<h6>Heading Level Six</h6>
			</div>
		</div>
	</div>
</div>

<div class="gb_section">
	<div class="gb_section_header">
		<h2 class="gb_section_title" id="paragraphs">Paragraphs</h2>
	</div>
	<div class="gb_section_body">
		<div class="gb_text">
			<span class="gb_label" data-label="Body Large"></span>
			<div class="typography">
				<p class="intro">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.</p>
			</div>
		</div>
		<div class="gb_text">
			<span class="gb_label" data-label="Body"></span>
			<div class="typography">
				<p class="copy">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.</p>
			</div>
		</div>
		<div class="gb_text">
			<span class="gb_label" data-label="Body Small"></span>
			<div class="typography">
				<p class="label">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.</p>
			</div>
		</div>
	</div>
</div>

<div class="gb_section">
	<div class="gb_section_header">
		<h2 class="gb_section_title" id="lists">Lists</h2>
	</div>
	<div class="gb_section_body">
		<div class="typography">
			<ul>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
				<li>
					List Item
					<ul>
						<li>List Item</li>
						<li>
							List Item
							<ul>
								<li>List Item</li>
								<li>List Item</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<ol>
				<li>List Item</li>
				<li>List Item</li>
				<li>List Item</li>
				<li>
					List Item
					<ol>
						<li>List Item</li>
						<li>
							List Item
							<ol>
								<li>List Item</li>
								<li>List Item</li>
							</ol>
						</li>
					</ol>
				</li>
			</ol>
		</div>
	</div>
</div>

<div class="gb_section">
	<div class="gb_section_header">
		<h2 class="gb_section_title" id="tables">Tables</h2>
	</div>
	<div class="gb_section_body">
		<div class="typography">
			{{ site.table({
				headers: [
					"Colors",
					"Shapes",
					"Numbers",
					"Percentages"
				],
				rows: [
					[
						"Black",
						"Circle",
						"One",
						"10% of Lorem ipsum dolor sit amet, consectetur."
					],
					[
						"Blue",
						"Square",
						"Two",
						"33% of Donec ullamcorper nulla non metus auctor."
					],
					[
						"Green",
						"Triangle",
						"Three",
						"5% of Integer posuere erat a ante venenatis."
					],
					[
						"Red",
						"Rectangle",
						"Four",
						"90% of Aenean eu leo quam vestibulum."
					],
					[
						"White",
						"Oval",
						"Five",
						"100% of Cum sociis natoque penatibus et mus."
					]
				]
			}) }}
		</div>
	</div>
</div>

<div class="gb_section">
	<div class="gb_section_header">
		<h2 class="gb_section_title" id="blockquote">Blockquote</h2>
	</div>
	<div class="gb_section_body">
		<div class="typography">
			<figure class="quote">
				<blockquote class="quote_content">
					<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
				</blockquote>
				<figcaption class="quote_caption">
					<span class="quote_caption_name">Aenean massa - </span><span class="quote_caption_title">Nullam dictum felis</span>
				</figcaption>
			</figure>
		</div>
	</div>
	<script>
		var labels = document.querySelectorAll('.gb_label');

		window.addEventListener("resize", updateSizes);

		updateSizes();

		function updateSizes() {
			for(var i = 0; i < labels.length; i++) {
				var styles = window.getComputedStyle(labels[i].nextElementSibling.children[0]);
				var labelString = '<strong class="gb_label_strong">' + labels[i].getAttribute('data-label') + '</strong> ' + parseStyle(styles.getPropertyValue('font-size')) + ' / ' + parseStyle(styles.getPropertyValue('line-height')) + ' ~ ' + styles.getPropertyValue('font-family');

				labels[i].innerHTML = labelString;
			}
		}

		function parseStyle(type) {
			var value = type;
			value = value.replace('px', '');
			value = Math.round(parseFloat(value)) + 'px';

			return value;
		}
	</script>
</div>