<div class="gb_trello_wrapper">
	<div class="gb_trello_detail">
		<div class="fs-lg-10 fs-xl-8 gb_typography">
			<h1 class="gb_trello_detail_title"></h1>
			<img class="gb_trello_detail_image" src="" />
			<div class="gb_trello_detail_content"></div>
		</div>
	</div>
	<div class="gb_trello_list"></div>
</div>
