{% extends "templates/_ref.twig" %}

{% block data %}
	{% if accessibility %}
		{% set page = {
			tabTitle: "Accessibility Report"
		} %}
	{% else %}
		{% set page = {
			tabTitle: "Sitemap"
		} %}
	{% endif %}
{% endblock %}

{% block main %}
	{% if accessibility %}
		<style>
			.sitemap_group:first-child {
				display: none;
			}

			.sitemap_link {
				font-size: 150%;
			}

			.sitemap_item {
				display: none;
			}

			.sitemap_item[class*="page-"] {
				display: block;
			}
		</style>
	{% endif %}
	<ul class="sitemap">
		{% for link in sitemap %}
			<li class="sitemap_item {{link|replace({".html": ""})}}{% if 'fs' in link %} fs-style-guide{% elseif 'dev' in link %} fs-dev{% elseif 'page' in link %} fs-page{% elseif 'ref' in link %} fs-ref{% elseif 'accessibility' in link %} fs-access{% endif %}">
				<a class="sitemap_link" href="{% if accessibility %}../accessibility{% else %}templates{% endif %}{{link}}">{{link|replace({
					".html": "",
					"-": " ",
					"/": ""
				})|replace({
					"fs": "",
					"page": "",
					"dev": "",
					"ref": ""
				})}}</a>
			</li>
		{% endfor %}
	</ul>
	{% if trello == "" %}
		<style>
			.fs-style-guide {
				display: none;
			}
		</style>
	{% endif %}
	<script>
		var sitemap = document.querySelector('.sitemap');
		var fsAccess = document.querySelectorAll('.fs-access');
		var fsDev = document.querySelectorAll('.fs-dev');
		var fsGuide = document.querySelectorAll('.fs-style-guide');
		var fsPage = document.querySelectorAll('.fs-page');
		var fsRef = document.querySelectorAll('.fs-ref');

		wrap(fsAccess);
		wrap(fsDev);
		wrap(fsGuide);
		wrap(fsPage);
		wrap(fsRef);
		wrap(fsTest);

		function wrap(element) {
			var group = document.createElement('div');
			group.classList.add('sitemap_group');

			for(var i = 0; i < element.length; i++) {
				group.appendChild(element[i]);
			}

			sitemap.appendChild(group);
		}
	</script>
{% endblock %}
