{% extends "templates/_ref.twig" %}

{% block data %}
	{% if sitemap.templates %}
		{% set page = {
			tabTitle: "Sitemap",
			title: name
		} %}
		{% set map = sitemap.templates %}
	{% elseif sitemap.accessibility %}
		{% set page = {
			tabTitle: "Accessibility Sitemap",
			title: name
		} %}
		{% set map = sitemap.accessibility %}
	{% endif %}
{% endblock %}

{% block main %}
	{% if sitemap.accessibility %}
		<style>
			.sitemap_group:first-child {
				display: none;
			}

			.sitemap_link {
				font-size: 150%;
			}

			.sitemap_item {
				display: none;
			}

			.sitemap_item[class*="page-"] {
				display: block;
			}
		</style>
	{% endif %}
	<ul class="sitemap">
		{% for key, link in map %}
			<li class="sitemap_item {{key|replace({".html": ""})}}{% if 'fs' in key %} fs-style-guide{% elseif 'dev' in key %} fs-dev{% elseif 'page' in key %} fs-page{% elseif 'ref' in key %} fs-ref{% elseif 'test' in key %} fs-test{% elseif 'accessibility' in key %} fs-access{% endif %}">
				<a class="sitemap_link" href="{% if sitemap.accessibility %}../{% endif %}{{link}}">{{key|replace({
					".html": "",
					"-": " "
				})|replace({
					"fs": "",
					"page": "",
					"dev": "",
					"ref": "",
					"test": ""
				})}}</a>
			</li>
		{% endfor %}
	</ul>
	{% if trello == "" %}
		<style>
			.fs-style-guide {
				display: none;
			}
		</style>
	{% endif %}
	<script>
		var sitemap = document.querySelector('.sitemap');
		var fsAccess = document.querySelectorAll('.fs-access');
		var fsDev = document.querySelectorAll('.fs-dev');
		var fsGuide = document.querySelectorAll('.fs-style-guide');
		var fsPage = document.querySelectorAll('.fs-page');
		var fsRef = document.querySelectorAll('.fs-ref');
		var fsTest = document.querySelectorAll('.fs-test');

		wrap(fsAccess);
		wrap(fsDev);
		wrap(fsGuide);
		wrap(fsPage);
		wrap(fsRef);
		wrap(fsTest);

		function wrap(element) {
			var group = document.createElement('div');
			group.classList.add('sitemap_group');

			for(var i = 0; i < element.length; i++) {
				group.appendChild(element[i]);
			}

			sitemap.appendChild(group);
		}
	</script>
{% endblock %}
