{% extends "templates/_ref.twig" %}

{% block data %}
	{% if sitemap.templates %}
		{% set page = {
			tabTitle: "Sitemap",
			title: name
		} %}
		{% set map = sitemap.templates %}
	{% elseif sitemap.accessibility %}
		{% set page = {
			tabTitle: "Accessibility Sitemap",
			title: name
		} %}
		{% set map = sitemap.accessibility %}
	{% endif %}
{% endblock %}

{% block main %}
	{% if sitemap.accessibility %}
		<style>
			.sitemap_group:first-child {
				display: none;
			}
				.sitemap_link {
					font-size: 150%;
				}
		</style>
	{% endif %}
	<ul class="sitemap">
		{% for key, link in map %}
			<li class="sitemap_item {% if 'fs-style' in key %}fs-style-guide{% elseif 'page' in key %}fs-page{% elseif 'ref' in key %}fs-ref{% elseif 'test' in key %}fs-test{% elseif 'accessibility' in key %}fs-access{% endif %}">
				<a class="sitemap_link" href="{% if sitemap.accessibility %}../{% endif %}{{link}}">{{key|replace({
					".html": "",
					"-": " "
				})|replace({
					"fs": "",
					"page": "",
					"ref": "",
					"test": ""
				})}}</a>
			</li>
		{% endfor %}
	</ul>
	<script>
		var sitemap = document.querySelector('.sitemap');
		var fsAccess = document.querySelectorAll('.fs-access');
		var fsGuide = document.querySelectorAll('.fs-style-guide');
		var fsPage = document.querySelectorAll('.fs-page');
		var fsRef = document.querySelectorAll('.fs-ref');
		var fsTest = document.querySelectorAll('.fs-test');

		wrap(fsAccess);
		wrap(fsGuide);
		wrap(fsPage);
		wrap(fsRef);
		wrap(fsTest);

		function wrap(element) {
			var group = document.createElement('div');
			group.classList.add('sitemap_group');

			for(var i = 0; i < element.length; i++) {
				group.appendChild(element[i]);
			}

			sitemap.appendChild(group);
		}
	</script>
{% endblock %}
