{% extends "templates/_ref.twig" %}

{% block data %}
	{% set page = {
		tabTitle: "Sitemap",
		title: name
	} %}
{% endblock %}

{% block main %}
	<ul class="sitemap">
		{% for key, link in sitemap.templates %}
			<li class="sitemap_item {% if 'fs-style' in key %}fs-style-guide{% elseif 'page' in key %}fs-page{% elseif 'ref' in key %}fs-ref{% elseif 'test' in key %}fs-test{% endif %}">
				<a class="sitemap_link" href="{{link}}">{{key|replace({
					".html": "",
					"-": " "
				})|replace({
					"fs": "",
					"page": "",
					"ref": "",
					"test": ""
				})}}</a>
			</li>
		{% endfor %}
	</ul>
	<script>
		var sitemap = document.querySelector('.sitemap');
		var fsGuide = document.querySelectorAll('.fs-style-guide');
		var fsPage = document.querySelectorAll('.fs-page');
		var fsRef = document.querySelectorAll('.fs-ref');
		var fsTest = document.querySelectorAll('.fs-test');

		wrap(fsGuide);
		wrap(fsPage);
		wrap(fsRef);
		wrap(fsTest);

		function wrap(element) {
			var group = document.createElement('div');
			group.classList.add('sitemap_group');

			for(var i = 0; i < element.length; i++) {
				group.appendChild(element[i]);
			}

			sitemap.appendChild(group);
		}
	</script>
{% endblock %}
