{% if name == "site-title" or description == "Site description." or repository.url == "url" or vars.namespace == "namespace" or vars.name == "Client Name" or vars.domain == "www.example.com" %}
	<div class="fs-notifications">
		<div class="row">
			{% if name == "site-title" %}
				<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">name</span>
				</h2>
			{% endif %}
			{% if description == "Site description." %}
				<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">description</span>
				</h2>
			{% endif %}
			{% if repository.url == "url" %}
				<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">repository.url</span>
				</h2>
			{% endif %}
			{% if vars.namespace == "generic" %}
				<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">vars.namespace</span>
				</h2>
			{% endif %}
			{% if vars.name == "Client Name" %}
				<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">vars.name</span>
				</h2>
			{% endif %}
			{% if vars.domain == "www.example.com" %}
				<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">vars.domain</span>
				</h2>
			{% endif %}
		</div>
	</div>

	<style>
		.fs-notifications {
			background: #f8f8f8;
			border-top: 5px solid #f99;
			color: #333;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 20px 0;
		}

			.fs-notification-label {
				color: #888;
				font-weight: normal;
			}
	</style>
{% endif %}
