<!-- Subnav -->
<nav class="sub_nav" aria-label="Additional Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h2 class="sub_nav_heading">Additional Navigation</h2>
	<div class="js-navigation sub_nav_list" data-navigation-handle=".sub_nav_heading" role="navigation">
		<div class="sub_nav_item" itemprop="url">
			<a class="sub_nav_link" href="1.2.style-guide-feature.html" itemprop="name">Page Feature Components</a>
		</div>
		<div class="sub_nav_item" itemprop="url">
			<a class="sub_nav_link" href="1.3.style-guide-in-content.html" itemprop="name">In Content Components</a>
		</div>
		<div class="sub_nav_item" itemprop="url">
			<a class="sub_nav_link" href="1.4.style-guide-sidebar.html" itemprop="name">Sidebar Components</a>
		</div>
		<div class="sub_nav_item" itemprop="url">
			<a class="sub_nav_link" href="1.5.style-guide-full-width.html" itemprop="name">Full Width Components</a>
		</div>
	</div>
</nav>
<!-- END: Subnav -->
