<section class="flex_callout @@class">
	<div class="js-background flex_callout_background" data-background-options='{"source": {"0px": "//spacehold.it/740x740/@@image.jpg", "740px": "//spacehold.it/980x735/@@image.jpg", "980px": "//spacehold.it/1220x686/@@image.jpg"}}'></div>
	<div class="flex_callout_content">
		<header class="flex_callout_header">
			<h5 class="flex_callout_label">@@label</h5>
			<h1 class="flex_callout_heading">@@title</h1>
		</header>
		<div class="flex_callout_description">
			<p>@@description</p>
		</div>
		<div class="flex_callout_links">
			<a class="flex_callout_link" href="@@link">@@explore</a>
			<a class="flex_callout_link" href="@@link">@@action</a>
		</div>
	</div>
</section>
