{#
	TODO:
	1. Update Google CSE key
	2. Update website URL for noscript link
#}

<div class="site_search_results">
	<div class="fs-row">
		<div class="fs-cell">
			<script>
				(function()
				{
					var cx = '011737558837375720776:mbfrjmyam1g'; // 1
					var gcse = document.createElement('script');
					gcse.type = 'text/javascript';
					gcse.async = true;
					gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
						'//cse.google.com/cse.js?cx=' + cx;
					gcse.autoSearchOnLoad = true;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(gcse, s);
				} )();
			</script>
			<gcse:search></gcse:search>
			<noscript>
				<div class="typography">
					<p>The site search requires a JavaScript enabled browser. You can also search the site using <a href="//www.google.com/#q=site:www.*website*.com+%22term%22">Google</a>.</p>{# 1 #}
				</div>
			</noscript>
		</div>
	</div>
</div>
