{# TODO: #}
{% set cseKey = "011737558837375720776:mbfrjmyam1g" %}

<div class="site_search_results{% if theme %} theme_{{theme}}{% endif %}">
	<script>
		(function() {
			var cx = '{{cseKey}}';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		})();
	</script>
	<gcse:search></gcse:search>
	<noscript>
		<div class="typography">
			<p>The site search requires a JavaScript enabled browser. You can also search the site using <a href="//www.google.com/#q=site:{{vars.domain}}">Google</a>.</p>
		</div>
	</noscript>
</div>
