<footer id="footer" class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<div class="fs-row">
		<div class="fs-cell">

			{% include "_address.twig" %}

			{% include "../partials/navigation/footer.twig" with {
				class: ""
			} %}

			{% include "../partials/navigation/social.twig" with {
				class: ""
			} %}

		</div>
	</div>
</footer>
