<!--
	TODO:
	1. Update Client Name
-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<!-- Page Attributes -->
	<title>{% block title %}{% endblock %} | Client Name</title><!-- 1 -->
	<meta name="description" content="">

	<!-- Favions / Touch Icons -->
	{% include "_favicons.html" %}

	<!-- Modernizer -->
	<script src="../../js/modernizr.js"></script>

	<!-- Compiled CSS -->
	<!--[if gt IE 8]><!--><link rel="stylesheet" href="../../css/site.css"><!--<![endif]-->

	<!--[if IE 8]>
		<script>var IE8 = true;</script>
		<script src="../../js/site-ie8.js"></script>
		<link rel="stylesheet" href="../../css/site-ie8.css">
	<![endif]-->
	<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="../../js/site-ie9.js"></script>
		<link rel="stylesheet" href="../../css/site-ie9.css">
	<![endif]-->
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="../../css/site-ie.css">
	<![endif]-->
</head>
