<!--
	TODO:
	1. Update specific type of organization
	(EducationalOrganization, CollegeOrUniversity, etc...)
	2. Update Client Name
	3. Logo needs absolute URL - //www.example.com/logo.png
	4. Update to Client domain
	5. Path to search page on client domain
-->

<!-- Header -->
<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
	<div class="fs-row">
		<div class="fs-cell">

			<!--
				Logo markup as defined by Google structured data
				https://developers.google.com/structured-data/customize/logos
			-->
			<h1 class="logo header_logo" itemscope itemtype="http://schema.org/Organization"><!-- 1 -->
				<a class="header_logo_link" itemprop="url" href="00.1.home.html">Client Name</a><!-- 2 -->
				<meta itemprop="logo" content="../../images/logo-schema.png"><!-- 3 -->
				<img src="../../images/logo-print.png" class="print" alt="">
			</h1>

			{% include '../partials/navigation/secondary.twig' with {
				"class": "lg"
			} %}

			{% include '../partials/navigation/main.twig' with {
				"class": "lg"
			} %}

			<button class="js-nav_handle mobile_sidebar_handle">Menu</button>

			<div class="site_search" id="site_search" itemscope itemtype="http://schema.org/WebSite" role="search">
				<meta itemprop="url" content="//www.example.com/"><!-- 4 -->
				<form class="site_search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
					<meta itemprop="target" content="http://www.example.com/search?q={search_term_string}"><!-- 5 -->
					<label class="site_search_label" for="site_search_term_string">Search</label>
					<input class="site_search_input" itemprop="query-input" type="text" id="site_search_term_string" name="search_term_string" placeholder="Search" required aria-required="true">
					<button class="site_search_button" type="submit" title="submit" aria-label="submit">
						<span>submit</span>
					</button>
				</form>
			</div>

		</div>
	</div>
</header>
<!-- END: Header -->
