<!--
	TODO:
	1. Update specific type of organization
	(EducationalOrganization, CollegeOrUniversity, etc...)
	2. Update Client Name
	3. Logo needs absolute URL - //www.example.com/logo.png
	4. Update to Client domain
	5. Path to search page on client domain
-->

<!-- Header -->
<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
	<div class="fs-row">
		<div class="fs-cell">

			<!--
				Logo markup as defined by Google structured data
				https://developers.google.com/structured-data/customize/logos
			-->
			<h1 class="logo header_logo" itemscope itemtype="http://schema.org/Organization"><!-- 1 -->
				<a class="header_logo_link" itemprop="url" href="00.1.home.html">Client Name</a><!-- 2 -->
				<meta itemprop="logo" content="../../images/logo-schema.png"><!-- 3 -->
				<img src="../../images/logo-print.png" class="print" alt="">
			</h1>

			{% include "../partials/navigation/secondary.twig" with {
				class: "lg"
			} %}

			{% include "../partials/navigation/main.twig" with {
				class: "lg"
			} %}

			<button class="js-nav_handle mobile_sidebar_handle">Menu</button>

			{% include "_site-search.twig" %}

		</div>
	</div>
</header>
<!-- END: Header -->
