<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
	<div class="fs-row">
		<div class="fs-cell">

			{% include "_logo.twig" with {
				class: "header_logo"
			} %}

			{% include "../partials/navigation/main.twig" with {
				class: "main_nav_lg"
			} %}

			{% include "../partials/navigation/secondary.twig" with {
				class: "secondary_nav_lg"
			} %}

			<button class="js-nav_handle mobile_sidebar_handle">Menu</button>

			{% include "_site-search.twig" %}
			
		</div>
	</div>
</header>
