<div class="js-navigation mobile_sidebar" hidden data-navigation-handle=".js-nav_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"type": "overlay", "gravity": "right"}'>
	{% include "../partials/navigation/main.twig" with {
		class: "main_nav_sm"
	} %}

	{% include "../partials/navigation/secondary.twig" with {
		class: "secondary_nav_sm"
	} %}
</div>
