<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
	<span class="footer_address_name" itemprop="name">name</span>
	<span class="footer_address_street" itemprop="streetAddress">street</span>
	<span class="footer_address_city" itemprop="addressLocality">city</span>
	<span class="footer_address_state" itemprop="addressRegion">state</span>
	<span class="footer_address_zip" itemprop="postalCode">zip</span>
	<span class="footer_address_phone" itemprop="telephone">###-###-###</span>
</div>
