{#
	Logo markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/logos
	TODO:
		1. Update specific type of organization
		(EducationalOrganization, CollegeOrUniversity, etc...)
		2. Update Client Name
		3. Logo needs absolute URL - //www.example.com/logo.png
#}

<h1 class="logo {{class}}_logo" itemscope itemtype="http://schema.org/Organization"> {# 1 #}
	<a class="{{class}}_logo_link" itemprop="url" href="00-1-home.html">{{name}}</a> {# 2 #}
	<meta content="../../images/logo-schema.png" itemprop="logo"> {# 3 #}
	<img class="print" src="../../images/logo-print.png" alt="">
</h1>
