{% if name == "site-title" %}<h2>Update "name"</h2>{% endif %}
{% if description == "Site description." %}<h2>Update "description"</h2>{% endif %}
{% if repository.url == "url" %}<h2>Update "repository.url"</h2>{% endif %}
{% if vars.namespace == "namespace" %}<h2>Update "vars.namespace"</h2>{% endif %}
{% if vars.name == "Client Name" %}<h2>Update "vars.name"</h2>{% endif %}
{% if vars.domain == "www.example.com" %}<h2>Update "vars.domain"</h2>{% endif %}
