<div class="crl_buttons">
	<h2>Buttons</h2>

	<div class="cr_heading">Standard Links</div>

	<div class="cr_button_set">
		<a href="#">Inline Link</a>
	</div>

	<div class="cr_heading">Inline Buttons</div>

	<div class="cr_button_set">
		<a href="#">Learn More</a>
		<a href="#">Back</a>
		<a href="#">More News</a>
	</div>
</div>
