/* ==========================================================================
	Elements
============================================================================= */

html,
body {
	background: #fff;
}

body {
	min-width: 300px;

	overflow-x: hidden;
}

::selection {
	background: #eee;
	text-shadow: none;
}

iframe {
	border: none;
}

menu {
	margin: 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

figure {
	margin: 0;
}

hr {
	width: 100%;
	height: 1px;

	background: #eee;
	border: none;
	clear: both;
	margin: 0;
	padding: 0;
}


/* ==========================================================================
	Margins
============================================================================= */

@mixin margined_top() {
	margin-top: $margin_sm;
}

@mixin margined_bottom() {
	margin-bottom: $margin_sm;
}

@mixin margined() {
	@include margined_top;
	@include margined_bottom;
}

@mixin margined_md_top() {
	@include margined_top;

	@media #{$min_md} {
		margin-top: $margin_md;
	}
}

@mixin margined_md_bottom() {
	@include margined_bottom;

	@media #{$min_md} {
		margin-bottom: $margin_md;
	}
}

@mixin margined_md() {
	@include margined_md_top;
	@include margined_md_bottom;
}

@mixin margined_lg_top() {
	@include margined_md_top;

	@media #{$min_lg} {
		margin-top: $margin_lg;
	}
}

@mixin margined_lg_bottom() {
	@include margined_md_bottom;

	@media #{$min_lg} {
		margin-bottom: $margin_lg;
	}
}

@mixin margined_lg() {
	@include margined_lg_top;
	@include margined_lg_bottom;
}

@mixin margined_top_none() {
	margin-top: 0 !important;
}

@mixin margined_bottom_none() {
	margin-bottom: 0 !important;
}

@mixin margined_none() {
	@include margined_top_none;
	@include margined_bottom_none;
}


/* ==========================================================================
	Padding
============================================================================= */

@mixin padded_top() {
	padding-top: $margin_sm;
}

@mixin padded_bottom() {
	padding-bottom: $margin_sm;
}

@mixin padded() {
	@include padded_top;
	@include padded_bottom;
}

@mixin padded_md_top() {
	@include padded_top;

	@media #{$min_md} {
		padding-top: $margin_md;
	}
}

@mixin padded_md_bottom() {
	@include padded_bottom;

	@media #{$min_md} {
		padding-bottom: $margin_md;
	}
}

@mixin padded_md() {
	@include padded_md_top;
	@include padded_md_bottom;
}

@mixin padded_lg_top() {
	@include padded_md_top;

	@media #{$min_lg} {
		padding-top: $margin_lg;
	}
}

@mixin padded_lg_bottom() {
	@include padded_md_bottom;

	@media #{$min_lg} {
		padding-bottom: $margin_lg;
	}
}

@mixin padded_lg() {
	@include padded_lg_top;
	@include padded_lg_bottom;
}

@mixin padded_top_none() {
	padding-top: 0;
}

@mixin padded_bottom_none() {
	padding-bottom: 0;
}

@mixin padded_none() {
	@include padded_top_none;
	@include padded_bottom_none;
}


/* ==========================================================================
	Helpers
============================================================================= */

@mixin block_left() {
	float: left;
	margin: 0 20px 20px 0;
}

@mixin block_right() {
	float: right;
	margin: 0 0 20px 20px;
}

@mixin block_center() {
	text-align: center;
	margin: 20px auto;
}

@mixin clearfix() {

	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

@mixin no_select() {

	&,
	& * {
		user-select: none;
	}
}

@mixin hide() {
	display: none !important;
	visibility: hidden;
}

@mixin visually_hide() {
	width: 1px;
	height: 1px;

	position: absolute;

	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;

	&.focusable:active,
	&.focusable:focus {
		width: auto;
		height: auto;

		position: static;

		clip: auto;
		margin: 0;
		overflow: visible;
	}
}

@mixin offscreen() {
	width: 1px;
	height: 1px;

	position: absolute;
	left: -999px;

	overflow: hidden;
	z-index: -999;
}

@mixin video_frame() {
	width: 100%;

	position: relative;

	padding-bottom: 56.25%;

	iframe {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
	}
}


/* ==========================================================================
	Transitions
============================================================================= */

@mixin transition_default() {
	transition-duration: $base_transition_duration;
	transition-timing-function: $base_transition_timing;
}

@mixin transition_default_ease() {
	transition-duration: $base_transition_duration;
	transition-timing-function: ease;
}

@mixin transition_hide() {
	opacity: 0;
	pointer-events: none;
	transition:
		opacity $base_transition_duration,
		visibility $base_transition_duration;
	visibility: hidden;
}

@mixin transition_show() {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}


/* ==========================================================================
	Images
============================================================================= */

@mixin image_1_1() {
	padding-top: 100%;
}

@mixin image_16_9() {
	padding-top: (9 / 16) * 100%;
}

@mixin image_3_2() {
	padding-top: (2 / 3) * 100%;
}

@mixin responsive_image() {
	display: block;

	picture {
		display: block;
	}

	img {
		display: block;

		width: 100%;
	}
}


/* ==========================================================================
	Input Focus
============================================================================= */

// Uses 'What input ?' detection - https://github.com/ten1seven/what-input

[data-whatinput="mouse"] a:focus,
[data-whatinput="mouse"] button:focus,
[data-whatinput="touch"] a:focus,
[data-whatinput="touch"] button:focus {
	outline: none;
}

@mixin focus_outline_none() {

	[data-whatinput="mouse"] &:focus,
	[data-whatinput="touch"] &:focus {
		outline: none;
	}
}
