// Colors
//==============================================================================

$true_white: #fff;
$true_black: #000;

$white: #fff;
$black: #000;

$gray_10: #EAEAEA;
$gray_20: #CCCCCC;
$gray_30: #B2B2B2;
$gray_40: #999999;
$gray_50: #808080;
$gray_60: #666666;
$gray_70: #4D4D4D;
$gray_80: #333333;
$gray_90: #222222;
