/* ==========================================================================
	Forms
============================================================================= */

form {}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	legend {}


// Elements
// =============================================================================

@mixin label($theme: null) {}

label {}

@mixin input($theme: null) {
	appearance: none;
	border: 1px solid #000;
	border-radius: 0;
	padding: 0;
}

input,
textarea {
	@include input;
}

input::-ms-clear {
	width: 0;
	height: 0;
}

textarea {
	display: block;
	resize: vertical;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],
input[type=date],
textarea {}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {}

.typography {

	input,
	textarea,
	label,
	select {
		@include focus_outline_none;
	}
}
