/* ==========================================================================
	Site Search
============================================================================= */

.site_search_handle {}

.site_search {
	position: relative;
}

	.site_search_form {}

		.site_search_label {
			@include visually_hide;
		}

		.site_search_input {
			@include focus_outline_none;

			&::placeholder {
				text-overflow: ellipsis;
			}

			&[placeholder] {
				text-overflow: ellipsis;
			}
		}

		.site_search_button {
			cursor: pointer;
		}

			.site_search_button_label {
				@include visually_hide;
			}

			.site_search_button_icon {
				pointer-events: none;
			}
