/* ==========================================================================
	Type Base
============================================================================= */

@mixin h1() {
	font-size: 60px;
	line-height: (70 / 60);
}

@mixin h2() {
	font-size: 50px;
	line-height: (60 / 50);
}

@mixin h3() {
	font-size: 40px;
	line-height: (50 / 40);
}

@mixin h4() {
	font-size: 30px;
	line-height: (40 / 30);
}

@mixin h5() {
	font-size: 20px;
	line-height: (30 / 20);
}

@mixin h6() {
	font-size: 16px;
	line-height: (24 / 16);
}

@mixin intro_text() {}

@mixin body_text() {
	font-size: 16px;
	line-height: (24 / 16);
}

@mixin label_text() {}

@mixin caption_text() {}

a {
	text-decoration: none;

	.touch &[href^=tel] {
		color: inherit;
	}
}

strong {
	font-weight: 700;
}


/* typography
============================================================================= */

.typography {
	@include body_text;

	h1, h2, h3, h4, h5, h6 {}

	h1 {
		@include h1;
	}

	h2 {
		@include h2;
	}

	h3 {
		@include h3;
	}

	h4 {
		@include h4;
	}

	h5 {
		@include h5;
	}

	h6 {
		@include h6;
	}

	a {
		transition:
			color .25s,
			background .25s;
	}

	p {}
}


/* WYSIWYG Images
============================================================================= */

.typography {

	img {
		height: auto;
		max-width: 50%;
	}

	.block_left,
	.block_right,
	.block_center {
		width: auto;

		display: table;
		table-layout: fixed;

		img {
			display: block;
			max-width: 100%;
		}

		figcaption {
			@include caption_text;

			caption-side: bottom;
			display: table-caption;
		}
	}

	.block_left,
	.block_right {
		max-width: 50%;

		@media #{$max_sm} {
			max-width: none;

			float: none;
			margin-right: 0;
			margin-left: 0;
		}
	}

	.block_center {
		text-align: center;

		img {
			margin-right: auto;
			margin-left: auto;
		}
	}
}


/* Blockquote
============================================================================= */

.typography {

	blockquote {

		p {}
	}

	.quote {}

	.quote_content {

		p {}
	}

	.quote_caption {}

	.quote_caption_name {}

	.quote_caption_title {}
}


/* Lists
============================================================================= */

.typography {

	ol,
	ul {
		list-style: none;

		li {}
	}

	ol {
		counter-reset: listing-counter;

		> li {

			&:before {
				content: counter(listing-counter, decimal) ".";

				@at-root [type="A"] & {
					content: counter(listing-counter, upper-latin);
				}

				@at-root [type="a"] & {
					content: counter(listing-counter, lower-latin);
				}
			}
		}
	}

	ul {

		li {

			&:before {
				width: 5px;
				height: 5px;

				background: #444;
				border-radius: 50%;
				content: "";
				display: block;
				float: left;
				margin: 10px 0 0 -15px;
			}
		}
	}
}


/* Tables
============================================================================= */

.typography {

	table {
		@include margined;

		width: 100%;

		border-collapse: collapse;

		tr {

			&:nth-child(odd) {}
		}

		th,
		td {}

		th {
			@include h6;

			text-align: left;
		}

		td {}
	}
}

// 1. Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

.table_wrapper {
	@include margined;

	min-height: .01%; // 1

	&.table_wrapper_overflow {
		position: relative;

		border: 1px solid #ccc;

		&:after {
			@include gradient_horizontal(rgba(#000, 0), rgba(#000, .1));

			width: 20px;
			height: 100%;

			position: absolute;
			top: 0;
			right: 0;

			content: "";
		}

		.table_wrapper_inner {
			overflow-y: hidden;
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}
	}
}
