/* ==========================================================================
	Breadcrumb Navigation
============================================================================= */

.breadcrumb_nav {
	display: none;

	@media #{$min_lg} {
		display: block;
	}
}


// Breadcrumb Links
// =============================================================================

.breadcrumb_list {
	overflow-x: auto;
	white-space: nowrap;
}

.breadcrumb_item {
	display: inline-block;

	&:not(:last-child) {

		&:after {
			content: "/";
		}
	}
}

.breadcrumb_name_icon {}

.breadcrumb_name_label {}

.breadcrumb_link,
.breadcrumb_label {
	display: inline-block;
}

.breadcrumb_link {

	&:focus,
	&:hover {}
}

.breadcrumb_label {}
