/* ==========================================================================
	Breadcrumb Navigation
============================================================================= */

.breadcrumb_nav {
	display: none;

	@media #{$min_lg} {
		display: block;
	}
}


// Breadcrumb Links
// =============================================================================

.breadcrumb_list {
	overflow-x: auto;
	white-space: nowrap;
}

.breadcrumb_item {
	display: inline-block;

	&:after {
		content: "/";
	}

	&:last-child {

		&:after {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.breadcrumb_pill {}

.breadcrumb_pill_link {

	&:focus,
	&:hover {}
}

.breadcrumb_name {}

.breadcrumb_name_icon {}

.breadcrumb_name_label {}
