/* ==========================================================================
	Breadcrumb Navigation
============================================================================= */

.breadcrumb_nav {

	@media print {
		display: none !important;
	}
}

.breadcrumb_nav_header {
	@include visually_hide;
}

.breadcrumb_nav_title {}


/* Breadcrumb Links
============================================================================= */

.breadcrumb_list {
	align-items: center;
	display: flex;
	list-style: none;
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0;
	white-space: nowrap;
}

.breadcrumb_item {
	align-items: center;
	display: flex;

	&:after {
		content: "/";
		margin: 0 4px;
	}

	&:last-child {

		&:after {
			opacity: 0;
			visibility: hidden;
		}
	}

	&:not(:last-child) {

		@media #{$max_lg} {
			display: none;
		}
	}
}

.breadcrumb_pill {
	align-items: center;
	display: flex;
}

.breadcrumb_pill_link {
	color: inherit;

	&:focus,
	&:hover {}
}

.breadcrumb_pill_icon {
	margin-right: 4px;
}

.breadcrumb_pill_label {}
