/* ==========================================================================
	Main Navigation
============================================================================= */

.main_nav {

	&.main_nav_lg {

		@media #{$max_lg} {
			display: none;
		}
	}
}

.main_nav_header {
	@include visually_hide;
}

.main_nav_title {}


// Main Nav Links
// =============================================================================

.main_nav_list {}

.main_nav_item {}

.main_nav_item_wrapper {}

.main_nav_link {

	.main_nav_item:focus &,
	.main_nav_item:hover & {}
}

.main_nav_link_label {}

.main_nav_toggle {}

.main_nav_toggle_label {}

.main_nav_toggle_icon {}


/* Main Nav Children
============================================================================= */

.main_nav_children {}

.main_nav_child_item {}

.main_nav_child_link {}

.main_nav_child_link_label {}
