/* ==========================================================================
	Main Navigation
============================================================================= */

.main_nav {
	@include mq_switch;
}


// Main Nav Links
// =============================================================================

.main_nav_list {}

.main_nav_item {

	.main_nav_sm & {

		&.fs-swap-enabled {

			.main_nav_children {
				display: none;
			}
		}

		&.fs-swap-active {

			.main_nav_children {
				display: block;
			}
		}
	}

	.main_nav_lg & {

		&.focused,
		&:focus,
		&:hover {

			.main_nav_children {
				opacity: 1;
				visibility: visible;
			}
		}

		.main_nav_children {
			display: block;
		}
	}
}

.main_nav_item_wrapper {
	position: relative;
}

.main_nav_link {
	display: inline-block;
	vertical-align: top;

	.main_nav_item.focused &,
	.main_nav_item:focus &,
	.main_nav_item:hover & {}
}

.main_nav_toggle {

	.no-js & {
		display: none;
	}

	.js & {
		width: 50px;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		cursor: pointer;
	}

	.main_nav_lg & {
		display: none;
	}
}

.main_nav_toggle_label {
	@include visually_hide;
}

.main_nav_toggle_icon {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	transition: transform $base_speed;

	.fs-swap-active & {}
}


// Main Nav Children
// =============================================================================

.main_nav_children {

	.main_nav_lg & {
		position: absolute;

		opacity: 0;
		transition:
			opacity $base_speed,
			visibility $base_speed;
		visibility: hidden;
	}

	.main_nav_item:last-child & {}
}

.main_nav_child_item {}

.main_nav_child_link {
	display: block;
}
