/* ==========================================================================
	Main Navigation
============================================================================= */

.main_nav {

	&.main_nav_lg {

		@media #{$max_lg} {
			display: none;
		}
	}
}


// Main Nav Links
// =============================================================================

.main_nav_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main_nav_item {}

.main_nav_item_wrapper {
	position: relative;
}

.main_nav_link {
	display: inline-block;
	vertical-align: top;

	.main_nav_item.focused &,
	.main_nav_item:focus &,
	.main_nav_item:hover & {}
}

.main_nav_toggle {
	display: none;

	.js & {
		width: 50px;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		cursor: pointer;
		display: block;
	}

	.main_nav_lg & {

		@media #{$min_lg} {
			position: absolute;

			opacity: 0;
			pointer-events: none;
		}
	}

	&:focus {

		@media #{$min_lg} {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.main_nav_toggle_label {
	@include visually_hide;
}

.main_nav_toggle_icon {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	transition: transform $base_speed;

	.main_nav_item.fs-swap-active & {}
}


// Main Nav Children
// =============================================================================

.main_nav_children {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

	.main_nav_lg & {
		position: absolute;

		display: block;
		opacity: 0;
		transition:
			opacity $base_speed,
			visibility $base_speed;
		visibility: hidden;
	}

	.main_nav_item:last-child & {}

	.main_nav_item.fs-swap-enabled & {

		.main_nav_sm & {
			display: none;
		}
	}

	.main_nav_item.fs-swap-active & {

		.main_nav_sm & {
			display: block;
		}

		.main_nav_lg & {
			opacity: 1;
			visibility: visible;
		}
	}

	.main_nav_item:focus &,
	.main_nav_item:hover & {

		.main_nav_lg & {
			opacity: 1;
			visibility: visible;
		}
	}
}

.main_nav_child_item {}

.main_nav_child_link {
	display: block;
}
