/* ==========================================================================
	Secondary Navigation Common
============================================================================= */

.secondary_nav {

	&.secondary_nav_lg {

		@media #{$max_lg} {
			display: none;
		}
	}
}

.secondary_nav_header {}

.secondary_nav_title {
	@include visually_hide;
}


/* Secondary Links
============================================================================= */

.secondary_nav_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.secondary_nav_item {}

.secondary_nav_link {
	color: inherit;
	display: block;

	&:focus,
	&:hover {}
}

.secondary_nav_link_label {}
