{% import '../partials/macros.twig' as site %}

{% block data %}
	{% set page = {
		tabTitle: ""
	} %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>{{ name }} | {{ page.tabTitle }}</title>
		<style>
			html {
				height: 100%;

				font-family: "Neue Haas Grotesk Text Std", Helvetica, Arial, sans-serif;
				overflow-y: scroll;
			}

			body {
				max-width: 740px;

				margin: 0 auto;
				padding: 0 20px;
			}

			h1, h2, h3, h4, h5, h6 {
				font-family: "Neue Haas Grotesk Display Std", Helvetica, Arial, sans-serif;
			}

			h1 {
				font-size: 8vmin;
			}

			.sitemap_search {
				width: 100%;

				appearance: none;
				-webkit-appearance: none;
				background: #f3f3f3;
				border: 0;
				font-size: 16px;
				margin-bottom: 40px;
				padding: 21px 30px;
			}

			.sitemap {
				list-style: none;
				margin-top: 0;
				margin-bottom: 80px;
				padding-left: 0;
			}

			.sitemap_group {}

			.sitemap_item {
				border-left: 8px solid;
			}

			@media print {

				.sitemap_item {
					border-left-width: 4px;
				}
			}

			.sitemap_item:nth-of-type(odd) {
				background: #fafafa;
			}

			.sitemap_item.hide-item {
				display: none;
			}

			.sitemap_item:not(.hide-item):last-of-type {
				margin-bottom: 40px;
			}

			.sitemap_item_access {
				border-left-color: #b30bea;
			}

			.sitemap_item_dev {
				border-left-color: #0BEAC5;
			}

			.sitemap_item_style_guide {
				border-left-color: #0B35EA;
			}

			.sitemap_item_page {
				border-left-color: #6DCF48;
			}

			.sitemap_link {
				color: inherit;
				display: block;
				font-size: 18px;
				font-weight: 700;
				padding: 11px 20px 10px;
				text-decoration: none;
				transition:
					background .25s,
					color .25s;
			}

			.sitemap_link:hover,
			.sitemap_link:focus {
				background: #f2f2f2;
			}

			.sitemap_link:visited {
				color: inherit;
			}

			@media print {

				.sitemap_link {
					padding: 2px 0;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<h1>{{ name }}</h1>
			{% if accessibility %}
			<h2>Accessibility Results</h2>
			{% endif %}
			<input class="sitemap_search" type="search" placeholder="Search for a template"/>
		</header>
		<main>
			{% block main %}
			{% endblock %}
		</main>
		<script>
			var search = document.querySelector(".sitemap_search");
			var items = document.querySelectorAll(".sitemap_item");
			var query = "";

			search.addEventListener("keyup", searchSitemap, false);

			function searchSitemap() {
				query = search.value;

				if (query.length >= 3) {
					items.forEach(function(item) {
						if (item.innerText.indexOf(query) > -1) {
							item.classList.remove("hide-item");
						} else {
							item.classList.add("hide-item");
						}
					});
				} else {
					items.forEach(function(item) {
						item.classList.remove("hide-item");
					});
				}
			}
		</script>
	</body>
</html>
