{% extends "_base.twig" %}

{% set page = {
	title: "Feature Components",
	layout: "full"
} %}

{% block main %}
	<!-- Page Feature -->
	<div class="page_feature" id="skip_content" tabindex="-1">
	</div>
	<!-- END: Page Feature -->
{% endblock %}