{% extends "_guidebook.twig" %}

{% set background = 1 %}
{% set caption = "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim." %}
{% set content = "<h4>Lorem Ipsum</h4><p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p><ul><li>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</li><li>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</li><li>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</li></ul>" %}
{% set date = "2016-10-27 1:21:4" %}
{% set department = "department" %}
{% set description = "<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>" %}
{% set email = "fastspot@fastspot.com" %}
{% set expertise = "expertise" %}
{% set external = "google.com" %}
{% set fax = "(410) 918-1948" %}
{% set href = "#" %}
{% set intro = "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim." %}
{% set image = 1 %}
{% set label = "Label" %}
{% set name = "Name" %}
{% set office = "Office" %}
{% set options = [
	"Choice One",
	"Choice Two",
	"Choice Three"
] %}
{% set position = "Position" %}
{% set phone = "(410) 281-9384" %}
{% set time = "12:30:45" %}
{% set title = "Title" %}
{% set type = "Type" %}
{% set video = "XPjQhvjQbSM" %}
{% set website = "fastspot.com" %}

{% set items = [
	{
		background: 1,
		caption: "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.",
		date: "2016-10-27 1:21:4",
		department: "department",
		email: "fastspot@fastspot.com",
		external: "google.com",
		expertise: "expertise",
		intro: "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.",
		image: 1,
		fax: "(410) 918-1948",
		href: "#",
		label: "Label",
		links: [
			{
				href: "#",
				icon: "arrow_right",
				name: "Learn More",
			},
			{
				href: "#",
				icon: "arrow_right",
				name: "Continue Reading"
			},
			{
				href: "#",
				icon: "arrow_right",
				name: "Read More"
			}
		],
		month: "Aug",
		name: "Name",
		day: "12",
		office: "office",
		phone: "(410) 281-9384",
		position: "Position",
		social: [
			{
				icon: "twitter",
				href: "twitter.com",
				name: "Twitter"
			},
			{
				icon: "facebook",
				href: "facebook.com",
				name: "Facebook"
			}
		],
		time: "12:30:45",
		title: "Title",
		type: "type",
		video: "XPjQhvjQbSM",
		website: "fastspot.com",
		year: "2030"
	},
	{
		background: 1,
		caption: "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.",
		date: "2016-10-27 1:21:4",
		department: "department",
		email: "fastspot@fastspot.com",
		external: "google.com",
		expertise: "expertise",
		intro: "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.",
		image: 1,
		fax: "(410) 918-1948",
		href: "#",
		label: "Label",
		links: [
			{
				href: "#",
				icon: "arrow_right",
				name: "Learn More",
			},
			{
				href: "#",
				icon: "arrow_right",
				name: "Continue Reading"
			},
			{
				href: "#",
				icon: "arrow_right",
				name: "Read More"
			}
		],
		month: "Aug",
		name: "Name",
		day: "12",
		office: "office",
		phone: "(410) 281-9384",
		position: "Position",
		social: [
			{
				icon: "twitter",
				href: "twitter.com",
				name: "Twitter"
			},
			{
				icon: "facebook",
				href: "facebook.com",
				name: "Facebook"
			}
		],
		time: "12:30:45",
		title: "Title",
		type: "type",
		video: "XPjQhvjQbSM",
		website: "fastspot.com",
		year: "2030"
	}
] %}

{% block page %}
	{% set page = {
		active: 3,
		trello: true,
		layout: "full",
		title: "Components",
		caption: "Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.",
		image: "components.svg",
		code: "atom-one-light"
	} %}
{% endblock %}

{% block content %}
	{% include '../partials/guidebook/trello.twig' with {
		trelloCards: true
	} %}
{% endblock %}
