{% extends "_guidebook.twig" %}

{% block page %}
	{% set page = {
		layout: "default",
		title: "Content Strategy",
		caption: "Guidance for voice and tone, plus how best to address your audiences. For content strategy specific to components, please refer to the <a href='fs-components.html'>Components</a> section.",
		image: "content_strategy.svg"
	} %}
{% endblock %}

{% block content %}
	{% include '../partials/guidebook/trello.twig' %}
{% endblock %}
