{% extends "_base.twig" %}

{% set page = {
	title: "Full Width Components",
	layout: "full"
} %}

{% block main %}
	<!-- Page Content -->
	<div class="page_content">
		<div class="full_width_callouts" id="skip_content" tabindex="-1">

		</div>
	</div>
	<!-- END: Page Content -->
{% endblock %}