{% extends "_guidebook.twig" %}

{% block page %}
	{% set page = {
		layout: "full",
		title: "Getting Started",
		intro: "This <u>Style Guide</u> describes your new design system, from <a href='fs-colors.html'>colors</a> and <a href='fs-typography.html'>typography</a> to <a href='fs-components.html'>components</a> and content strategy to code and implementation. Refer to this guide when creating new content in order to present the most consistent public face of "
	} %}
{% endblock %}

{% block content %}
	<div class="gb_section">
		{% include '../partials/guidebook/topics.twig' with {
			topics: [
				{
					image: "colors.png",
					title: "Colors",
					link: "fs-colors.html",
					caption: "Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo."
				},
				{
					image: "typography.svg",
					title: "Typography",
					link: "fs-typography.html",
					caption: "Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo."
				},
				{
					image: "component.svg",
					title: "Components",
					link: "fs-components.html",
					caption: "Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo."
				}
			]
		} %}
	</div>

	<div class="gb_section">
		{% include '../partials/guidebook/topics.twig' with {
			title: "Helpful Resources & Tips",
			topics: [
				{
					title: "White Space",
					link: "",
					caption: "Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo."
				},
				{
					title: "Consistency",
					link: "",
					caption: "Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo."
				},
				{
					title: "Emphasis",
					link: "",
					caption: "Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo."
				}
			]
		} %}
	</section>
{% endblock %}
