{% extends "_guidebook.twig" %}

{% block page %}
	{% set page = {
		layout: "full",
		intro: "This <u>Style Guide</u> helps you maintain and grow your new site while maintaining consistency across your web presence. Refer here when creating new content and editing existing content for your <a href='fs-content-strategy.html'>content strategy</a>, <a href='fs-visual-styles.html'>visual styles</a>, and how to use your <a href='fs-components.html'>components</a>."
	} %}
{% endblock %}

{% block content %}
	{% include '../partials/guidebook/topics.twig' with {
		topics: [
			{
				image: "content_strategy.svg",
				title: "Content Strategy",
				link: "fs-content-strategy.html",
				caption: "Guidance for voice and tone, plus how best to address your audiences.",
				subcaption: "For content strategy specific to components, please refer to the <a href='fs-components.html'>Components</a> section."
			},
			{
				image: "visual_styles.svg",
				title: "Visual Styles",
				link: "fs-visual-styles.html",
				caption: "Your visual basics are all in here. Get a clear overview of the color system and typography."
			},
			{
				image: "components.svg",
				title: "Components",
				link: "fs-components.html",
				caption: "Here’s your set of editable components along with how best to use them, including content direction."
			}
		]
	} %}
{% endblock %}
