{% extends "_base.twig" %}

{% block page %}
	{% set page = {
		title: "Search",
		intro: "",
		layout: "full"
	} %}
{% endblock %}

{% block breadcrumbNav %}
	{% set breadcrumbNav = [
		page.title
	] %}
{% endblock %}

{% block sectionTitle %}
	{% set sectionTitle = page.title %}
{% endblock %}

{% block pageContent %}

	<!-- Page Content -->
	<div class="page_content">

		<div class="fs-row">

			<!-- Main Content -->
			<div class="fs-cell fs-lg-10 fs-all-justify-center page_main_content" id="page_main_content" tabindex="-1">

				{% include "../partials/page-header.twig" %}

			</div>
			<!-- END: Main Content -->

		</div>

		<!-- Full Width Callouts -->
		<div class="full_width_callouts">

			{% include "../partials/google-cse.twig" %}

		</div>
		<!-- END: Full Width Callouts -->

	</div>
	<!-- END: Page Content -->

{% endblock %}