{% extends "_base.twig" %}

{% set page = {
	title: "Form Builder",
	intro: "This is the Kitchen Sink form with all available Form Builder fields showing an error message and a required field missing content.",
	layout: "default"
} %}

{% block main %}
	<!-- Page Content -->
	<div class="page_content">
		<div class="fs-row">
			<div class="fs-cell fs-lg-4 page_aside page_sub_nav">
				{% include "../partials/navigation/sub.twig" with {
					modifier: ""
				} %}
			</div>

			<!-- Main Content -->
			<div class="fs-cell fs-lg-8 page_main_content" id="skip_content" tabindex="-1">
				{% include "../partials/page-header.twig" %}

				{% include "../partials/form-builder.twig" %}
			</div>
			<!-- END: Main Content -->

		</div>
	</div>
	<!-- END: Page Content -->
{% endblock %}