{% extends "_base.twig" %}

{% block page %}
	{% set page = {
		title: "Home",
		intro: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
		layout: "home"
	} %}
{% endblock %}

{% block main %}

	<!-- Page Feature -->
	<div class="page_feature" id="skip_content" tabindex="-1">
	</div>
	<!-- END: Page Feature -->

	<!-- Page Content -->
	<div class="page_content">

		<!-- Full Width Callouts -->
		<div class="full_width_callouts">
		</div>
		<!-- END: Full Width Callouts -->

	</div>
	<!-- END: Page Content -->

{% endblock %}