{% extends "_base.twig" %}

{% block page %}
	{% set page = {
		title: "Form Builder",
		intro: "This is the Kitchen Sink form with all available Form Builder fields showing an error message and a required field missing content.",
		layout: "default"
	} %}
{% endblock %}

{% block breadcrumbNav %}
	{% set breadcrumbNav = [
		page.title
	] %}
{% endblock %}

{% block sectionTitle %}
	{% set sectionTitle = page.title %}
{% endblock %}

{% block pageContent %}

	<!-- Page Content -->
	<div class="page_content">

		<div class="fs-row">

			<div class="fs-cell fs-lg-4 page_aside page_sub_nav">
				{% include "../partials/navigation/sub.twig" with {
					title: sectionTitle,
					links: subNavAlias
				} %}
			</div>

			<!-- Main Content -->
			<div class="fs-cell fs-lg-8 page_main_content" id="page_main_content" tabindex="-1">

				{% include "../partials/page-header.twig" %}

				{% include "../partials/form-builder.twig" %}

			</div>
			<!-- END: Main Content -->

		</div>

	</div>
	<!-- END: Page Content -->

{% endblock %}