/* ==========================================================================
	Carousel
============================================================================= */

.fs-carousel {
	position: relative;

	&-rtl {
		direction: rtl;
	}

	&-viewport {
		position: relative;
	}

		&-container {
			@include clearfix;

			.fs-carousel-contained & {
				overflow: hidden;
			}
		}

			&-enabled &-canister {
				transition: transform .5s;
				transform: translateX(0);

				@media print {
					width: 100% !important;

					transform: none !important;
				}
			}

			&-enabled.fs-carousel-auto_height &-canister {
				transition:
					height .5s,
					transform .5s;
			}


	// Items
	// ===========================================================================

	&-enabled &-item {
		min-height: 1px;

		display: block;
		float: left;

		@media print {
			height: auto !important;
			width: 100% !important;
		}

		img {
			-webkit-user-drag: none;
			user-select: none;
		}
	}

	&-enabled.fs-carousel-rtl &-item {
		float: right;
	}

	&-single &-item {
		position: absolute;
		top: 0;
		left: 0;

		&.fs-carousel-visible {
			position: relative;
			z-index: 2;
		}
	}


	// Controls
	// ===========================================================================

	&-controls,
	&-controls_custom {
		display: none;

		&.fs-carousel-visible,
		&.fs-carousel-visible {
			display: block;

			@media print {
				@include hide;
			}
		}
	}

		&-control {
			cursor: default;
			pointer-events: none;

			&.fs-carousel-visible {
				cursor: pointer;
				pointer-events: auto;
			}
		}


	// Pagination
	// ===========================================================================

	&-pagination {
		display: none;

		&.fs-carousel-visible {
			display: block;

			@media print {
				@include hide;
			}
		}
	}

		&-page {
			cursor: pointer;
			display: inline-block;
		}
}
