/* ==========================================================================
	Mobile Sidebar
============================================================================= */

.mobile_sidebar_handle_wrapper {
	position: relative;

	@media print {
		display: none;
	}
}

	.mobile_sidebar_handle {

		@media #{$min_lg} {
			display: none;
		}
	}


// Sidebar
// =============================================================================

.mobile_sidebar {
	@include focus_outline_none;

	@media print {
		display: none;
	}
}
