/* ==========================================================================
	Page
============================================================================= */

.page_wrapper {}

	.page {}

		.page_feature {}

		.page_content {}

			.aside_cell {

				@media #{$min_md} {
					width: 40%;

					float: right;
				}

				@media #{$min_lg} {
					width: percentage(4 / 12);
				}
			}

			.subnav_cell {}

			.content_cell {

				@media #{$min_md} {
					width: 60%;

					float: left;

					padding-right: 20px;
				}

				@media #{$min_lg} {
					width: percentage(8 / 12);
				}
			}

				.main_content {
					@include focus_outline_none;
				}

					.page_header {}

						.page_title {}

					.in_content_callouts {}

			.sidebar_cell {
				clear: right;
			}

				.sidebar {}

			.full_width_callouts {}


/* Skip Link
============================================================================= */

.skip_link {
	@include button_inline;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	display: block;
	padding: 10px 20px;
	text-align: center;
	transform: translate(-50%, -200%);
	transition:
		top .35s,
		transform .35s;

	&:focus,
	&:active {
		outline: 2px solid #000;
		transform: translate(-50%, 20px);
	}

	.no-csstransforms & {
		top: -100%;

		&:focus,
		&:active {
			top: 20px;
		}
	}
}
