/* ==========================================================================
	Page
============================================================================= */

.page_wrapper {}

	.page {}

		.page_feature {}

		.page_content {}

			.aside_cell {

				@media #{$min_md} {
					width: 40%;

					float: right;
				}

				@media #{$min_lg} {
					width: percentage(4 / 12);
				}
			}

			.subnav_cell {}

			.content_cell {

				@media #{$min_md} {
					width: 60%;

					float: left;

					padding-right: 20px;
				}

				@media #{$min_lg} {
					width: percentage(8 / 12);

					padding-right: 40px;
				}
			}

				.main_content {
					@include focus_outline_none;
				}

					.page_header {}

						.page_title {}

					.in_content_callouts {}

			.sidebar_cell {
				clear: right;
			}

				.sidebar {}

			.full_width_callouts {}
