/* ==========================================================================
	Map
============================================================================= */

.map {}

	.map_aside {}

	.map_body {
		position: relative;
	}

		.map_canvas {
			height: 500px;
		}


// Leaflet Overrides
// =============================================================================

.leaflet-container {
	font: inherit;

	.leaflet-control-zoom {
		border: 0;
		margin: 0;

		a {
			height: 40px;
			width: 40px;

			border: 0;
			border-radius: 0;
			line-height: 40px;
			margin: 10px;

			&:first-child {}

			&:last-child {}

			&.leaflet-disabled {}
		}
	}

	.leaflet-control-layers {
		border: 0;
		border-radius: 0;
		color: inherit;
		margin: 0;
		padding: 0;
	}

		.leaflet-control-layers-toggle {
			display: none;
		}

		.leaflet-control-layers-list {
			display: block;

			label {
				position: relative;

				cursor: pointer;
				display: inline-block;
			}
		}

			.leaflet-control-layers-selector {
				position: absolute;

				border: 0;

				&:checked {

					+ span {}
				}

				+ span {
					display: block;
					padding: 10px;
				}
			}

				.map_layer_quantity_wrapper {}

					.map_layer_quantity {}

				.map_layer_label {}

	.leaflet-popup-pane {
		display: none;
	}
}


// Groups
// =============================================================================

.map_groups {}

	.map_group {}

		.map_group_switch {
			cursor: pointer;
		}

		.map_places {
			display: none;

			&.fs-swap-active {
				display: block;
			}
		}

			.map_place {
				cursor: pointer;
				display: block;
			}


// Filters
// =============================================================================

.map_filters {

	@media #{$min_md} {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 500;
	}
}

	.map_filter {
		position: relative;

		display: inline-block;
		vertical-align: middle;
	}

		.map_filter_switch {
			width: 100%;

			background: #fff;
			cursor: pointer;
			text-align: left;
		}

		.map_filter_options {
			position: absolute;
			top: 100%;
			left: 0;

			background: #fff;
			display: none;

			&.fs-swap-active {
				display: block;
			}
		}

			.map_filter_option {
				display: block;
			}

			.map_filter_option_button {
				width: 100%;

				cursor: pointer;
				text-align: left;
			}

		.map_filter_option_input {}


// Lightbox
// =============================================================================

.map_lightbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 400;

	opacity: 0;
	transition:
		opacity .25s,
		visibility .25s;
	visibility: hidden;

	.lightbox-open & {
		opacity: 1;
		visibility: visible;
	}
}

	.map_lightbox_close {
		cursor: pointer;
	}

	.map_lightbox_body {}
