/* ==========================================================================
	Map
============================================================================= */

.map {}

	.map_aside {}

	.map_body {
		position: relative;
	}

	.map_canvas {
		height: 500px;
	}


// Leaflet Overrides
// =============================================================================

.leaflet-container {

	.leaflet-control-zoom {
		border: 0;
		margin: 0;

		a {

			&:first-child {}

			&:last-child {}

			&.leaflet-disabled {}
		}
	}

	.leaflet-control-layers {
		border: 0;
		border-radius: 0;
		color: inherit;
		margin: 0;
		padding: 0;
	}

		.leaflet-control-layers-toggle {
			display: none;
		}

		.leaflet-control-layers-list {
			display: block;

			label {
				cursor: pointer;
				display: inline-block;
				padding: 10px;
			}
		}

	.leaflet-popup-pane {
		display: none;
	}
}


// Groups
// =============================================================================

.map_groups {}

	.map_group {}

		.map_group_switch {
			cursor: pointer;
		}

		.map_places {
			display: none;

			&.fs-swap-active {
				display: block;
			}
		}

			.map_place {
				cursor: pointer;
				display: block;
			}


// Filters
// =============================================================================

.map_filters {

	@media #{$min_md} {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 500;
	}
}

	.map_filter {
		position: relative;

		display: inline-block;
		vertical-align: middle;
	}

		.map_filter_switch {
			width: 100%;

			background: #fff;
			cursor: pointer;
			text-align: left;
		}

		.map_filter_options {
			position: absolute;
			top: 100%;
			left: 0;

			background: #fff;
			display: none;

			&.fs-swap-active {
				display: block;
			}
		}

			.map_filter_option {
				display: block;
			}

			.map_filter_option_button {
				width: 100%;

				cursor: pointer;
				text-align: left;
			}

		.map_filter_option_input {}


// Lightbox
// =============================================================================

.map_lightbox {}

	.map_lightbox_close {
		cursor: pointer;
	}

	.map_lightbox_body {}
