/* ==========================================================================
	Base Elements
============================================================================= */

html {
	background: #fff;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 300px;

	overflow-x: hidden;

	&:before {
		height: 100%;
		width: 100%;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;

		background: rgba($black, .75);
		content: "";
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: 
			opacity .35s,
			visibility .35s;
	}

	&.fs-mobile-lock {

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

::selection {
	background: #ddd;
	text-shadow: none;
}

iframe {
	border: none;
}

menu {
	margin: 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

figure {
	margin: 0;
}

hr {
	height: 1px;

	background: #ddd;
	border: none;
	margin: 0;
}
