/* ==========================================================================
	Sub Navigation
============================================================================= */

.sub_nav {}

	.sub_nav_header {}

		.sub_nav_title {}

	.sub_nav_handle_wrapper {}

		.sub_nav_handle {
			position: relative;

			@media #{$min_lg} {
				display: none;
			}

			&.fs-navigation-enabled {
				@include button_block;

				text-align: left;

				&:after {
					position: absolute;
					top: 50%;
					right: 20px;

					transform: translate(0, -50%);
					transition: transform .25s;
				}
			}

			&.fs-navigation-open {

				&:after {}
			}
		}

			.sub_nav_handle_icon {}


/* Sub Nav Links
============================================================================= */

.sub_nav_list {
	@include focus_outline_none();
}

	.sub_nav_item {}

		.sub_nav_link {
			display: block;

			&:focus,
			&:active,
			&:hover {}
		}
