<div class="map">
	<div class="map_aside">
		<button class="map_lightbox_switch">View Map</button>
		<div class="map_categories"></div>
	</div>
	<div class="map_body">
		<div class="map_filters"></div>
		<div class="map_canvas" id="map"></div>
	</div>
	<div class="map_lightbox">
		<button class="map_lightbox_close">Close</button>
		<div class="map_lightbox_body"></div>
	</div>
</div>
