/* ==========================================================================
	Scrollbar
============================================================================= */

$fs-scrollbar-bar-size: 10px;

.fs-scrollbar {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;


	// Scrollbar
	// ===========================================================================

	&-bar {
		height: 100%;
		width: $fs-scrollbar-bar-size;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;

		display: none;
	}

	&-horizontal &-bar {
		height: $fs-scrollbar-bar-size;
		width: 100%;

		top: auto;
		bottom: 0;
	}

	&-setup &-bar,
	&-active &-bar {
		display: block;
	}

	&-track {
		width: 100%;
		height: 100%;

		position: relative;

		background: rgba(0, 0, 0, .5);
		overflow: hidden;
	}

	&-handle {
		height: ($fs-scrollbar-bar-size * 2);
		width: $fs-scrollbar-bar-size;

		position: absolute;
		top: 0;
		right: 0;

		background: rgba(0, 0, 0, .5);
		cursor: pointer;
	}

	&-horizontal &-handle {
		height: $fs-scrollbar-bar-size;
		width: ($fs-scrollbar-bar-size * 2);

		top: auto;
		right: auto;
		bottom: 0;
	}


	// Content
	// ===========================================================================

	&-content {
		height: 100%;

		position: relative;

		overflow: auto;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar,
		&::-webkit-scrollbar-button,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-track-piece,
		&::-webkit-scrollbar-thumb,
		&::-webkit-scrollbar-corner,
		&::-webkit-resizer {
			background: transparent;
			opacity: 0;
		}
	}

	&-horizontal &-content {
		overflow: auto;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0 0 $fs-scrollbar-bar-size 0;
	}
}
