/* ==========================================================================
	Viewer
============================================================================= */

$fs-viewer-viewport-position: 30px;

.fs-viewer {

	&-source {
		display: none !important;
	}

	&-wrapper {
		height: 300px;

		position: relative;

		overflow: hidden;
		transition: none;
	}

	&-viewport {
		position: absolute;
		top: $fs-viewer-viewport-position;
		right: $fs-viewer-viewport-position;
		bottom: $fs-viewer-viewport-position;
		left: $fs-viewer-viewport-position;
	}

	&-container {
		width:	1px;
		height: 1px;

		position: absolute;

		margin: 0;
		opacity: 1;
		transform: translate3D(0, 0, 0);
		transition: opacity .25s;
	}

	&-loading &-container {
		opacity: 0;
	}

	&-image {
		position: absolute;
	}

	&-scaling &-container {
		transition: none !important;
	}

	&-scaling &-image {
		transition: none !important;
	}

	&-controls {
		margin: 0 auto;
	}

	&-control_previous,
	&-control_next {
		display: none;
	}

	&-gallery &-control_previous,
	&-gallery &-control_next {
		display: inline;
	}
}
