{#
	{{site.anchor("In Content WYSIWYG")}}
	{% include inc ~ "wysiwyg.twig" with {
		content: 'Lorem ipsum'
	} %}
#}

<!-- WYSIWYG -->
<div class="wysiwyg_block">
	<div class="typography">
		{{content}}
	</div>
</div>
<!-- END: WYSIWYG -->
