<section class="map">
	<div class="map_aside">
		<div class="map_groups"></div>
	</div>
	<div class="map_body">
		<div class="map_filters"></div>
		<div class="map_canvas" id="map"></div>
		<div class="map_lightbox"></div>
		<div class="map_layer_switches"></div>
	</div>
</section>
