<div class="copyright">
	<p class="copyright_info">&copy; <span class="copyright_holder" itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/{{ vars.schemaType }}">{{ vars.name }}</span> <span class="copyright_year" itemprop="copyrightYear">{{ "now"|date("Y") }}</span></p>
</div>