<p class="copyright"><span class="copyright_icon">&copy;</span> <span class="copyright_holder" itemprop="copyrightHolder" itemscope itemtype="http://schema.org/{{ vars.schemaType }}"><span class="copyright_holder_name" itemprop="name">{{ vars.name }}</span></span> <span class="copyright_year" itemprop="copyrightYear">{{ "now"|date("Y") }}</span></p>
