{#
	{% include "../partials/google-cse.twig" with {
		resultsUrl: "page-search.html"
	} %}
#}

<div class="search_results{% if theme %} theme_{{ theme }}{% endif %}">
	<div class="fs-row">
		<div class="fs-cell fs-lg-10 fs-all-justify-center">
			<div class="search_results_inner">
				<script>
					(function() {
						var cx = '{{ vars.cseKey }}';
						var gcse = document.createElement('script');
						gcse.type = 'text/javascript';
						gcse.async = true;
						gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(gcse, s);
					})();
				</script>
				{% if resultsUrl %}
				<gcse:searchbox-only resultsUrl="{{ resultsUrl }}"></gcse:searchbox-only>
				{% else %}
				<gcse:search></gcse:search>
				{% endif %}
				<noscript>
					<div class="typography">
						<p>The site search requires a JavaScript enabled browser. You can also search the site using <a href="//www.google.com/#q=site:{{ vars.domain }}">Google</a>.</p>
					</div>
				</noscript>
			</div>
		</div>
	</div>
</div>
