{#
	Logo markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/logos

	1. Create a logo image file.
#}

<{% if heading == true %}h1{% else %}div{% endif %} class="logo{% if modifier %} logo_{{modifier}}{% endif %}{% if symbol %} logo_symbol{% endif %}" itemscope itemtype="http://schema.org/{{vars.schemaType}}">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">{{vars.name}}</span>
		{% if symbol %}
			<span class="logo_link_symbol">{{site.symbol(logo|default("logo"))}}</span>
		{% endif %}
	</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> {# 1 #}
	<img class="logo_print" src="../../images/logo-print.png" alt="">
</{% if heading == true %}h1{% else %}div{% endif %}>
