{#
	Logo markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/logos

	{% include "../partials/logo.twig" with {
		modifier: "header",
		icon: "logo",
		print: "../../images/logo-print.png"
	} %}
#}

<div class="logo{% if modifier %} logo_{{ modifier }}{% endif %}{% if icon %} logo_icon{% endif %}">
	<a class="logo_link" href="page-home.html">
		<span class="logo_link_label">{{ vars.name }}</span>
		{% if icon %}
		<span class="logo_link_icon">{{ site.icon(icon) }}</span>
		{% endif %}
	</a>
	{% if print %}
	<img class="logo_print" src="{{ printLogo }}" alt="">
	{% endif %}
</div>
