{#
	{% include "../partials/search-handle.twig" %}
#}

<a class="site_search_handle" href="#">
	<span class="site_search_handle_label">Search</span>
	<span class="site_search_handle_icon">{{site.icon("search")}}</span>
</a>
