{#
	{% include "../partials/search-handle.twig" %}
#}

<a class="site_search_handle" href="/static/templates/page-search.html">
	<span class="site_search_handle_label">Search</span>
	<span class="site_search_handle_icon" aria-hidden="true">{{site.icon("search")}}</span>
</a>
