<!-- Blockquote with citation -->
<figure class="quote">
	<blockquote class="quote_content">
		<p>He had given up his dream for her family, a fact which Smith said she had ‘nothing but contempt for even as I benefited from it.’ Calling every family home, to an extent, emotionally violent, the first essay Smith read explored the losses and sacrifices in the fibers of every family.</p>
	</blockquote>
	<figcaption class="quote_caption">
		<span class="quote_cite">Byssainthe-Loubens Theork ’06</span> — <span class="quote_cite_label">Economics major</span>
	</figcaption>
</figure>
<!-- END: Blockquote with citation -->
