<div class="gallery">
	<div class="gallery_carousel">
		{% include "gallery-item.twig" with {
			image: "1",
			caption: "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at."
		} %}

		{% include "gallery-item.twig" with {
			image: "2",
			caption: "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at."
		} %}

		{% include "gallery-item.twig" with {
			image: "3",
			caption: "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at."
		} %}

		{% include "gallery-item.twig" with {
			image: "4",
			caption: "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at."
		} %}

		{% include "gallery-item.twig" with {
			image: "5",
			caption: "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at."
		} %}

		{% include "gallery-item.twig" with {
			image: "6",
			caption: "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at."
		} %}
	</div>
</div>
