<div class="gallery_item">
	<figure class="gallery_figure">
		<img class="gallery_image" src="//spacehold.it/760x426/{{image}}.jpg" alt="" />
		<figcaption class="gallery_caption">{{caption}}</figcaption>
	</figure>
</div>
