<div class="pagination_block">
	<nav class="pagination">
		<a href="#1" class="pagination_link">1</a>
		<a href="#2" class="pagination_link">2</a>
		<a href="#3" class="pagination_link">3</a>
		<a href="#4" class="pagination_link">4</a>
		<a href="#5" class="pagination_link">5</a>
		<a href="#6" class="pagination_link">6</a>
		<a href="#7" class="pagination_link">7</a>
		<a href="#8" class="pagination_link">8</a>
		<a href="#9" class="pagination_link">9</a>
		<a href="#10" class="pagination_link">10</a>
	</nav>
</div>
