<div class="pagination{% if theme %} theme_{{theme}}{% endif %}">
	<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#previous">Previous</a>
	<span class="pagination_divider"></span>
	<span class="pagination_number_link pagination_number_selected">1</span>
	<a class="pagination_number_link" href="#2">2</a>
	<a class="pagination_number_link" href="#3">3</a>
	<a class="pagination_number_link" href="#4">4</a>
	<a class="pagination_number_link" href="#5">5</a>
	<span class="pagination_number_link">…</span>
	<span class="pagination_divider"></span>
	<a class="pagination_arrow pagination_arrow_right" href="#next">Next</a>
</div>
