<div class="pagination{% if theme %} theme_{{theme}}{% endif %}">
	<a href="#previous" class="pagination_arrow pagination_arrow_left pagination_arrow_disabled">Previous</a>
	<span class="pagination_divider"></span>
	<span class="pagination_number_link pagination_number_selected">1</span>
	<a href="#2" class="pagination_number_link">2</a>
	<a href="#3" class="pagination_number_link">3</a>
	<a href="#4" class="pagination_number_link">4</a>
	<a href="#5" class="pagination_number_link">5</a>
	<span class="pagination_number_link">…</span>
	<span class="pagination_divider"></span>
	<a href="#next" class="pagination_arrow pagination_arrow_right">Next</a>
</div>
