<!--
	# Topic Block List Notes

	* Heading is optional, don't draw `.topic_list_header` element if there is
	no heading
-->

<!-- Topic block list -->
<div class="topic_list" role="list">
	<header class="topic_list_header">
		<h2 class="topic_list_heading">{{header}}</h2>
	</header>
	<div class="topic_list_body" role="list">
		{% include 'topic-block.twig' with {
			"image": "1",
			"alt": "",
			"title": "Nam eget dui. Etiam rhon",
			"description": "Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus.",
			"link1": "",
			"link2": ""
		} %}

		{% include 'topic-block.twig' with {
			"image": "2",
			"alt": "",
			"title": "Aenean",
			"description": "Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.",
			"link1": "",
			"link2": ""
		} %}

		{% include 'topic-block.twig' with {
			"image": "3",
			"alt": "",
			"title": "Donec pede",
			"description": "In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.",
			"link1": "",
			"link2": ""
		} %}
	</div>
</div>
<!-- END: Topic block list -->
