/* ==========================================================================
	Accordion
============================================================================= */

.accordion {}

	.accordion_header {}

		.accordion_title {}


// Accordion Body
// =============================================================================

.accordion_body {}

	.accordion_item {}

		.accordion_item_title {
			position: relative;

			cursor: pointer;
		}

			.accordion_item_icon {

				.accordion_item_title:focus &,
				.accordion_item_title:hover & {}

				.fs-swap-active & {}
			}

		.accordion_item_description {

			.fs-swap-enabled & {
				display: none;

				@media print {
					display: block;
				}
			}

			.fs-swap-active & {
				display: block;
			}
		}
