<!--
	# Contact Card Notes

	* Name is required
	* Supports phone, fax, email and external link contact types
	* Supports Facebook, Twitter, Instagram, Youtube and Linkedin social accounts
-->

<!-- Contact card -->
<div class="contact_card">
	<header class="contact_card_header">
		<h2 class="contact_card_heading">Contact Information</h2>
		<hr class="contact_card_rule">
	</header>
	<div class="contact_card_body">
		<h3 class="contact_card_name">@@name</h3>
		<div class="contact_card_info">
			<div class="contact_card_description">@@description</div>
		</div>
		<div class="contact_card_types">
			<span class="contact_card_type contact_card_phone ss-standard-phone">@@phone</span>
			@@fax
			<a class="contact_card_type contact_card_email ss-standard-mail" href="mailto:@@email">@@email</a>
			@@external
		</div>
	</div>
	@@social
</div>
<!-- END: Contact card -->
