{% extends "_base.twig" %}

{% block page %}
	{% set page = {
		title: "Form Builder",
		intro: "This is the Kitchen Sink form with all available Form Builder fields showing an error message and a required field missing content.",
		layout: "default"
	} %}
{% endblock %}

{% block typography %}
{% endblock %}

{% block after_typography %}
	<form method="post" action="#" enctype="multipart/form-data" class="form_builder">
		<div class="form_builder_errors">
			<p>Required fields were missing. Please fill out all required fields and submit again.</p>
		</div>
		<div class="form_builder_required_message">
			<p><span class="form_builder_required_star">*</span> = required field</p>
		</div>
		<div class="form_builder_section_header">
			<h2>Section Break</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
		</div>
		<fieldset>
			<label for="form_builder_field_2">
				Single Line Text <span class="form_builder_required_star">*</span>
			</label>
			<input type="text" id="form_builder_field_2" name="form_builder_element_2" class="form_builder_text form_builder_required form_builder_error" value="" placeholder="Placeholder Value" />
		</fieldset>
		<fieldset>
			<label for="form_builder_field_3">Paragraph Text</label>
			<textarea id="form_builder_field_3" name="form_builder_element_3" placeholder="Placeholder Value"></textarea>
		</fieldset>
		<fieldset>
			<label>Checkboxes</label>
			<div class="form_builder_checkbox">
				<input type="checkbox" id="form_builder_field_4" name="form_builder_element_4[]" value="val1" data-price="" /> 
				<label class="form_builder_for_checkbox" for="form_builder_field_4">Option 1</label>
			</div>
			<div class="form_builder_checkbox">
				<input type="checkbox" id="form_builder_field_5" name="form_builder_element_4[]" value="val2" data-price="" /> 
				<label class="form_builder_for_checkbox" for="form_builder_field_5">Option 2</label>
			</div>
			<div class="form_builder_checkbox">
				<input type="checkbox" id="form_builder_field_6" name="form_builder_element_4[]" value="val3" data-price="" /> 
				<label class="form_builder_for_checkbox" for="form_builder_field_6">Option 3</label>
			</div>
		</fieldset>
		<fieldset>
			<label>Radio Buttons</label>
			<div class="form_builder_radio">
				<input type="radio" id="form_builder_field_8" name="form_builder_element_5" value="val1"  data-price="" />
				<label class="form_builder_for_checkbox" for="form_builder_field_8">Option 1</label>
			</div>
			<div class="form_builder_radio">
				<input type="radio" id="form_builder_field_9" name="form_builder_element_5" value="val2"  data-price="" />
				<label class="form_builder_for_checkbox" for="form_builder_field_9">Option 2</label>
			</div>
			<div class="form_builder_radio">
				<input type="radio" id="form_builder_field_10" name="form_builder_element_5" value="val3"  data-price="" />
				<label class="form_builder_for_checkbox" for="form_builder_field_10">Option 3</label>
			</div>
		</fieldset>
		<fieldset>
			<label for="form_builder_field_12">Dropdown List</label>
			<select id="form_builder_field_12" name="form_builder_element_6">
				<option value="val1" selected="selected" data-price="">Option 1</option>
				<option value="val2" data-price="">Option 2</option>
				<option value="val3" data-price="">Option 3</option>
			</select>
		</fieldset>
		<fieldset>
			<label for="form_builder_field_13">File Upload</label>
			<input type="file" id="form_builder_field_13" name="form_builder_element_7" class="form_builder_upload" value=""  />
			<div class="form_builder_sublabel"><span id="form_builder_file_size_error_13">Maximum File Size: 1 KB</span></div>
		</fieldset>
		<script>
			document.getElementById("form_builder_field_13").onchange = function() {
				if (this.files[0].size > 1024) {
					this.className = this.className.replace("form_builder_error", "") + " form_builder_error";
					this.value = "";
					document.getElementById('form_builder_file_size_error_13').className = "form_builder_file_size_error";
				} else {
					this.className = this.className.replace("form_builder_error", "");
					document.getElementById('form_builder_file_size_error_13').className = "";		
				}
			};
		</script>
		<fieldset>
			<label for="form_builder_field_14">Name</label>
			<div class="form_builder_wrap">
				<div class="form_builder_firstname">
					<input type="text" name="data_18[first]" id="form_builder_field_14" class="form_builder_text" value="" />
					<label for="form_builder_field_14" class="form_builder_sublabel">First</label>
				</div>
				<div class="form_builder_lastname">
					<input type="text" name="data_18[last]" id="form_builder_field_15" class="form_builder_text" value="" />
					<label for="form_builder_field_15" class="form_builder_sublabel">Last</label>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<label for="form_builder_field_16">Date</label>
			<div class="form_builder_date_2">
				<input type="text" maxlength="2" name="data_19[month]" id="form_builder_field_16" class="form_builder_text" value="" />
				<label for="form_builder_field_16" class="form_builder_sublabel form_builder_centered">MM</label>
			</div>
			<div class="form_builder_date_2">
				<input type="text" maxlength="2" name="data_19[day]" id="form_builder_field_17" class="form_builder_text" value="" />
				<label for="form_builder_field_17" class="form_builder_sublabel form_builder_centered">DD</label>
			</div>
			<div class="form_builder_date_4">
				<input type="text" maxlength="4" name="data_19[year]" id="form_builder_field_18" class="form_builder_text" value="" />
				<label for="form_builder_field_18" class="form_builder_sublabel form_builder_centered">YYYY</label>
			</div>
		</fieldset>
		<fieldset class="form_builder_address">
			<label for="form_builder_field_19">Address</label>
			<div class="form_builder_full">
				<input type="text" name="data_20[street]" id="form_builder_field_19" class="form_builder_text" value="" />
				<label for="form_builder_field_19" class="form_builder_sublabel">Street Address</label>
			</div>
			<div class="form_builder_full">
				<input type="text" name="data_20[street2]" id="form_builder_field_20" class="form_builder_text" value=""/>
				<label for="form_builder_field_20" class="form_builder_sublabel">Street Address Line 2</label>
			</div>
			<div class="form_builder_split">
				<input type="text" name="data_20[city]" id="form_builder_field_21" class="form_builder_text" value="" />
				<label for="form_builder_field_21" class="form_builder_sublabel">City</label>
			</div>
			<div class="form_builder_split form_builder_split_last_col">
				<input type="text" name="data_20[state]" id="form_builder_field_22" class="form_builder_text" value="" />
				<label for="form_builder_field_22" class="form_builder_sublabel">State / Province / Region</label>
			</div>
			<div class="form_builder_split form_builder_split_last_row">
				<input type="text" name="data_20[zip]" id="form_builder_field_23" class="form_builder_text" value="" />
				<label for="form_builder_field_23" class="form_builder_sublabel">Postal / Zip Code</label>
			</div>
			<div class="form_builder_split form_builder_split_last_row form_builder_split_last_col">
				<input type="text" name="data_20[country]" id="form_builder_field_24" class="form_builder_text" value="United States" />
				<label for="form_builder_field_24" class="form_builder_sublabel">Country</label>
			</div>
		</fieldset>
		<fieldset>
			<label for="form_builder_field_25">Email Address</label>
			<input type="email" id="form_builder_field_25" name="data_21" class="form_builder_text form_builder_email" value="" />
		</fieldset>
		<fieldset>
			<label for="form_builder_field_26">Website</label>
			<input type="url" id="form_builder_field_26" name="data_22" class="form_builder_text form_builder_url" value="" />
		</fieldset>
		<fieldset>
			<label for="form_builder_field_27">Phone Number</label>
			<div class="form_builder_wrap">
				<div class="form_builder_phone_3">
					<input type="text" maxlength="3" name="data_23[first]" id="form_builder_field_27" class="form_builder_text" value="" />
					<label for="form_builder_field_27" class="form_builder_sublabel form_builder_centered">###</label>
				</div>
				<div class="form_builder_phone_3">
					<input type="text" maxlength="3" name="data_23[second]" id="form_builder_field_28" class="form_builder_text" value="" />
					<label for="form_builder_field_28" class="form_builder_sublabel form_builder_centered">###</label>
				</div>
				<div class="form_builder_phone_4">
					<input type="text" maxlength="4" name="data_23[third]" id="form_builder_field_29" class="form_builder_text" value="" />
					<label for="form_builder_field_29" class="form_builder_sublabel form_builder_centered">####</label>
				</div>
			</div>
		</fieldset>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<fieldset>
			<label>
				Spam Prevention
				<span class="form_builder_required_star">*</span>
			</label>
			<p>Please help us prevent spam by using the reCAPTCHA below.</p>
			<div class="form_builder_captcha_error">
				<p>The code you entered was not correct.  Please try again.</p>
			</div>
			<div class="g-recaptcha" data-sitekey="6LemekwUAAAAAA7s4TpoMCJXu3rSCa1GvTl8c53N"></div>
		</fieldset>
		<input type="submit" class="form_builder_submit" value="Submit" />
	</form>
{% endblock %}