// Section
// =============================================================================

.gb_section {
	margin: 80px 0;
}

	.gb_section_title {
		@include h2;

		margin: 0 0 20px;
	}

	.gb_section_caption {
		@include body_text;

		margin: -20px 0 20px;
	}


// Topics
// =============================================================================

.gb_topics {
	margin-top: 30px;

	@media #{$min_sm} {
		display: flex;
		flex-wrap: wrap;
	}
}

	.gb_topic {
		max-width: 400px;

		display: block;
		margin-bottom: 8%;

		@media screen and (min-width: 600px) {
			width: 42%;
			margin-right: 8%;
			margin-bottom: 4%;
		}

		@media #{$min_lg} {
			width: 25.33%;
		}

		&_trello {
			position: relative;

			cursor: pointer;

			&:before {
				height: 40px;
				width: 40px;

				position: absolute;
				top: 0;
				left: 50%;

				background: currentColor;
				border-radius: 50%;
				content: "";
				transform:
					translate(-50%, -50%)
					scale(0);

				.trello_format_list & {
					height: 20px;
					width: 20px;

					top: 5px;
					left: 0;
				}
			}

			&:focus,
			&:hover {

				&:before {
					animation: trello-topic-burst .5s forwards;
				}
			}

			.trello_format_list & {
				max-width: 100%;
				width: 100%;

				margin-bottom: 10px;
			}
		}
	}

	@keyframes trello-topic-burst {

		100% {
			opacity: 0;
			transform:
				translate(-50%, -50%)
				scale(1);
		}
	}

		.gb_topic_header {}

			.gb_topic_figure {

				@media screen and (min-width: 600px) {
					height: 165px;

					position: relative;
				}
			}

				.gb_topic_image {
					max-height: 340px;
					max-width: 100%;

					margin-bottom: 24px;

					&_juxtaposed {

						@media screen and (min-width: 600px) {
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}

					.trello_format_list & {
						display: none;
					}
				}

			.gb_topic_placeholder {
				height: 165px;
				width: 100%;

				border: 1px solid rgba(#979797, .2);
				margin-bottom: 20px;
			}

			.gb_topic_title {
				@include h4;

				color: #000;
				margin: 0 0 10px;
			}

				.gb_topic_link {
					box-shadow:
						inset 0 -1px 0 0 #fff,
						inset 0 -4px 0 0 #000;
					color: inherit;
					display: inline;
					text-shadow:
						-2px -2px white,
						-2px 2px white,
						2px -2px white,
						2px 2px white;
				}

			.gb_topic_caption {
				@include body_text;

				margin: 0;
			}


// Types
// =============================================================================

.gb_types {}

	.gb_type {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

		.gb_type_title {}

		.gb_type_item {
			max-width: 170px;
			width: 100%;

			border: 1px solid #979797;
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 20px;
			padding: 25px 20px 16px;
		}

			.gb_type_test {
				display: block;
				font-size: 58px;
			}

			.gb_type_weight {
				display: block;
				font-size: 18px;
			}


// Colors
// =============================================================================

.gb_colors {

	@media #{$min_sm} {
		display: flex;
		flex-wrap: wrap;
	}
}

	.gb_color {
		max-width: 260px;

		margin-bottom: 8%;
		text-align: left;

		@media #{$min_sm} {
			width: 42%;
			margin-right: 4%;
			margin-bottom: 4%;
		}

		@media #{$min_lg} {
			width: 25.33%;
		}
	}

		.gb_color_block {
			height: 100px;

			box-shadow: inset 0 0 0 1px rgba(#000, .1);
			margin-bottom: 5px;
		}

		.gb_color_details {}

			.gb_color_label {
				@include body_text;

				background: none;
				border: 0;
				display: block;
				line-height: 1.25;
				outline: 0;
				padding: 0;
			}

			.gb_color_copy {
				@include nt(700);

				border-bottom: 1px solid;
				border-radius: 0;
				cursor: pointer;
				display: inline-block;
				font-size: 12px;
				margin: 2px 0;
				opacity: 0;
				text-transform: uppercase;
				transition: opacity .25s;

				.gb_color:focus &,
				.gb_color:hover & {
					opacity: 1;
				}
			}


// Trello
// =============================================================================

.gb_trello_list {

	.gb_trello_detail_lock & {
		display: none;
	}
}

	.gb_trello_section {

		&.empty {
			display: none;
		}
	}

		.gb_trello_section_title {
			@include h2;

			position: relative;
			position: sticky;
			top: 10px;
			z-index: 4;

			background: #000;
			color: #fff;
			display: inline-block;
			margin: 0;
			padding: 1px 10px;
		}

			.gb_trello_section_label {}

			.gb_trello_section_formatter {
				height: 50px;
				width: 100px;

				position: absolute;
				top: 50%;
				left: 100%;

				background: #fff;
				border: 1px solid #000;
				border-radius: 0;
				margin-left: 20px;
				transform: translate(0, -50%);

				@media #{$max_sm} {
					display: none;
				}
			}

			.gb_trello_section_format {
				height: 100%;
				width: 50%;

				position: absolute;
				top: 0;

				&_indicator {
					left: 0;

					background: #000;
					border-radius: 0;
					transform: translate(0, 0);
					transform-origin: right center;
					transition:
						border-radius .25s,
						transform .25s;

					.gb_trello_section_formatter:focus &,
					.gb_trello_section_formatter:hover & {
						border-radius: 50%;
					}

					.trello_format_list & {
						transform: translate(100%, 0);
					}
				}

				&_grid {
					left: 0;

					&:before {
						height: 4px;
						width: 4px;

						position: absolute;
						top: 50%;
						left: 50%;

						background: #fff;
						box-shadow:
							-6px 0 0 0 #fff,
							-6px -6px 0 0 #fff,
							0 -6px 0 0 #fff,
							6px -6px 0 0 #fff,
							6px 0 0 0 #fff,
							6px 6px 0 0 #fff,
							0 6px 0 0 #fff,
							-6px 6px 0 0 #fff;
						content: "";
						transform: translate(-50%, -50%);
					}
				}

				&_list {
					right: 0;

					&:before {
						height: 3px;
						width: 16px;

						position: absolute;
						top: 50%;
						left: 50%;

						background: #fff;
						box-shadow:
							0 -6px 0 0 #fff,
							0 6px 0 0 #fff;
						content: "";
						transform: translate(-50%, -50%);
					}
				}
			}

		.gb_trello_section_body {
			padding-bottom: 40px;
		}

			.gb_trello_detail {
				@include clearfix;
				@include cover;

				position: fixed;
				z-index: 80;

				background: #fff;
				display: none;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
				padding: 20px;

				&.hash-swap-active,
				&.fs-swap-active {
					display: block;
				}
			}

				.gb_trello_detail_close {
					@include nt(700);

					position: relative;

					background: #000;
					color: #fff;
					cursor: pointer;
					border: 0;
					border-radius: 4px;
					margin-bottom: 2em;
					padding: 10px 20px;

					&:before {
						height: 6px;
						width: 6px;

						border-left: 2px solid #fff;
						border-bottom: 2px solid #fff;
						content: "";
						display: inline-block;
						margin-top: -3px;
						margin-right: 10px;
						transform: rotate(45deg);
						vertical-align: middle;
					}

					&:after {
						height: 44px;
						width: 44px;

						position: absolute;
						top: 50%;
						left: 50%;

						box-shadow: inset 0 0 0 22px #fff;
						border-radius: 50%;
						content: "";
						transform:
							translate(-50%, -50%)
							scale(0);
					}

					&:focus,
					&:hover {

						&:after {
							animation: trello-burst .5s forwards;
						}
					}
				}

				@keyframes trello-burst {

					80% {
						opacity: 1;
					}

					100% {
						box-shadow: inset 0 0 0 0 #fff;
						opacity: 0;
						transform:
							translate(-50%, -50%)
							scale(1);
					}
				}

				.gb_trello_detail_inner {
					margin: 0 auto;
				}

					.gb_trello_detail_title {}

					.gb_trello_detail_component {
						margin: 0 auto;
					}

					.gb_trello_detail_image {
						max-width: 100%;

						display: block;
						margin: 30px auto;
					}

					.gb_trello_detail_content {}

					.gb_trello_detail_markup_wrapper {

						.gb_trello_detail_markup {
							background: none;
							border: 1px solid #D3D3D3;
							padding: 20px;
						}
					}
