@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-55Rg.otf");
	font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-65Md.otf");
	font-weight: 500;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Std";
  src: url("../fonts/NHaasGroteskDSStd-75Bd.otf");
	font-weight: 700;
}

@mixin nd($weight: null) {
	font-family: "Neue Haas Grotesk Display Std", sans-serif;

	@if $weight != null {
		font-weight: $weight;
	}
}


@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-55Rg.otf");
	font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-56It.otf");
	font-style: italic;
	font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-65Md.otf");
	font-weight: 500;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Std";
  src: url("../fonts/NHaasGroteskTXStd-75Bd.otf");
	font-weight: 700;
}

@mixin nt($weight: null) {
	font-family: "Neue Haas Grotesk Text Std", sans-serif;

	@if $weight != null {
		font-weight: $weight;
	}
}
