@include font-face("Neue Haas Grotesk Display Std", (
	("NHaasGroteskDSStd-55Rg", 400),
	("NHaasGroteskDSStd-65Md", 500),
	("NHaasGroteskDSStd-75Bd", 700)
));

@mixin nd($weight: null) {
	font-family: "Neue Haas Grotesk Display Std", sans-serif;

	@if $weight != null {
		font-weight: $weight;
	}
}


@include font-face("Neue Haas Grotesk Text Std", (
	("NHaasGroteskTXStd-55Rg", 400),
	("NHaasGroteskTXStd-56It", 400, italic),
	("NHaasGroteskTXStd-65Md", 500),
	("NHaasGroteskTXStd-75Bd", 700)
));

@mixin nt($weight: null) {
	font-family: "Neue Haas Grotesk Text Std", sans-serif;

	@if $weight != null {
		font-weight: $weight;
	}
}
