/* ==========================================================================
	Navigation
============================================================================= */

.gb_ribbon_link {
	@include nd(500);

	color: inherit;
	display: block;
	font-size: 24px;
	padding: 30px 0 10px;

	@media #{$min_lg} {
		padding-bottom: 30px;
	}
}

.gb_ribbon_logo {
	display: none;

	@media #{$min_lg} {
		position: absolute;
		top: 50%;
		right: 0;

		color: inherit;
		display: block;
		transform: translate(0, -50%);
	}
}


/* Main Nav
============================================================================= */

.gb_main_nav {
	padding-bottom: 22px;

	@media #{$min_lg} {
		padding: 19px 95px 20px 0;
	}
}

.gb_main_nav_header {}
	
.gb_main_nav_title {
	@include visually_hide;
}

.gb_main_nav_list {
	list-style: none;
	margin: 0;
	overflow-y: auto;
	padding: 0;
	white-space: nowrap;
}

.gb_main_nav_item {
	display: inline-block;
	margin-right: 20px;

	@media #{$min_xl} {
		margin-right: 45px;
	}

	&:last-child {

		@media screen and (min-width: 540px) {
			margin-right: 0;
		}
	}
}

.gb_main_nav_link {
	color: inherit;
	display: block;
	padding: 15px 0;
}

.gb_main_nav_link_label {
	@include nt(700);

	position: relative;

	color: inherit;
	font-size: 14px;

	&:after {
		height: 1px;
		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;

		background: #fff;
		content: '';
		margin-top: 4px;
		transform: scaleX(0);
		transition: transform .25s;

		.gb_main_nav_link:focus &,
		.gb_main_nav_link:hover &,
		.active & {
			transform: scaleX(1);
		}

		.active & {
			height: 2px;
		}
	}
}


/* Jump Nav
============================================================================= */

.gb_jump_nav {
	position: relative;

	overflow-x: auto;
	white-space: nowrap;

	.gb_trello_detail_lock & {
		display: none;
	}
}

.gb_jump_nav_link {
	position: relative;
	z-index: 2;

	color: inherit;
	display: inline-block;
	vertical-align: top;
	margin-right: 35px;
	overflow: hidden;
	padding: 20px 0;

	&:before {
		height: 100%;
		width: 1px;

		position: absolute;
		bottom: 100%;
		left: 50%;
		z-index: -2;

		background: #fff;
		content: "";
		transform: translate(-50%, 0);
	}

	&:focus,
	&:hover {

		&:before {
			animation: jump-down .5s forwards;
		}
	}
}

@keyframes jump-down {

	100% {
		transform: translate(-50%, 200%);
	}
}

.gb_jump_nav_link_label {
	@include nt(400);

	color: inherit;
	font-size: 14px;
	line-height: (17 / 14);
}

.gb_jump_nav_rocket {
	height: 40px;
	width: 40px;

	position: fixed;
	bottom: 20px;
	right: 20px;

	background: #000;
	border-radius: 50%;
	color: transparent;
	overflow: hidden;
	transform: scale(0);
	transition: transform .25s;

	@media #{$min_xl} {
		height: 100%;

		position: absolute;
		top: 0;
		bottom: auto;
		right: 0;

		background: none;
		border-radius: 0;
	}

	&:before {
		height: 30px;
		width: 30px;

		position: absolute;
		top: 50%;
		left: 50%;

		border: 2px solid #000;
		border-radius: 50%;
		content: "";
		transform: translate(-50%, -50%);

		@media #{$min_xl} {
			border-color: #fff;
		}
	}

	&:after {
		height: 15px;
		width: 10px;

		position: absolute;
		top: 50%;
		left: 50%;
		
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAABGdBTUEAALGPC/xhBQAAAR9JREFUSA3tlD1rwlAUhnNLMzn0dzhmyuyks1tx1q10r9Cl0D0/QvAftAj+EUcnBRdphyLW63PSc0OS0jQf4GIOvJyPe94n8SLxvEuHtbaDFqpOo+cD8dEbcvFO4deCYjRo5kipLDNTGYopUsia/KGSWiKqBMQwjW3W7shdtEUbrWUmMS0FZXEcr1v7SQ7FRI6BWof0ciYxKYSyMERHdEB9t0ydABU60J1v8tDtZTIHPfSFTug+fUifASp0pLvi6aX35ScFaI8kHjKHNMx+ARX6GDt+vEHiY7jSg5dkmCr+Air0Vb0r6W/VtyDPjTHP2pdOeJ4EiOGutKnoDfOQm/ygad8Cm96g57V32N5hjRu4wr+N+8D+d1tLFuQjevk4AzllRX0famYoAAAAAElFTkSuQmCC');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		content: "";
		transform: translate(-50%, -50%);
	}

	&:focus,
	&:hover {

		&:after {
			animation: rocket-jump 3s infinite;
		}
	}

	.pinned & {
		transform: scale(1);
	}
}

@keyframes rocket-jump {

	10% {
		opacity: 0;
		transform: translate(-50%, -150%);
	}

	20% {
		opacity: 0;
		transform: translate(-50%, 50%);
	}

	30%,
	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
