// Page link
// =============================================================================

.gb_ribbon_link {
	@include nd(500);

	color: inherit;
	display: block;
	font-size: 24px;
	padding: 31px 0 10px;

	@media #{$min_lg} {
		padding-bottom: 30px;
	}
}

.gb_ribbon_logo {
	position: absolute;
	top: 27px;
	right: 20px;
	z-index: 2;

	color: inherit;
	transform-origin: right center;
	transform: scale(.75);

	@media #{$min_lg} {
		top: 50%;
		right: 0;

		transform: translate(0, -50%);
	}

	svg {
		height: 33px;
		width: 50px;
	}
}


// Main Nav
// =============================================================================

.gb_main_nav {
	padding-bottom: 22px;

	@media #{$min_lg} {
		padding-top: 22px;
		padding-right: 95px;
	}
}

	.gb_main_nav_list {}

		.gb_main_nav_item {

			@media screen and (min-width: 540px) {
				display: inline-block;
				margin-right: 20px;
			}

			@media #{$min_lg} {
				margin-right: 45px;
			}

			&:last-child {

				@media screen and (min-width: 540px) {
					margin-right: 0;
				}
			}
		}

			.gb_main_nav_link {
				@include nt(700);

				color: inherit;
				display: block;
				font-size: 13px;
				padding: 15px 0;
				text-transform: uppercase;
			}

				.gb_main_nav_link_label {
					position: relative;

					&:after {
						height: 1px;
						width: 100%;

						position: absolute;
						top: 100%;
						left: 0;

						background: #fff;
						content: '';
						margin-top: 4px;
						transform: scaleX(0);
						transition: transform .25s;
						transform-origin: left center;

						@media screen and (min-width: 540px) {
							transform-origin: center center;
						}

						.active & {
							transform: scaleX(1);
						}
					}

					.gb_main_nav_link:focus &,
					.gb_main_nav_link:hover & {

						&:after {
							transform: scaleX(1);
						}
					}
				}


// Jump Nav
// =============================================================================

.gb_jump_nav {
	position: relative;

	overflow-x: auto;
	white-space: nowrap;

	.gb_trello_detail_lock & {
		display: none;
	}
}

	.gb_jump_nav_link {
		@include nt(700);

		position: relative;
		z-index: 2;

		color: #fff;
		display: inline-block;
		vertical-align: top;
		font-size: 13px;
		line-height: (16 / 13);
		margin-right: 40px;
		overflow: hidden;
		padding: 20px 0;
		text-shadow: 0 0 2px #333;
		text-transform: uppercase;

		&:before {
			height: 100%;
			width: 1px;

			position: absolute;
			bottom: 100%;
			left: 50%;
			z-index: -2;

			background: #fff;
			content: "";
			transform-origin: center bottom;
			transform: translate(-50%, 0);
		}

		&:focus,
		&:hover {

			&:before {
				animation: jump-down .5s forwards;
			}
		}
	}

	@keyframes jump-down {

		100% {
			transform: translate(-50%, 200%);
		}
	}

	.gb_jump_nav_rocket {
		height: 40px;
		width: 40px;

		position: fixed;
		bottom: 20px;
		right: 20px;

		background: #333;
		border-radius: 50%;
		color: transparent;
		overflow: hidden;
		transform: scale(0);
		transition: transform .25s;

		@media #{$min_xl} {
			height: 100%;

			position: absolute;
			top: 0;
			bottom: auto;
			right: 0;

			background: none;
			border-radius: 0;
		}

		&:before {
			height: 30px;
			width: 30px;

			position: absolute;
			top: 50%;
			left: 50%;

			border: 2px solid #fff;
			border-radius: 50%;
			content: "";
			transform: translate(-50%, -50%);
		}

		&:after {
			height: 8px;
			width: 8px;

			position: absolute;
			top: 50%;
			left: 50%;

			border-top: 2px solid #fff;
			border-left: 2px solid #fff;
			margin-top: 2px;
			content: "";
			transform:
				translate(-50%, -50%)
				rotate(45deg);
		}

		.pinned & {
			transform: scale(1);
		}
	}
