/* ==========================================================================
	Navigation
============================================================================= */

.gb_ribbon_link {
	@include nd(700);

	color: inherit;
	display: block;
	font-size: 24px;
	padding: 30px 0 10px;

	@media #{$min_lg} {
		padding-bottom: 30px;
	}
}

.gb_ribbon_logo {
	display: none;

	@media #{$min_lg} {
		position: absolute;
		top: 50%;
		right: 0;

		color: inherit;
		display: block;
		transform: translate(0, -50%);
	}
}


/* Main Nav
============================================================================= */

.gb_main_nav {
	padding-bottom: 22px;

	@media #{$min_lg} {
		padding: 19px 95px 20px 0;
	}
}

.gb_main_nav_header {}

.gb_main_nav_title {
	@include visually_hide;
}

.gb_main_nav_list {
	list-style: none;
	margin: 0;
	overflow-y: auto;
	padding: 0;
	white-space: nowrap;
}

.gb_main_nav_item {
	display: inline-block;
	margin-right: 20px;

	@media #{$min_xl} {
		margin-right: 45px;
	}

	&:last-child {

		@media screen and (min-width: 540px) {
			margin-right: 0;
		}
	}
}

.gb_main_nav_link {
	color: inherit;
	display: block;
	padding: 15px 0;
}

.gb_main_nav_link_label {
	@include nt(700);

	position: relative;

	color: inherit;
	font-size: 16px;

	&:after {
		height: 1px;
		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;

		background: #000;
		content: '';
		margin-top: 4px;
		transform: scaleX(0);
		transition: transform $base_speed;

		@media #{$reduce} {
			transition-duration: 0;
		}

		.gb_main_nav_link:focus &,
		.gb_main_nav_link:hover &,
		.active & {
			transform: scaleX(1);
		}

		.active & {
			height: 2px;
		}
	}
}


/* Jump Nav
============================================================================= */

.gb_jump_nav {
	position: relative;

	overflow-x: auto;
	white-space: nowrap;
}

.gb_jump_nav_link {
	position: relative;
	z-index: 2;

	color: inherit;
	display: inline-block;
	vertical-align: top;
	margin-right: 35px;
	overflow: hidden;
	padding: 20px 0;

	&:before {
		height: 100%;
		width: 1px;

		position: absolute;
		bottom: 100%;
		left: 50%;
		z-index: -2;

		background: #000;
		content: "";
		transform: translate(-50%, 0);
	}

	&:focus,
	&:hover {

		&:before {
			animation: jump-down 0.5s forwards;
		}
	}
}

@keyframes jump-down {

	100% {
		transform: translate(-50%, 200%);
	}
}

.gb_jump_nav_link_label {
	@include nt(500);

	color: inherit;
	font-size: 14px;
	line-height: (17 / 14);
}

.gb_jump_nav_rocket {
	height: 40px;
	width: 40px;

	position: fixed;
	bottom: 20px;
	right: 20px;

	background: #eee;
	border-radius: 50%;
	color: transparent;
	overflow: hidden;
	transform: scale(0);
	transition: transform $base_speed;

	@media #{$reduce} {
		transition-duration: 0;
	}

	@media #{$min_xl} {
		position: absolute;
		top: 50%;
		bottom: auto;
		right: 0;

		background: none;
		border: 2px solid #000;
		transform:
			translate(0, -50%)
			scale(0);
	}

	&:after {
		height: 14px;
		width: 14px;

		position: absolute;
		top: 50%;
		left: 50%;

		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAAPdJREFUWAntlTEOwjAMRQNn6wQDAomzMzAgJjgDC/xfFcmEunGcNFMsWbUC9nuyGgjBH3u0XpBX5ME/xtd5RNsL+Z6SNc+aRAxvKqHBm0ik4KtKWOGrSMzB5Qsood+azyovpgY/ASBhrHkWixVJLMHB+hPgWTWJFFwTqCJhgS8JFElY4SkBl0QO3CKQJaHBea5FfAu07yVn81/Nc32sAhTTJMgOd6QcZr27sod1KuYkyP4RsMLZlyvAnlhiFBjwAQvmuBI8LeER4Nwd8jblsOGJM+K1u2ZtnfBqbV2gb6BvoG+gb6BkA0/xeyxrcbxuecb4x5SsXfEBN/LdRcH308QAAAAASUVORK5CYII=');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		content: "";
		transform: translate(-50%, -50%);
	}

	&:focus,
	&:hover {

		&:after {
			animation: rocket-jump 3s infinite;
		}
	}

	.pinned & {
		transform: scale(1);

		@media #{$min_xl} {
			transform:
				translate(0, -50%)
				scale(1);
		}
	}
}

@keyframes rocket-jump {

	10% {
		opacity: 0;
		transform: translate(-50%, -150%);
	}

	20% {
		opacity: 0;
		transform: translate(-50%, 50%);
	}

	30%,
	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
