/* ==========================================================================
	Structure
============================================================================= */

.gb_page_header {
	background: #eee;
	color: #000;
}

.gb_page_ribbon {}

.gb_ribbon_inner {

	@media #{$min_lg} {
		position: relative;

		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.gb_jump_ribbon {
	width: 100%;

	position: relative;
	top: 0;
	left: 0;
	z-index: 8;

	background: #f6f6f6;

	&:after {
		height: 10px;
		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;
		z-index: 4;

		background: 
			linear-gradient(
				to bottom,
					rgba(#000, .085),
					rgba(#000, 0)
			);
		content: "";
		opacity: 0;
		transition: opacity .25s;

		.pinned & {
			opacity: 1;
		}
	}

	.pinned & {
		position: fixed;
	}
}


/* Content
============================================================================= */

.gb_page_content {
	background: #fff;
	color: #000;
	padding: 80px 0 200px;
}

.gb_page_details {
	position: relative;

	margin-bottom: 80px;

	.gb_trello_detail_lock & {
		display: none;
	}

	a {
		color: inherit;
		text-decoration: underline;
		transition: color .25s;

		&:focus,
		&:hover {
			color: #DA2315;
		}
	}
}

.gb_page_title {
	@include h1;

	margin: 0;
}

.gb_page_title_label {
	display: inline-block;
	vertical-align: middle;
}

.gb_page_caption {
	@include body_text;
	@include nt(500);

	margin: 0;
}

.gb_page_image {
	display: none;

	@media #{$min_lg} {
		position: absolute;
		top: 50%;
		right: 0;

		display: block;
		transform: translate(0, -50%);
	}
}


/* Section
============================================================================= */

.gb_section {
	border-top: 1px solid #c4c4c4;
	margin: 70px 0;
	padding-top: 70px;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.gb_section_header {
	margin-bottom: 40px;
}

.gb_section_title {
	@include h2;

	margin: 0;
}

.gb_section_caption {
	@include caption_text;

	color: #6b6b6b;
	margin: 0;
}
