// Header
// =============================================================================

.gb_page_header {
	color: #fff;
}

	.gb_page_ribbon {
		background: #000;
	}

		.gb_ribbon_group {

			@media #{$min_lg} {
				position: relative;

				align-items: center;
				display: flex;
				justify-content: space-between;
			}
		}

	.gb_jump_ribbon {
		background: #333;

		.pinned & {
			width: 100%;

			position: fixed;
			top: 0;
			left: 0;
			z-index: 8;
		}
	}


// Content
// =============================================================================

.gb_page_content {
	background: #fff;
	padding: calc(60px + 2vh) 0 200px;
}

	.gb_page_details {
		position: relative;

		.gb_trello_detail_lock & {
			display: none;
		}

		a {
			color: inherit;
			text-decoration-skip: ink;
			text-decoration: underline;
			transition: color .25s;

			&:focus,
			&:hover {
				color: #DA2315;
			}
		}
	}

		.gb_page_intro {
			@include h2;

			margin: 0 0 60px;

			u {
				color: #DA2315;
				text-decoration: none;
			}
		}

		.gb_page_title {
			@include h1;

			margin: 0;
		}

			.gb_page_title_label {
				display: inline-block;
				vertical-align: middle;
			}

		.gb_page_caption {
			@include body_text;

			margin: 12px 0 0;
		}

		.gb_page_image {
			display: none;

			@media #{$min_lg} {
				position: absolute;
				top: 10px;
				right: 0;

				display: block;
			}
		}


// Section
// =============================================================================

.gb_section {
	margin: 80px 0;
}

	.gb_section_title {
		@include h2;

		margin: 0 0 20px;
	}

	.gb_section_caption {
		@include body_text;

		margin: -20px 0 20px;
	}
