/* ==========================================================================
	Topics
============================================================================= */

.gb_topics {

	@media #{$min_sm} {
		display: flex;
		flex-wrap: wrap;
	}
}

.gb_topic {
	max-width: 400px;

	position: relative;

	border-bottom: 1px solid #ccc;
	color: #000;
	cursor: pointer;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	padding-bottom: 8%;
	text-decoration: underline;
	transition: color .25s;

	@media screen and (min-width: 600px) {
		width: 50%;
		margin-bottom: 4%;
		padding-right: 8%;
		padding-bottom: 4%;
	}

	@media #{$min_lg} {
		width: 33.33%;
	}

	&:focus,
	&:hover {
		color: #DA2315;
	}

	.trello_format_list & {
		max-width: 100%;
		width: 100%;

		border-bottom: 0;
		margin-bottom: 10px;
		padding-bottom: 0;
	}
}

.gb_topic_figure {}

.gb_topic_image {
	max-height: 340px;
	max-width: 100%;

	margin-bottom: 18px;

	.trello_format_list & {
		display: none;
	}
}

.gb_topic_title {
	@include h5;

	color: inherit;
	margin: 0;
}

.gb_topic_caption {
	@include body_text;

	margin: 0;
}