/* ==========================================================================
	Topics
============================================================================= */

.gb_topics {

	@media screen and (min-width: 600px) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}
}

.gb_topic {
	max-width: 400px;

	position: relative;

	background: #f6f6f6;
	border: 1px solid #d8d8d8;
	color: #000;
	cursor: pointer;
	margin-bottom: 40px;
	transition: color $base_speed;

	@media screen and (min-width: 600px) {
		width: calc(50% - 40px);

		margin-right: 20px;
		margin-left: 20px;
	}

	@media #{$min_lg} {
		width: calc(33.33% - 40px);
	}

	@media #{$min_xl} {
		width: calc(25% - 40px);
	}

	&:focus,
	&:hover {
		color: #DA2315;
	}
}

.gb_topic_title {
	@include h5;

	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	color: #6b6b6b;
	margin: 0;
	padding: 18px 20px;
}

.gb_topic_figure {
	max-height: 300px;

	position: relative;

	overflow: hidden;
	padding: 20px 20px 40px;

	&:before {
		height: 40px;
		width: 100%;

		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;

		background:
			linear-gradient(
				to top,
					rgba(#f6f6f6, 1) 25%,
					rgba(#f6f6f6, 0)
			);
		content: "";
	}
}

.gb_topic_image {
	max-width: 100%;
	width: 100%;
}