/* ==========================================================================
	Trello
============================================================================= */

.fs-trello-lock {
	overflow: hidden;
}

.gb_trello_formatter {
	height: 50px;
	width: 100px;

	position: relative;

	background: #fff;
	border: 1px solid #c4c4c4;
	border-radius: 0;
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;

	@media #{$max_sm} {
		display: none;
	}
}

.gb_trello_format {
	height: 100%;
	width: 50%;

	position: absolute;
	top: 0;

	&_indicator {
		left: 0;

		background: #eee;
		border-radius: 0;
		transform: translate(0, 0);
		transform-origin: right center;
		transition:
			border-radius $base_speed,
			transform $base_speed;

		@media #{$reduce} {
			transition-duration: 0;
		}

		.gb_trello_section_formatter:focus &,
		.gb_trello_section_formatter:hover & {
			border-radius: 50%;
		}

		.trello_format_list & {
			transform: translate(100%, 0);
		}
	}

	&_grid {
		left: 0;

		&:before {
			height: 4px;
			width: 4px;

			position: absolute;
			top: 50%;
			left: 50%;

			background: #000;
			box-shadow:
				-6px 0 0 0 #000,
				-6px -6px 0 0 #000,
				0 -6px 0 0 #000,
				6px -6px 0 0 #000,
				6px 0 0 0 #000,
				6px 6px 0 0 #000,
				0 6px 0 0 #000,
				-6px 6px 0 0 #000;
			content: "";
			transform: translate(-50%, -50%);
			transition:
				background $base_speed,
				box-shadow $base_speed;
		}
	}

	&_list {
		right: 0;

		&:before {
			height: 3px;
			width: 16px;

			position: absolute;
			top: 50%;
			left: 50%;

			background: #000;
			box-shadow:
				0 -6px 0 0 #000,
				0 6px 0 0 #000;
			content: "";
			transform: translate(-50%, -50%);
			transition:
				background $base_speed,
				box-shadow $base_speed;
		}
	}
}

.gb_trello_list {

	.gb_trello_lock & {
		display: none;
	}
}


/* Trello Detail View
============================================================================= */

.gb_trello_detail {
	@include clearfix;
	@include cover;

	position: fixed;
	z-index: 80;

	background: #fff;
	display: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 54px 0 100px;

	@media #{$min_xl} {
		padding-top: 70px;
	}

	&.hash-swap-active,
	&.fs-swap-active {
		display: block;
	}
}

.gb_trello_detail_ribbon {
	@include clearfix;

	width: 100%;

	position: fixed;
	top: 0;
	left: 0;

	background: #f6f6f6;
	margin-bottom: 80px;
	padding: 0 20px;

	&:after {
		height: 10px;
		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;
		z-index: 4;

		background:
			linear-gradient(
				to bottom,
					rgba(#000, 0.085),
					rgba(#000, 0)
			);
		content: "";
	}
}

.gb_trello_detail_pager {
	@include nt(500);

	color: #000;
	display: none;
	font-size: 13px;
	padding: 28px 0;

	@media #{$min_xl} {
		display: inline-block;
	}

	&:before,
	&:after {
		height: 6px;
		width: 6px;

		border-bottom: 2px solid #000;
		content: "";
		display: inline-block;
		margin-top: -3px;
		vertical-align: middle;
	}

	&_prev {
		float: left;

		&:before {
			border-left: 2px solid #000;
			margin-right: 10px;
			transform: rotate(45deg);
		}

		&:after {
			display: none;
		}
	}

	&_next {
		float: right;

		&:before {
			display: none;
		}

		&:after {
			border-right: 2px solid #000;
			margin-left: 10px;
			transform: rotate(-45deg);
		}
	}
}

.gb_trello_detail_close {
	@include nt(700);

	position: relative;

	color: #000;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	display: inline-block;
	font-size: 13px;
	padding: 20px 35px;

	@media #{$min_xl} {
		position: absolute;
		top: 0;
		left: 50%;

		padding: 28px 35px;
		transform: translate(-50%, 0);
	}

	&:before {
		height: 10px;
		width: 10px;

		position: absolute;
		top: 50%;
		left: 0;

		background: #000;
		box-shadow:
			11px 0 0 0 #000,
			0 11px 0 0 #000,
			11px 11px 0 0 #000;
		content: "";
		margin-bottom: 6px;
		margin-top: -6px;
		transform: translate(0, -50%);
	}

	&:after {
		height: 44px;
		width: 44px;

		position: absolute;
		top: 50%;
		left: 50%;

		box-shadow: inset 0 0 0 22px #000;
		border-radius: 50%;
		content: "";
		transform:
			translate(-50%, -50%)
			scale(0);
	}

	&:focus,
	&:hover {

		&:after {
			animation: trello-burst 0.5s forwards;
		}
	}
}

@keyframes trello-burst {

	80% {
		opacity: 1;
	}

	100% {
		box-shadow: inset 0 0 0 0 #000;
		opacity: 0;
		transform:
			translate(-50%, -50%)
			scale(1);
	}
}

.gb_trello_detail_inner {
	margin: 0 auto;
	padding-top: 80px;
}

.gb_trello_detail_title {
	@include h2;

	margin: 0 0 30px;
}

.gb_trello_detail_cover {}

.gb_trello_detail_image {
	max-width: 100%;

	display: block;
	margin: 0 auto;
}