<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>{{name}}</title>
		<style>
			html {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}

				body {
					max-width: 740px;

					margin: 0 auto;
					padding: 0 20px;
				}

					h1 {
						font-size: 8vmin;
						font-weight: 300;
					}

					ul {
						list-style: none;
						margin-bottom: 80px;
						padding-left: 0;
					}

					@media print {

						ul {
							border: 0;
						}
					}

						li {
							border-left: 4px solid;
						}

						@media print {

							li {
								border-right: 0;
								box-shadow: none;
							}
						}

						li:first-child a {
							border-top: 1px solid #e4e4e4;
						}

						.fs-style-guide {
							border-left-color: #aaf;
						}

						.fs-test {
							border-left-color: #afa;
						}

						.fs-page {
							border-left-color: #faa;
						}

							a {
								border-right: 1px solid #e4e4e4;
								border-bottom: 1px solid #e4e4e4;
								color: #005EB8;
								display: block;
								padding: 13px 20px 12px;
								text-decoration: none;
								transition:
									background .25s,
									color .25s;
							}

							a:hover,
							a:focus {
								background: #f2f2f2;
							}

							a:visited {
								color: #8E3A80;
							}

							@media print {

								a {
									padding: 2px 0;
								}
							}
		</style>
	</head>
	<body>
		<header>
			<h1>{{name}}</h1>
		</header>
		<main>
			<ul>
				{% for key, link in sitemap.templates %}
					<li class="{% if 'fs-style' in key %}fs-style-guide{% elseif 'test' in key %}fs-test{% elseif 'page' in key %}fs-page{% endif %}">
						<a href="{{link}}">{{key|replace({
							".html": ""
						})}}</a>
					</li>
				{% endfor %}
			</ul>
		</main>
	</body>
</html>
