/* ==========================================================================
	Header
============================================================================= */

.header {
	background: #eee;
	padding: 20px 0;

	@media print {
		display: none;
	}
}

.header_ribbon {}

.header_ribbon_inner {}

.header_group {}
