/* ==========================================================================
	Grid
============================================================================= */

$space: 20px;

@mixin grid() {
	margin: 0 $space * -2;
	overflow: hidden;
}

.grid {
	@include grid;
}

@mixin row() {
	@include clearfix;

	margin-right: auto;
	margin-left: auto;
	padding-right: $space;
	padding-left: $space;

	@media #{$min_sm} {
		max-width: $mq_min_sm + ($space * 2);
	}

	@media #{$min_md} {
		max-width: $mq_min_md + ($space * 2);
	}

	@media #{$min_lg} {
		max-width: $mq_min_lg + ($space * 2);
	}

	@media #{$min_xl} {
		max-width: $mq_min_xl + ($space * 2);
	}
}

.row {
	@include row;
}

@mixin cell() {
	width: 100%;

	float: left;
	padding-right: $space / 2;
	padding-left: $space / 2;
}
