/* ==========================================================================
	Symbols
============================================================================= */

.symbol {
	display: block;
	stroke: inherit;
	fill: currentColor;
	transition: fill .25s;

	@media print {
		display: none;
	}

	$symbols: (
		(caret_down, 20px, 10px),
		(chevron_left, 20px, 20px),
		(chevron_right, 20px, 20px),
		(logo, 33px, 20px),
		(search, 20px, 20px)
	);

	@each $label, $w, $h in $symbols {

		&_#{$label} {
			height: $h;
			width: $w;
		}
	}
}
