/* ==========================================================================
	Buttons
============================================================================= */

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

@mixin button() {
	cursor: pointer;
	text-align: center;
}

@mixin button_layout($layout: true) {

	@if $layout {

		[class$="inner"] {
			align-items: center;
			display: flex;
		}

		[class$="icon"] {

			@media print {
				display: none;
			}
		}

		[class$="label"] {}
	}
}

@mixin button_text() {}

@mixin button_fill(
	$b: $gray_10,
	$hb: $gray_20,
	$c: $gray_60,
	$hc: $gray_80
) {
	background: $b;
	color: $c;
	transition:
		background .25s,
		color .25s;

	&:focus,
	&:hover {
		background: $hb;
		color: $hc;
	}

	[class$="icon"] {}

	[class$="label"] {}
}

@mixin button_inline($layout: true) {
	@include button;
	@include button_layout($layout);

	display: inline-block;
}

@mixin button_block($layout: true) {
	@include button;
	@include button_layout($layout);

	display: block;
}

@mixin button_mixed_block($layout: true) {
	@include button_block;
	@include button_layout($layout);

	@media #{$min_sm} {
		display: inline-block;
	}
}


/* Skip Link
============================================================================= */

.skip_link {
	@include button_inline;
	@include button_fill;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	display: block;
	padding: 10px 20px;
	text-align: center;
	transform: translate(-50%, -200%);
	transition: transform .35s;

	&:focus,
	&:active {
		transform: translate(-50%, 40px);
	}
}
