/* ==========================================================================
	Buttons
============================================================================= */

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

@mixin button() {
	cursor: pointer;
	text-align: center;
}

@mixin button_layout($layout: true) {

	@if $layout {

		[class$="inner"] {
			align-items: center;
			display: flex;
		}

		[class$="label"] {}

		[class$="icon"] {

			@media print {
				display: none;
			}
		}
	}
}

@mixin button_text(
	$color: #000,
	$hover_color: #666
) {}

@mixin button_fill(
	$background: #eee,
	$hover_background: #222,
	$color: #222,
	$hover_color: #eee
) {
	background: $background;
	color: $color;
	transition:
		background $base_speed,
		color $base_speed;

	&:focus,
	&:hover {
		background: $hover_background;
		color: $hover_color;
	}

	[class$="label"] {}

	[class$="icon"] {}
}

@mixin button_inline($layout: true) {
	@include button;
	@include button_layout($layout);

	display: inline-block;
}

@mixin button_block($layout: true) {
	@include button;
	@include button_layout($layout);

	display: block;
}

@mixin button_mixed_block(
	$layout: true,
	$query: $min_sm
) {
	@include button_block;
	@include button_layout($layout);

	@media #{$query} {
		display: inline-block;
	}
}


/* Skip Link
============================================================================= */

.skip_link {
	@include button_inline;
	@include button_fill;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	display: block;
	padding: 10px 20px;
	text-align: center;
	transform: translate(-50%, -125%);
	transition: transform 0.35s;

	&:focus,
	&:active {
		transform: translate(-50%, 40px);
	}
}