/* ==========================================================================
	Buttons
============================================================================= */

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

@mixin button() {
	cursor: pointer;
	padding: 10px;
	transition:
		background .25s,
		border .25s,
		box-shadow .25s,
		color .25s,
		transform .25s;
}

@mixin button_layout($layout: true) {

	@if $layout {
		
		[class*="icon"] {
			display: inline-block;
			vertical-align: middle;

			@media print {
				display: none;
			}
		}

		[class*="label"] {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

@mixin button_text() {}

@mixin button_fill(
	$b: $gray_10,
	$hb: $gray_20,
	$c: $gray_60,
	$hc: $gray_80
) {
	background: $b;
	color: $c;

	&:focus,
	&:hover {
		background: $hb;
		color: $hc;
	}

	[class*="icon"] {}

	[class*="label"] {}
}

@mixin button_inline($layout: true) {
	@include button;
	@include button_layout($layout);

	display: inline-block;
}

@mixin button_block($layout: true) {
	@include button;
	@include button_layout($layout);

	display: block;
	text-align: center;
}

@mixin button_mixed_block($layout: true) {
	@include button_block;
	@include button_layout($layout);

	@media #{$min_sm} {
		display: inline-block;
		text-align: left;
	}
}


/* Skip Link
============================================================================= */

.skip_link {
	@include button_inline;
	@include button_fill;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	display: block;
	padding: 10px 20px;
	text-align: center;
	transform: translate(-50%, -200%);
	transition:
		top .35s,
		transform .35s;

	&:focus,
	&:active {
		transform: translate(-50%, 40px);
	}

	.no-csstransforms & {
		top: -100%;

		&:focus,
		&:active {
			top: 40px;
		}
	}
}
