/* ==========================================================================
	Forms
============================================================================= */

.form_builder {
	@include margined;

	h2 {
		@include h2;
	}

	p {
		@include body_text;
	}

	fieldset {
		@include clearfix;

		border: 0;
		margin: 20px 0;
		padding: 0;

		> label {
			display: block;
		}

		label {

			&:first-child {
				margin-top: 0;
			}
		}
	}

	legend {}
}


// Elements
// =============================================================================

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {}

@mixin label($theme: null) {
	@include body_text;
}

@mixin input($theme: null) {
	border: 1px solid #000;
	border-radius: 0;
	padding: 10px;
}

.form_builder {

	label:not(.fs-checkbox-label):not(.form_builder_sublabel) {
		@include label;

		display: block;
	}

	.form_builder_sublabel {
		@include caption_text;
	}

	input[type=text],
	input[type=email],
	input[type=tel],
	input[type=url],
	input[type=number],
	input[type=date],
	textarea {
		@include input;

		width: 100%;
	}

	input {

		&[type="submit"] {}
	}

	input::-ms-clear {
		width: 0;
		height: 0;
	}

	textarea {
		display: block;
		min-height: 220px;
		resize: vertical;
	}

	select {
		width: 100%;

		border: 1px solid #000;
		border-radius: 0;
		cursor: pointer;
	}
}

.typography {

	input,
	textarea,
	label,
	select {
		@include focus_outline_none;
	}
}


// Custom Elements
// =============================================================================

.form_builder_wrap {

	@media #{$min_sm} {
		display: flex;
	}

	> div {
		margin-top: 10px;
		margin-bottom: 10px;

		@media #{$min_sm} {
			margin-bottom: 0px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.form_builder_address {
	@include clearfix;

	> div {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.form_builder_split {
		margin-top: 0;
	}

	.form_builder_split_last_row {
		margin-bottom: 0;
	}
}

.form_builder_split {
	width: calc(50% - 5px);

	margin-right: 10px;
	float: left;

	@media #{$min_md} {
		width: calc(50% - 10px);

		margin-right: 20px;
	}

	&.form_builder_split_last_col {
		margin-right: 0;
	}
}

.form_builder_firstname {

	@media #{$min_sm} {
		flex: calc(100% - 5px);

		margin-right: 10px;
	}

	@media #{$min_md} {
		flex: calc(100% - 10px);

		margin-right: 20px;
	}
}

.form_builder_lastname {

	@media #{$min_sm} {
		width: calc(100% - 5px);
	}

	@media #{$min_md} {
		width: calc(100% - 10px);
	}
}

.form_builder_date_2 {
	width: 50px;

	float: left;
	margin-right: 10px;
}

.form_builder_date_4 {
	width: 100px;

	float: left;
}

.form_builder_phone_3 {
	width: 75px;

	float: left;
	margin-right: 10px;
}

.form_builder_phone_4 {
	width: 100px;

	float: left;
}

.form_builder_checkbox,
.form_builder_radio {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.form_builder_for_checkbox {
	margin-left: 6px;
}
