/* ==========================================================================
	Forms
============================================================================= */

.form-builder {

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
	
	legend {}
}


// Elements
// =============================================================================

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {}

@mixin label($theme: null) {}

@mixin input($theme: null) {
	appearance: none;
	border: 1px solid #000;
	border-radius: 0;
	padding: 10px 20px;
}

.form-builder {
		
	label:not(.fs-checkbox-label) {
		@include label;

		display: block;
	}

	input,
	textarea {
		@include input;

		width: 100%;
	}

	input {

		&[type="submit"] {}
	}

	input::-ms-clear {
		width: 0;
		height: 0;
	}

	textarea {
		display: block;
		min-height: 220px;
		resize: vertical;
	}

	select {
		height: 40px;
		width: 100%;

		appearance: none;
		border: 1px solid #000;
		border-radius: 0;
		cursor: pointer;
		padding: 10px 40px 10px 20px;
	}
}

.typography {

	input,
	textarea,
	label,
	select {
		@include focus_outline_none;
	}
}


// Custom Elements
// =============================================================================

[class*="form_column"] {
	margin-bottom: 20px;
}

.form_column_flex {
	display: flex;

	> * {
		margin-right: 16px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.form_column_auto {

	> * {
		display: inline-block;
		margin-right: 16px;
	}
}

.form_column_2 {

	@media #{$min_md} {
		@include columns(2, 20px);
	}
}