/* ==========================================================================
	Google CSE
============================================================================= */

#___gcse_0 {
	@include padded_xl_bottom;

	.gsc-control-cse {
		background-color: transparent;
		border: 0;
		font-family: inherit;
		font-size: inherit;
		padding: 0;
	}


	/* Search Box
	============================================================================= */

	form.gsc-search-box {
		font-size: inherit;
		margin-bottom: 0;
	}

	table.gsc-search-box {
		position: relative;

		margin-bottom: 0;
	}

	td.gsc-input {
		padding-right: 0;
	}

	.gsc-input-box {
		background: none;
		border: 0;
	}

	table.gsc-input {
		border-collapse: collapse;
	}

	#gs_tti50 {
		padding: 0;
	}

	input.gsc-input {
		height: auto !important;

		background-color: #fff !important;
		background-position: 20px 50% !important;
		border: 1px solid #000 !important;
		margin: 0 !important;
		padding: 20px !important;
	}

	.gsib_b {
		display: none;
	}

	td.gsc-search-button {
		height: 100%;
		width: 50px;

		position: absolute;
		top: 0;
		right: 1px;

		margin: 0;
	}

	button.gsc-search-button {
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		left: 0;

		background: url();
		background-position: calc(100% - 20px) 50%;
		background-repeat: no-repeat;
		background-size: 16px 16px;
		border: 0;
		border-radius: 0;
		padding: 0;

		img,
		svg {
			display: none;
		}
	}

	.gsc-clear-button {
		display: none;
	}


	/* Search Tabs
	============================================================================= */

	.gsc-positioningWrapper {
		display: none;
	}


	/* Results Count
	============================================================================= */

	.gsc-above-wrapper-area {
		border-bottom: 1px solid #000;
		padding: 20px 0;
	}

	.gsc-result-info {
		color: inherit;
		font-size: inherit;
		margin: 0;
		padding: 0;
	}


	/* Results
	============================================================================= */

	.gsc-result {
		border-bottom: 1px solid #000;
		padding: 30px 0;
	}

	.gsc-thumbnail-inside {
		padding: 0;
	}

	div.gs-title {
		color: inherit;
		font-size: inherit;
		margin-bottom: 10px;
		text-decoration: none;
	}

	a.gs-title {
		@include h4;

		color: inherit;
		display: block;
		text-decoration: none;
		transition: color .25s;

		&:hover,
		&:focus {}

		b {
			color: inherit;
			font: inherit;
			text-decoration: none;
		}
	}

	.gsc-url-top {
		padding: 0;
	}

	.gs-visibleUrl {
		color: blue;
		margin-bottom: 14px;
		padding-bottom: 0;

		b {
			color: inherit;
		}
	}

	.gsc-table-result {
		font-family: inherit;
		font-size: inherit;
		padding: 0;
	}

	.gsc-thumbnail {
		display: none;
	}

	.gsc-url-top {}

	.gs-snippet {
		@include body_text;

		color: inherit;
		margin-top: 0;
	}

	.gsc-url-bottom {
		display: block;
		margin-top: 14px;
	}


	/* Pagination
	============================================================================= */

	.gsc-cursor-box {
		margin: 0;
		padding: 20px 0;
		text-align: center;
	}

	.gsc-cursor {
		align-items: center;
		color: inherit;
		display: flex;
		fill: none;
		justify-content: center;
	}

	.gsc-cursor-page {
		height: 20px;
		width: 20px;

		align-items: center;
		color: inherit;
		display: flex;
		justify-content: center;
		margin-right: 0;
		transition:
			background .25s,
			border .25s,
			color .25s;

		&:hover,
		&:focus {
			text-decoration: none;
		}

		&.gsc-cursor-current-page {
			font-weight: inherit;
		}
	}


	/* Branding
	============================================================================= */

	.gcsc-more-maybe-branding-root {

		> a {
			display: none;
		}
	}

	.gcsc-branding {
		padding: 0;
	}
}