/* ==========================================================================
	Google Search Results
============================================================================= */

.search_results_block {}

.search_results_inner {}

.search_results_body {}


/* Results
============================================================================= */

.search_results_count {}

.search_results {}

.search_result {}

.search_result_title {}

.search_result_title_link {}

.search_result_link {}

.search_result_description {}

.search_results_footer {}
