/* ==========================================================================
	Icons
============================================================================= */

.icon {
	display: block;
	stroke: inherit;
	fill: currentColor;
	transition: fill $base_speed;

	@media print {
		display: none;
	}

	$icons: (
		(caret_down, 20, 10),
		(chevron_left, 20, 20),
		(chevron_right, 20, 20),
		(clock, 16, 16),
		(close, 20, 20),
		(facebook, 18, 18),
		(fax, 11, 11),
		(flickr, 22, 10),
		(fs_logo, 50, 33),
		(instagram, 18, 18),
		(linkedin, 18, 18),
		(logo, 33, 20),
		(mail, 15, 13),
		(pause, 7, 13),
		(phone, 14, 14),
		(place, 11, 16),
		(play, 21, 20),
		(menu, 20, 20),
		(search, 20, 20),
		(twitter, 18, 15),
		(vimeo, 19, 18),
		(youtube, 21, 15)
	);

	@each $label, $w, $h in $icons {

		&_#{$label} {
			height: $h#{px};
			width: $w#{px};
		}
	}
}
