/* ==========================================================================
	Icons
============================================================================= */

.icon {
	display: block;
	stroke: inherit;
	fill: currentColor;
	transition:
		fill $base_speed,
		stroke $base_speed;

	@media print {
		display: none;
	}

	$icons: (
		(arrow_left, 20, 20),
		(arrow_right, 20, 20),
		(caret_down, 20, 10),
		(clock, 16, 16),
		(close, 20, 20),
		(facebook, 18, 18),
		(fax, 11, 11),
		(flickr, 22, 10),
		(fs_logo, 50, 33),
		(home, 10, 10),
		(instagram, 18, 18),
		(linkedin, 18, 18),
		(logo, 33, 20),
		(mail, 15, 13),
		(phone, 14, 14),
		(place, 11, 16),
		(play, 21, 20),
		(menu, 20, 20),
		(search, 20, 20),
		(twitter, 18, 15),
		(video_pause, 20, 20),
		(video_play, 20, 20),
		(vimeo, 19, 18),
		(youtube, 21, 15)
	);

	@each $label, $width, $height in $icons {

		&_#{$label} {
			height: $height#{px};
			width: $width#{px};
		}
	}
}
