/* ==========================================================================
	Icons
============================================================================= */

.icon {
	display: block;
	stroke: inherit;
	fill: currentColor;
	transition: fill $base_speed;

	@media print {
		display: none;
	}

	$icons: (
		(caret_down, 20, 10),
		(chevron_left, 20, 20),
		(chevron_right, 20, 20),
		(close, 20, 20),
		(logo, 33, 20),
		(search, 20, 20)
	);

	@each $label, $w, $h in $icons {

		&_#{$label} {
			height: $h#{px};
			width: $w#{px};
		}
	}
}
