/* ==========================================================================
	Logo
============================================================================= */

.logo {
	margin: 0;
}

.logo_header {}

.logo_footer {}

.logo_link {
	color: transparent;
	display: block;
	overflow: hidden;
	user-select: none;
	white-space: nowrap;
}

.logo_link_label {

	.logo_icon & {
		@include visually_hide;
	}
}

.logo_link_icon {
	color: #000;
	display: inline-block;
	vertical-align: top;
}

.logo_print {
	display: none;

	@media print {
		display: block;
	}
}
