/* ==========================================================================
	Meta
============================================================================= */

.meta {}

.meta_logo {}

.meta_logo_link {

	&:after {

		@media print {
			content: normal;
			display: none;
		}
	}
}

.meta_logo_label {
	@include visually_hide;
}

.meta_logo_icon {}


/* Details
============================================================================= */

.meta_details {}

.meta_detail {}

.meta_detail_address {}

.meta_detail_email {}

.meta_detail_phone {}

.meta_detail_fax {}

.meta_detail_icon {}

.meta_detail_label {
	color: inherit;

	&:after {

		@media print {
			content: normal;
			display: none;
		}
	}
}

.meta_detail_label_email {}

.meta_detail_label_phone {}

.meta_detail_label_fax {}

.meta_address_street {}

.meta_address_group {}

.meta_address_city {}

.meta_address_state {}

.meta_address_zip {}