/* ==========================================================================
	Photo Size Helper
============================================================================= */

.photo_prop {
	position: absolute;
	top: 0;
	left: 0;

	border-radius: .15em;
	display: none;
	font-family: sans-serif;
	line-height: 1.35;

	&.visible {
		display: block;
	}

	&:before {
		position: absolute;
		left: 50%;

		border: 10px solid transparent;
		content: "";
		transform: translate(-50%, 0);
	}

	&.lower-region {
		transform: translate(-50%, calc(-100% - 10px));

		&:before {
			top: 100%;
			border-top-color: #f0f0f0;
		}
	}

	&.upper-region {
		transform: translate(-50%, 10px);

		&:before {
			bottom: 100%;
			border-bottom-color: #f0f0f0;
		}
	}
}

.photo_prop_close {
	height: 30px;
	width: 30px;

	position: absolute;
	top: 50%;
	right: 0;

	background: #fff;
	border-radius: 1em 0 0 1em;
	box-shadow: -2px 0 2px 0 rgba(#000, .15);
	cursor: pointer;
	transform: translate(0, -50%);
	transition:
		background .25s,
		color .25s;

	&:focus,
	&:hover {
		background: #333;
		color: #fff;
	}
}

.photo_prop_detail {
	background: #f0f0f0;
	border-radius: .15em;
	display: flex;
	padding: 20px 40px 20px 20px;
}
