/* ==========================================================================
	Print
============================================================================= */

@media print {

	* {
		background: none !important;
		box-shadow: none !important;
		color: #444 !important;
		text-shadow: none !important;
	}

	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	a {
		text-decoration: underline;

		&:visited {
			text-decoration: underline;
		}

		&[href]:after {
			content: " (" attr(href) ")";
		}

		&[href^="javascript:"]:after,
		&[href^="#"]:after {
			content: "";
		}
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		padding: 10px;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	.print {
		display: block;
	}
}
