/* ==========================================================================
	Site Search
============================================================================= */

.site_search_handle {
	position: relative;
}

.site_search_handle_label {
	@include visually_hide;
}

.site_search_handle_icon {}


/* Search Form
============================================================================= */

.site_search {
	position: relative;
}

.site_search_form {}

.site_search_label {}

.site_search_input {
	width: 100%;

	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	padding: 10px 50px 10px 10px;

	&::placeholder {
		text-overflow: ellipsis;
	}

	.site_search_results & {}
}

.site_search_button {
	height: 100%;
	width: 50px;

	position: absolute;
	top: 0;
	right: 0;

	cursor: pointer;

	&:focus,
	&:hover {}
}

.site_search_button_label {
	@include visually_hide;
}

.site_search_button_icon {
	position: absolute;
	top: 50%;
	left: 50%;

	pointer-events: none;
	transform: translate(-50%, -50%);
}
