{% set n = pages %}

<div class="pagination_block">
	<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#previous">Previous</a>
	<nav class="pagination">
		{% for i in 1..n %}
			<a href="#{{i}}" class="pagination_link">{{i}}</a>
		{% endfor %}
		<span class="pagination_number_link dots">…</span>
	</nav>
	<a class="pagination_arrow pagination_arrow_right" href="#next">Next</a>
</div>
