* {
	box-sizing: border-box
}

:after,
:before {
	box-sizing: inherit
}

.fs-row {
	min-width: 300px;

	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;

	@media #{$max_md} {
		width: 100%;
	}

	@media #{$min_md} {
		width: 720px;
	}

	@media #{$min_lg} {
		width: 960px;
	}

	@media #{$min_xl} {
		width: 1200px;
	}

	@media #{$min_xxl} {
		width: 1280px;
	}
}

.fs-cell {
	width: 100%;
	
	padding: 0 20px;
}