<!-- Menu -->
<<<<<<< HEAD:src/twig/partials/base/menu.twig
<section class="js-menu menu" id="menu" aria-label="Site Menu">
	<h2 class="menu_title">Site Menu</h2>
	{% include "../navigation/basic.twig" with {
=======
<div class="js-menu menu" id="menu" aria-label="Site Menu">
	{% include "../partials/navigation/basic.twig" with {
>>>>>>> 5d9bc82566ff12442d38e0b93dae1d42d41291be:src/twig/layouts/menu.twig
		class: "main_nav",
		modifier: "sm",
		title: "Site",
		icon: "caret_down",
		active: activePage,
		links: mainNav
	} %}

	{% include "../partials/navigation/basic.twig" with {
		class: "secondary_nav",
		modifier: "sm",
		title: "Secondary",
		icon: "",
		active: "",
		links: secondaryNav
	} %}

	<button class="js-swap js-menu-close menu_close" data-swap-target=".menu" data-swap-linked="menu">
		<span class="menu_close_icon">{{ site.icon("close") }}</span>
		<span class="menu_close_label">Close Site Menu</span>
	</button>
</section>
<!-- END: Menu -->
