<nav class="footer_nav {{class}}" aria-label="Footer Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h2 class="footer_nav_heading">Footer Navigation</h2>
	<div class="footer_nav_list" role="navigation">
		{% for link in links %}
			<div class="footer_nav_item" itemprop="url">
				<a class="footer_nav_link" href="#" itemprop="name">{{link}}</a>
			</div>
		{% endfor %}
	</div>
</nav>
