<!-- Main Navigation -->
<nav class="main_nav {{class}}" aria-label="Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h2 class="main_nav_heading">Site Navigation</h2>
	<div class="main_nav_list" role="navigation">
		<div class="main_nav_item mobile_nav_1" itemprop="url">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="name">Main Link 1</a>
				<button class="js-swap main_nav_toggle" data-swap-target=".mobile_nav_1" data-swap-group="mobile_nav">Expand Navigation</button>
			</div>
			<div class="main_nav_children">
				<div class="main_nav_child_item" itemprop="url">
					<a class="main_nav_child_link" href="#" itemprop="name">Main Child Link 1</a>
				</div>
				<div class="main_nav_child_item" itemprop="url">
					<a class="main_nav_child_link" href="#" itemprop="name">Main Child Link 2</a>
				</div>
			</div>
		</div>
		<div class="main_nav_item mobile_nav_2" itemprop="url">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="name">Main Link 2</a>
				<button class="js-swap main_nav_toggle" data-swap-target=".mobile_nav_2" data-swap-group="mobile_nav">Expand Navigation</button>
			</div>
		</div>
	</div>
</nav>
<!-- END: Main Navigation -->
