<nav class="secondary_nav {{class}}" aria-label="Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h2 class="secondary_nav_heading">Secondary Navigation</h2>
	<div class="secondary_nav_list" role="navigation">
		<div class="secondary_nav_item" itemprop="url">
			<a class="secondary_nav_link" href="#" itemprop="name">Secondary Link 1</a>
		</div>
		<div class="secondary_nav_item" itemprop="url">
			<a class="secondary_nav_link" href="#" itemprop="name">Secondary Link 2</a>
		</div>
	</div>
</nav>
