{#
	TODO:
		1. Update specific type of organization
		(EducationalOrganization, CollegeOrUniversity, etc...)
		2. Change url to client domain
#}

{#
	Social profile link markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/social-profiles
#}

<div class="social_nav {{class}}" itemscope itemtype="http://schema.org/Organization"><!-- 1 -->
	<link itemprop="url" href="http://www.client-name.com"><!-- 2 -->
	<h2 class="social_nav_heading">Social</h2>
	<div class="social_nav_list">
		<div class="social_nav_item social_nav_item_facebook">
			<a class="social_nav_link" href="//www.facebook.com/" itemprop="sameAs" target="_blank">
				<span class="social_nav_label">Facebook</span>
			</a>
		</div>
		<div class="social_nav_item social_nav_item_twitter">
			<a class="social_nav_link" href="//twitter.com/" itemprop="sameAs" target="_blank">
				<span class="social_nav_label">Twitter</span>
			</a>
		</div>
		<div class="social_nav_item social_nav_item_instagram">
			<a class="social_nav_link" href="//www.instagram.com/" itemprop="sameAs" target="_blank">
				<span class="social_nav_label">Instagram</span>
			</a>
		</div>
		<div class="social_nav_item social_nav_item_youtube">
			<a class="social_nav_link" href="//www.youtube.com/" itemprop="sameAs" target="_blank">
				<span class="social_nav_label">Youtube</span>
			</a>
		</div>
		<div class="social_nav_item social_nav_item_linkedin">
			<a class="social_nav_link" href="//www.linkedin.com/" itemprop="sameAs" target="_blank">
				<span class="social_nav_label">LinkedIn</span>
			</a>
		</div>
	</div>
</div>
