{#
	TODO:
		1. Update specific type of organization
		(EducationalOrganization, CollegeOrUniversity, etc...)
		2. Change url to client domain
#}

{#
	Social profile link markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/social-profiles
#}

<div class="social_nav {{class}}" itemscope itemtype="http://schema.org/Organization"> {# 1 #}
	<link itemprop="url" href="http://www.client-name.com"> {# 2 #}
	<h2 class="social_nav_heading">Social</h2>
	<div class="social_nav_list">
		{% set socialLinks = {
			facebook: {
				href: "facebook.com"
			},
			twitter: {
				href: "twitter.com"
			},
			instagram: {
				href: "instagram.com"
			},
			youtube: {
				href: "youtube.com"
			},
			linkedin: {
				href: "linkedin.com"
			}
		} %}
		{% for key, link in socialLinks %}
			<div class="social_nav_item social_nav_item_{{key}}">
				<a class="social_nav_link" href="{{link.href}}" itemprop="sameAs" target="_blank">
					<span class="social_nav_label">{{key}}</span>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
