<nav class="sub_nav {{class}}" aria-label="Additional Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h2 class="sub_nav_heading">Additional Navigation</h2>
	<div class="js-navigation sub_nav_list" data-navigation-handle=".sub_nav_heading" role="navigation">
		{% set subLinks = {
			1: {
				href: "1-2-style-guide-feature.html",
				name: "Page Feature Components"
			},
			2: {
				href: "1-3-style-guide-in-content.html",
				name: "In Content Components"
			},
			3: {
				href: "1-4-style-guide-sidebar.html",
				name: "Sidebar Components"
			},
			4: {
				href: "1-5-style-guide-full-width.html",
				name: "Full Width Components"
			},
		} %}
		{% for link in subLinks %}
			<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="{{link.href}}" itemprop="name">{{link.name}}</a>
			</div>
		{% endfor %}
	</div>
</nav>
