<!DOCTYPE html>
<html class="no-js" lang="en">

	{% include "head.twig" %}

	<body class="preload fs-grid page_layout_{{ layout }} page_theme_{{ theme }}" itemscope itemtype="http://schema.org/WebPage">

		{% include '../update-notice.twig' %}

		<a class="skip_link" id="skip_link" href="#skip_content">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper">
			<!-- Header -->
			<header class="header" id="header">
				<div class="header_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="header_ribbon_inner">
								{% include "../logo.twig" with {
									modifier: "header",
									icon: "logo"
								} %}

								{% include "../navigation/basic.twig" with {
									class: "main_nav",
									modifier: "lg",
									title: "Site",
									icon: "caret_down",
									active: activePage,
									links: mainNav
								} %}

								{% include "../navigation/basic.twig" with {
									class: "secondary_nav",
									modifier: "lg",
									title: "Secondary",
									links: secondaryNav
								} %}

								<div class="header_group">
									{% include "../handle.twig" with {
										class: "menu",
										target: "menu",
										icon: "menu",
										label: "Open Menu"
									} %}

									{% include "../search-handle.twig" %}

									{% include "../search.twig" with {
										modifier: "lg",
										placeholder: "Search",
										buttonText: ""
									} %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<main class="page">