<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>Style Guide | Client Name</title> 
		<meta name="description" content="">

		<!-- File is gererated by favicon Grunt task:
http://realfavicongenerator.net/favicon/grunt -->

		<script src="../../js/modernizr.js"></script>

		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="../../css/site.css">
		<!--<![endif]-->
		<!--[if IE 8]>
			<script>var IE8 = true;</script>
			<script src="../../js/site-ie8.js"></script>
			<link rel="stylesheet" href="../../css/site-ie8.css">
		<![endif]-->
		<!--[if IE 9]>
			<script>var IE9 = true;</script>
			<script src="../../js/site-ie9.js"></script>
			<link rel="stylesheet" href="../../css/site-ie9.css">
		<![endif]-->
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../css/site-ie.css">
		<![endif]-->
	</head>

	<body class="fs-grid theme_interior">

		

							
							
							
							
							
							
							
							
					<h2>Update "name"</h2>
							<h2>Update "vars.name"</h2>
							<h2>Update "description"</h2>
							<h2>Update "repository.url"</h2>
		
		

		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#main_page_title" >Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
				<div class="fs-row">
					<div class="fs-cell">
						

<h1 class="logo header_logo" itemscope itemtype="http://schema.org/Organization"> 
	<a class="header_logo_link" itemprop="url" href="00-1-home.html">Client Name</a> 
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	<img class="print" src="../../images/logo-print.png" alt="">
</h1>

						<nav class="main_nav main_nav_lg" aria-label="Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<header class="main_nav_header">
		<h2 class="main_nav_title">Site Navigation</h2>
	</header>
	<div class="main_nav_list" role="navigation">
					<div class="main_nav_item mobile_nav_1 active" itemprop="url">
				<div class="main_nav_item_wrapper">
					<a class="main_nav_link" href="#" itemprop="name">Main Link</a>
					<button class="js-swap main_nav_toggle" data-swap-target=".mobile_nav_1" data-swap-group="mobile_nav">Expand Navigation</button>
				</div>
									<div class="main_nav_children">
													<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">One Child</a>
							</div>
													<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">Two Child</a>
							</div>
											</div>
							</div>
			</div>
</nav>

						<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<header class="secondary_nav_header">
		<h2 class="secondary_nav_title">Secondary Navigation</h2>
	</header>
	<div class="secondary_nav_list" role="navigation">
					<div class="secondary_nav_item" itemprop="url">
				<a class="secondary_nav_link" href="#" itemprop="name">Secondary Link</a>
			</div>
			</div>
</nav>

						<a class="js-nav_handle mobile_sidebar_handle" href="#mobile_sidebar">Menu</a>

						<a class="site_search_handle" href="#">Search</a>

						

<div class="site_search" id="search" itemscope itemtype="http://schema.org/WebSite" role="search">
	<meta itemprop="url" content="//www.example.com/"> 
	<form class="search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://www.example.com/search?q={search_term_string}"> 
		<label class="search_label" for="search_term_string">Search</label>
		<input class="search_input" itemprop="query-input" type="text" id="search_term_string" name="search_term_string" placeholder="Search" required aria-required="true">
		<button class="search_button" type="submit" title="submit" aria-label="submit">
			<span>submit</span>
		</button>
	</form>
</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<div class="page">

				<!-- Page Feature -->
				<div class="page_feature">
									</div>
				<!-- END: Page Feature -->

				<!-- Page Content -->
				<div class="page_content">

					<!-- Page Header -->
											<div class="page_header">
							<div class="fs-row">
								<div class="fs-cell">
									

<div class="breadcrumb_nav ">
	<div class="breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
		<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a class="breadcrumb_link" itemprop="item" href="00-1-home.html">
				<span class="breadcrumb_name" itemprop="name">Home</span>
			</a>
			<meta itemprop="position" content="1">
		</div>
					<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<span class="breadcrumb_label" itemprop="item">
					<span class="breadcrumb_name" itemprop="name">Style Guide</span>
				</span>
				<meta itemprop="position" content="2">
			</div>
			</div>
</div>

									<h1 id="main_page_title" tabindex="-1">Style Guide</h1>
								</div>
							</div>
						</div>
										<!-- END: Page Header -->

											<div class="fs-row">

							<!-- Sub Nav -->
							<div class="fs-cell-right fs-lg-4">
																	<nav class="sub_nav " aria-label="Additional Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<header class="sub_nav_header">
		<h2 class="sub_nav_title"></h2>
	</header>
	<button class="js-sub_nav_handle sub_nav_handle">Additional Navigation</button>
	<div class="js-navigation sub_nav_list" data-navigation-handle=".js-sub_nav_handle" data-navigation-options='{"theme": "sub_nav_base", "labels": {"closed": "Additional Navigation", "Open": "Close"}}'>
					<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="1-2-style-guide-feature.html" itemprop="name">Page Feature Components</a>
							</div>
					<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="1-3-style-guide-in-content.html" itemprop="name">In Content Components</a>
							</div>
					<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="1-4-style-guide-sidebar.html" itemprop="name">Sidebar Components</a>
							</div>
					<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="1-5-style-guide-full-width.html" itemprop="name">Full Width Components</a>
							</div>
			</div>
</nav>
															</div>
							<!-- END: Sub Nav -->

							<!-- Main Content -->
							<div class="fs-cell fs-lg-8">
								<main class="main_content" itemprop="mainContentOfPage">
									
									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
										
	
	<div class="cr_color_blocks">
		<div class="cr_color_block_row">
							<div class="cr_color_block_cell">
					<div class="cr_color_block bg_true_black color_true_white">
						<div class="cr_color_block_content">#000</div>
					</div>
				</div>
					</div>
	</div>

	<div class="crl_fonts">
	<h2>Fonts</h2>

	<div class="cr_heading">Font</div>
	<div class="cr_font">The five boxing wizards jump quickly</div>

</div>

	<div class="crl_type">
	<h2>Type</h2>

	<!-- Type Styles -->
	<div class="cr_heading">Headings</div>

	<!-- Headings -->
	<h1>H1 Crass Viverra Ante Vitate Dictum</h1>

	<div class="intro">
		<p>Cras viverra ante vitae dictum vestibulum. Nam placerat nulla eu dolor scelerisque mattis et in diam. Quisque tempor ullamcorper odio sit amet vestibulum.</p>
	</div>

	<h2>H2 Crass Viverra Ante Vitate Dictum</h2>

	<p>Cras viverra ante vitae dictum vestibulum. Nam <a href="#">placerat</a> nulla eu dolor scelerisque mattis et in diam. Quisque tempor <a href="#">ullamcorper</a> odio sit amet vestibulum. Praesent cursus tellus nunc, ut venenatis lacus scelerisque sed. Pellentesque mi risus, ultrices id fringilla non, sodales non mi. In feugiat lorem id efficitur euismod.</p>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<h3>H3 Crass Viverra Ante Vitate Dictum</h3>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<h4>H4 Crass Viverra Ante Vitate Dictum</h4>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<h5>H5 Crass Viverra Ante Vitate Dictum</h5>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<h6>H6 Crass Viverra Ante Vitate Dictum</h6>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

	<figure class="block_right">
		<img src="http://spacehold.it/414x233/" alt="content figure">
		<figcaption>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue.</figcaption>
	</figure>

	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>



	<div class="cr_heading">WYSIWYG Blockquote</div>

	<!-- Blockquote - WYSIWYG -->
	<blockquote>
		<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
	</blockquote>

	<div class="cr_heading">Lists</div>

	<!-- Unordered List -->
	<ul>
		<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
		<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
		<li>
			<strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
			<ul>
				<li>Donec ullamcorper nulla non metus auctor fringilla.</li>
				<li>Donec id elit non mi porta gravida at eget metus.</li>
				<li>
					Morbi leo risus, porta ac consectetur ac, vestibulum at eros
					<ul>
						<li>Donec id elit non mi porta gravida at eget metus.</li>
						<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
	</ul>

	<!-- Ordered List -->
			<ol type="a">
			<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
			<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis.</li>
			<li><strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus.</li>
			<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
		</ol>
			<ol type="A">
			<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
			<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis.</li>
			<li><strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus.</li>
			<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
		</ol>
			<ol type="i">
			<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
			<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis.</li>
			<li><strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus.</li>
			<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
		</ol>
			<ol type="I">
			<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
			<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis.</li>
			<li><strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus.</li>
			<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
		</ol>
	
	<div class="cr_heading">Tables</div>

	<!-- Table -->

	<table>
		<thead>
			<tr>
				<th>Colors</th>
				<th>Shapes</th>
				<th>Numbers</th>
				<th>Percentages</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Black</td>
				<td>Circle</td>
				<td>One</td>
				<td>10% of Lorem ipsum dolor sit amet, consectetur.</td>
			</tr>
			<tr>
				<td>Blue</td>
				<td>Square</td>
				<td>Two</td>
				<td>33% of Donec ullamcorper nulla non metus auctor.</td>
			</tr>
			<tr>
				<td>Green</td>
				<td>Triangle</td>
				<td>Three</td>
				<td>5% of Integer posuere erat a ante venenatis.</td>
			</tr>
			<tr>
				<td>Red</td>
				<td>Rectangle</td>
				<td>Four</td>
				<td>90% of Aenean eu leo quam vestibulum.</td>
			</tr>
			<tr>
				<td>White</td>
				<td>Oval</td>
				<td>Five</td>
				<td>100% of Cum sociis natoque penatibus et mus.</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tr>
			<th>Colors</th>
			<th>Shapes</th>
			<th>Numbers</th>
			<th>Percentages</th>
		</tr>
		<tr>
			<td>Black</td>
			<td>Circle</td>
			<td>One</td>
			<td>10% of Lorem ipsum dolor sit amet, consectetur.</td>
		</tr>
		<tr>
			<td>Blue</td>
			<td>Square</td>
			<td>Two</td>
			<td>33% of Donec ullamcorper nulla non metus auctor.</td>
		</tr>
		<tr>
			<td>Green</td>
			<td>Triangle</td>
			<td>Three</td>
			<td>5% of Integer posuere erat a ante venenatis.</td>
		</tr>
		<tr>
			<td>Red</td>
			<td>Rectangle</td>
			<td>Four</td>
			<td>90% of Aenean eu leo quam vestibulum.</td>
		</tr>
		<tr>
			<td>White</td>
			<td>Oval</td>
			<td>Five</td>
			<td>100% of Cum sociis natoque penatibus et mus.</td>
		</tr>
	</table>
</div>

<div id="crl_pagination">
	<div class="cr_heading">Pagination</div>

	<!-- Pagination -->
	<div class="pagination">
	<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#previous">Previous</a>
	<span class="pagination_divider"></span>
	<span class="pagination_number_link pagination_number_selected">1</span>
	<a class="pagination_number_link" href="#2">2</a>
	<a class="pagination_number_link" href="#3">3</a>
	<a class="pagination_number_link" href="#4">4</a>
	<a class="pagination_number_link" href="#5">5</a>
	<span class="pagination_number_link">…</span>
	<span class="pagination_divider"></span>
	<a class="pagination_arrow pagination_arrow_right" href="#next">Next</a>
</div>
</div>

	<div class="crl_buttons">

	<h2>Buttons</h2>

	<div class="cr_heading">Standard Links</div>

	<div class="margined">
		<a href="#">Learn More</a>
		<a href="#">Back</a>
		<a href="#">More News</a>
	</div>

	<div class="cr_heading">Inline Buttons</div>

	<div class="margined">
		<a href="#">Learn More</a>
		<a href="#">Back</a>
		<a href="#">More News</a>
	</div>

</div>

	<div class="crl_forms">
	<h2>Forms</h2>

	<h3>Form Title</h3>
	<form action="#" class="crl_form">
		<fieldset class="input_set">
			<label for="first_name">Name</label>
			<input id="first_name" type="text">
		</fieldset>
		<fieldset class="textarea_set">
			<label for="textarea">Comment</label>
			<textarea id="textarea"></textarea>
		</fieldset>
		<fieldset class="checkbox_set">
			<legend>Checkboxes</legend>
			<label>
				<input type="checkbox" name="checkbox-one" value="Option One">
				<span class="checkbox_label">Option One</span>
			</label>
			<label>
				<input type="checkbox" name="checkbox-two" value="Option Two">
				<span class="checkbox_label">Option Two</span>
			</label>
			<label>
				<input type="checkbox" name="checkbox-three" value="Option Three">
				<span class="checkbox_label">Option Three</span>
			</label>
		</fieldset>
		<fieldset class="radio_set">
			<legend>Radio Buttons</legend>
			<label>
				<input type="radio" name="radio-set" value="Option One">
				<span class="checkbox_label">Option One</span>
			</label>
			<label>
				<input type="radio" name="radio-set" value="Option Two">
				<span class="checkbox_label">Option Two</span>
			</label>
			<label>
				<input type="radio" name="radio-set" value="Option Three">
				<span class="checkbox_label">Option Three</span>
			</label>
		</fieldset>
		<fieldset class="form_dropdown required">
			<label for="dropdown">Categories</label>
			<select class="js-dropdown" id="dropdown" data-dropdown-options='{"label": "Categories", "theme": "base_dropdown gray_dropdown dropdown_divide"}'>
				<option value="1">Pharetra Quam</option>
				<option value="2">Magna Vulputate</option>
				<option value="3">Condimentum</option>
				<option value="4">Magna Tellus Cras</option>
				<option value="5">Sit Ridiculus</option>
			</select>
		</fieldset>
	</form>
</div>

									</div>
									<!-- END: WYSIWYG -->

									<!-- In Content Callouts -->
									<div class="in_content_callouts">
																			</div>
									<!-- END: In Content Callouts -->

								</main>
							</div>
							<!-- END: Main Content -->

							<!-- Sidebar Callouts -->
							<div class="fs-cell-right fs-lg-4">
								<div class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
																	</div>
							</div>
							<!-- END: Sidebar Callouts -->

						</div>
					
					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
											</div>
					<!-- END: Full Width Callouts -->

				</div>
				<!-- END: Page Content -->

			</div>
			<!-- END: Page -->

			<!-- Footer -->
			<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
							<span class="footer_address_name" itemprop="name">name</span>
							<span class="footer_address_street" itemprop="streetAddress">street</span>
							<span class="footer_address_city" itemprop="addressLocality">city</span>
							<span class="footer_address_state" itemprop="addressRegion">state</span>
							<span class="footer_address_zip" itemprop="postalCode">zip</span>
							<span class="footer_address_phone" itemprop="telephone">###-###-###</span>
						</div>

						<nav class="footer_nav" aria-label="Footer Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<header class="footer_nav_header">
		<h2 class="footer_nav_title">Footer Navigation</h2>
	</header>
	<div class="footer_nav_list" role="navigation">
					<div class="footer_nav_item" itemprop="url">
				<a class="footer_nav_link" href="#" itemprop="name">Footer Link</a>
			</div>
			</div>
</nav>

						



<div class="social_nav" itemscope itemtype="http://schema.org/Organization"> 
	<link itemprop="url" href="http://www.client-name.com"> 
	<header class="social_nav_header">
		<h2 class="social_nav_title">Social Navigation</h2>
	</header>
	<div class="social_nav_list">
					<div class="social_nav_item">
				<a class="social_nav_link facebook" href="facebook.com" target="_blank" itemprop="sameAs">
					<span class="social_nav_label">facebook</span>
				</a>
			</div>
					<div class="social_nav_item">
				<a class="social_nav_link twitter" href="twitter.com" target="_blank" itemprop="sameAs">
					<span class="social_nav_label">twitter</span>
				</a>
			</div>
					<div class="social_nav_item">
				<a class="social_nav_link instagram" href="instagram.com" target="_blank" itemprop="sameAs">
					<span class="social_nav_label">instagram</span>
				</a>
			</div>
					<div class="social_nav_item">
				<a class="social_nav_link youtube" href="youtube.com" target="_blank" itemprop="sameAs">
					<span class="social_nav_label">youtube</span>
				</a>
			</div>
					<div class="social_nav_item">
				<a class="social_nav_link linkedin" href="linkedin.com" target="_blank" itemprop="sameAs">
					<span class="social_nav_label">linkedin</span>
				</a>
			</div>
			</div>
</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->

		</div>
		<!-- END: page_wrapper -->

		<div class="js-navigation mobile_sidebar" id="mobile_sidebar" hidden data-navigation-handle=".js-nav_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{
			"type": "overlay",
			"gravity": "right"
		}'>
			<nav class="main_nav main_nav_sm" aria-label="" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<header class="main_nav_header">
		<h2 class="main_nav_title"></h2>
	</header>
	<div class="main_nav_list" role="navigation">
					<div class="main_nav_item mobile_nav_1" itemprop="url">
				<div class="main_nav_item_wrapper">
					<a class="main_nav_link" href="#" itemprop="name">Main Link</a>
					<button class="js-swap main_nav_toggle" data-swap-target=".mobile_nav_1" data-swap-group="mobile_nav">Expand Navigation</button>
				</div>
									<div class="main_nav_children">
													<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">One Child</a>
							</div>
													<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">Two Child</a>
							</div>
											</div>
							</div>
			</div>
</nav>

			<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<header class="secondary_nav_header">
		<h2 class="secondary_nav_title">Secondary Navigation</h2>
	</header>
	<div class="secondary_nav_list" role="navigation">
					<div class="secondary_nav_item" itemprop="url">
				<a class="secondary_nav_link" href="#" itemprop="name">Secondary Link</a>
			</div>
			</div>
</nav>
		</div>

		<script src="../../js/site.js"></script>

		<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='http://formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
	</body>
</html>
