<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en" class="no-js">

	

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>Style Guide Sidebar | site-title</title> 
		<meta name="description" content="">

		<!-- File is gererated by favicon Grunt task:
http://realfavicongenerator.net/favicon/grunt -->

		<script src="../../js/modernizr.js"></script>

		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="../../css/site.css">
		<!--<![endif]-->
		<!--[if IE 8]>
			<script>var IE8 = true;</script>
			<script src="../../js/site-ie8.js"></script>
			<link rel="stylesheet" href="../../css/site-ie8.css">
		<![endif]-->
		<!--[if IE 9]>
			<script>var IE9 = true;</script>
			<script src="../../js/site-ie9.js"></script>
			<link rel="stylesheet" href="../../css/site-ie9.css">
		<![endif]-->
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../css/site-ie.css">
		<![endif]-->
	</head>

	<body class="fs-grid theme_interior">

		

							
							
							
							
							
							
		<!-- Skip-to-Content Link -->
		<a href="#main_page_title" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
				<div class="fs-row">
					<div class="fs-cell">
						

<h1 class="logo header_logo" itemscope itemtype="http://schema.org/Organization"> 
	<a class="header_logo_link" itemprop="url" href="00-1-home.html"></a> 
	<meta itemprop="logo" content="../../images/logo-schema.png"> 
	<img src="../../images/logo-print.png" class="print" alt="">
</h1>

						<nav class="main_nav main_nav_lg" aria-label="Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div class="main_nav_list" role="navigation">
					<div class="main_nav_item mobile_nav_1" itemprop="url">
				<div class="main_nav_item_wrapper">
					<a class="main_nav_link" href="#" itemprop="name">Main Link</a>
					<button class="js-swap main_nav_toggle" data-swap-target=".mobile_nav_1" data-swap-group="mobile_nav">Expand Navigation</button>
				</div>
									<div class="main_nav_children">
													<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">One Child</a>
							</div>
													<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">Two Child</a>
							</div>
											</div>
							</div>
			</div>
</nav>

						<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div class="secondary_nav_list" role="navigation">
					<div class="secondary_nav_item" itemprop="url">
				<a class="secondary_nav_link" href="#" itemprop="name">Secondary Link</a>
			</div>
			</div>
</nav>

						<button class="js-nav_handle mobile_sidebar_handle">Menu</button>

						<div class="js-navigation mobile_sidebar" hidden data-navigation-handle=".js-nav_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"type": "overlay", "gravity": "right"}'>
							<nav class="main_nav main_nav_sm" aria-label="Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div class="main_nav_list" role="navigation">
					<div class="main_nav_item mobile_nav_1" itemprop="url">
				<div class="main_nav_item_wrapper">
					<a class="main_nav_link" href="#" itemprop="name">Main Link</a>
					<button class="js-swap main_nav_toggle" data-swap-target=".mobile_nav_1" data-swap-group="mobile_nav">Expand Navigation</button>
				</div>
									<div class="main_nav_children">
													<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">One Child</a>
							</div>
													<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">Two Child</a>
							</div>
											</div>
							</div>
			</div>
</nav>

							<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div class="secondary_nav_list" role="navigation">
					<div class="secondary_nav_item" itemprop="url">
				<a class="secondary_nav_link" href="#" itemprop="name">Secondary Link</a>
			</div>
			</div>
</nav>
						</div>

						

<div class="site_search" id="site_search" itemscope itemtype="http://schema.org/WebSite" role="search">
	<meta itemprop="url" content="//www.example.com/"> 
	<form class="site_search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://www.example.com/search?q={search_term_string}"> 
		<label class="site_search_label" for="site_search_term_string">Search</label>
		<input class="site_search_input" itemprop="query-input" type="text" id="site_search_term_string" name="search_term_string" placeholder="Search" required aria-required="true">
		<button class="site_search_button" type="submit" title="submit" aria-label="submit">
			<span>submit</span>
		</button>
	</form>
</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<div class="page">

				<!-- Page Feature -->
				<div class="page_feature">
									</div>
				<!-- END: Page Feature -->

				<!-- Page Content -->
				<div class="page_content">

					<!-- Page Header -->
											<div class="page_header">
							<div class="fs-row">
								<div class="fs-cell">
									

<div class="breadcrumb_nav ">
	<div class="breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
		<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a class="breadcrumb_link" itemprop="item" href="00-1-home.html">
				<span class="breadcrumb_name" itemprop="name">Home</span>
			</a>
			<meta itemprop="position" content="1">
		</div>
			</div>
</div>

									<h1 id="main_page_title" tabindex="-1">Style Guide Sidebar</h1>
								</div>
							</div>
						</div>
										<!-- END: Page Header -->

											<div class="fs-row">

							<!-- Sub Nav -->
							<div class="fs-cell-right fs-lg-4">
																	<nav class="sub_nav " aria-label="Additional Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div class="js-navigation sub_nav_list" data-navigation-handle=".sub_nav_heading" role="navigation">
					<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="1-2-style-guide-feature.html" itemprop="name">Page Feature Components</a>
			</div>
					<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="1-3-style-guide-in-content.html" itemprop="name">In Content Components</a>
			</div>
					<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="1-4-style-guide-sidebar.html" itemprop="name">Sidebar Components</a>
			</div>
					<div class="sub_nav_item" itemprop="url">
				<a class="sub_nav_link" href="1-5-style-guide-full-width.html" itemprop="name">Full Width Components</a>
			</div>
			</div>
</nav>
															</div>
							<!-- END: Sub Nav -->

							<!-- Main Content -->
							<div class="fs-cell fs-lg-8">
								<main class="main_content" itemprop="mainContentOfPage">
									
									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
																			</div>
									<!-- END: WYSIWYG -->

									<!-- In Content Callouts -->
									<div class="in_content_callouts">
																			</div>
									<!-- END: In Content Callouts -->

								</main>
							</div>
							<!-- END: Main Content -->

							<!-- Sidebar Callouts -->
							<div class="fs-cell-right fs-lg-4">
								<div class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
																	</div>
							</div>
							<!-- END: Sidebar Callouts -->

						</div>
					
					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
											</div>
					<!-- END: Full Width Callouts -->

				</div>
				<!-- END: Page Content -->

			</div>
			<!-- END: Page -->

			<!-- Footer -->
			<footer id="footer" class="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
	<span class="footer_address_name" itemprop="name">name</span>
	<span class="footer_address_street" itemprop="streetAddress">street</span>
	<span class="footer_address_city" itemprop="addressLocality">city</span>
	<span class="footer_address_state" itemprop="addressRegion">state</span>
	<span class="footer_address_zip" itemprop="postalCode">zip</span>
	<span class="footer_address_phone" itemprop="telephone">###-###-###</span>
</div>

						<nav class="footer_nav" aria-label="Footer Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<div class="footer_nav_list" role="navigation">
					<div class="footer_nav_item" itemprop="url">
				<a class="footer_nav_link" href="#" itemprop="name">Footer Link</a>
			</div>
			</div>
</nav>

						



<div class="social_nav " itemscope itemtype="http://schema.org/Organization"> 
	<link itemprop="url" href="http://www.client-name.com"> 
		<div class="social_nav_list">
					<div class="social_nav_item">
				<a class="social_nav_link facebook" href="facebook.com" itemprop="sameAs" target="_blank">
					<span class="social_nav_label">facebook</span>
				</a>
			</div>
					<div class="social_nav_item">
				<a class="social_nav_link twitter" href="twitter.com" itemprop="sameAs" target="_blank">
					<span class="social_nav_label">twitter</span>
				</a>
			</div>
					<div class="social_nav_item">
				<a class="social_nav_link instagram" href="instagram.com" itemprop="sameAs" target="_blank">
					<span class="social_nav_label">instagram</span>
				</a>
			</div>
					<div class="social_nav_item">
				<a class="social_nav_link youtube" href="youtube.com" itemprop="sameAs" target="_blank">
					<span class="social_nav_label">youtube</span>
				</a>
			</div>
					<div class="social_nav_item">
				<a class="social_nav_link linkedin" href="linkedin.com" itemprop="sameAs" target="_blank">
					<span class="social_nav_label">linkedin</span>
				</a>
			</div>
			</div>
</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->

		</div>
		<!-- END: page_wrapper -->

		<script src="../../js/site.js"></script>

		<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='http://formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
	</body>
</html>
