<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	
					
	
		
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>Home | Client Name</title>
		<meta name="description" content="">

		
		<!-- G+ & Facebook -->
		<meta property="og:title" content="Home">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/images/temp/social-wide.jpg">
		<meta property="og:image:width" content="1220">
		<meta property="og:image:height" content="686">
		<meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
		<meta property="og:site_name" content="Client Name">

		
		<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

		
		<link rel="stylesheet" href="../../css/site.css?1527260050">
	</head>

	<body class="preload fs-grid page_layout_home">

							
							
							
							
							
							
							
							
							
							
			<div class="fs-notifications">
		<div class="fs-row">
			<div class="fs-cell">
								<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">repository.url</span>
				</h2>
												<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">vars.name</span>
				</h2>
							</div>
		</div>
	</div>

	<style>
		.fs-notifications {
			background: #f8f8f8;
			border-top: 5px solid #f99;
			color: #333;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 20px 0;
		}

		.fs-notification-label {
			color: #888;
			font-weight: normal;
		}
	</style>

		
		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper">
							<!-- Header -->
				<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
					<div class="header_ribbon">
						<div class="fs-row">
							<div class="fs-cell">
								<div class="header_ribbon_inner">
									

<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Client Name</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	</div>

									

<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="main_nav_list">
				<li class="js-main-nav-item-1 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Main Link</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav" aria-label="Main Link Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
								<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</li>
								<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Main Link</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Main Link Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
								<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</li>
								<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</li>
							</ul>
					</li>
			</ul>
</nav>

									

<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="secondary_nav_list">
				<li class="secondary_nav_item">
			<a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Secondary Link</span>
			</a>
					</li>
				<li class="secondary_nav_item">
			<a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Secondary Link</span>
			</a>
					</li>
			</ul>
</nav>

									<div class="header_group">
										

<a class="js-swap js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary" href="#mobile_sidebar" data-swap-target=".mobile_sidebar" data-swap-linked="mobile_sidebar">
		<span class="mobile_sidebar_handle_label mobile_sidebar_handle_label_primary">Menu</span>
</a>

										

<a class="site_search_handle" href="#">
	<span class="site_search_handle_label">Search</span>
	<span class="site_search_handle_icon"><svg class="icon icon_search">
	<use xlink:href="../../../images/icons.svg#search"></use>
</svg>
</span>
</a>

										

<div class="site_search site_search_lg" id="site_search_lg" itemscope itemtype="http://schema.org/WebSite" role="search">
	<meta itemprop="url" content="http://example.dev.fastspot.com/site">
	<form class="site_search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://example.dev.fastspot.com/site/static/templates/page-search.html?q={search_term_string_lg}">
		<label class="site_search_label" for="search_term_string_lg">Search</label>
		<input aria-live="polite" class="site_search_input" itemprop="query-input" type="search" id="search_term_string_lg" name="search_term_string_lg" placeholder="Search">
		<button class="site_search_button" type="submit" aria-label="Search">
						<span class="site_search_button_icon"><svg class="icon icon_search">
	<use xlink:href="../../../images/icons.svg#search"></use>
</svg>
</span>
		</button>
	</form>
</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- END: Header -->
			
			<!-- Page -->

			<div class="page_inner">
				
				<!-- Page Content -->
				<div class="page_content">
					
					<!-- Full Width Callouts -->
										<main class="full_width_callouts" id="main_content" itemprop="mainContentOfPage">
																					</main>
										<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</div>
			<!-- END: Page -->

						<!-- Footer -->
			<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="footer_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_ribbon_inner">
								

<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Client Name</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	</div>

								

<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
	<span class="footer_address_name" itemprop="name">Fastspot</span>
	<span class="footer_address_street" itemprop="streetAddress">2980 Falls Road</span>
	<span class="footer_address_city" itemprop="addressLocality">Baltimore</span>
	<span class="footer_address_state" itemprop="addressRegion">MD</span>
	<span class="footer_address_zip" itemprop="postalCode">21211</span>
			<a class="footer_address_phone" itemprop="telephone" href="tel:202-432-1200">
		<span class="footer_address_label">202-432-1200</span>
	</a>
		</div>

								

<nav class="footer_nav" aria-label="Footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="footer_nav_list">
				<li class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Footer Link</span>
			</a>
					</li>
				<li class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Footer Link</span>
			</a>
					</li>
			</ul>
</nav>

								

<div class="social_nav" itemscope itemtype="http://schema.org/Organization">
	<link itemprop="url" href="//example.dev.fastspot.com/site">
		<div class="social_nav_header">
		<h2 class="social_nav_title">Social</h2>
	</div>
		<div class="social_nav_list">
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.facebook.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_label">Facebook</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.twitter.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_label">Twitter</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.instagram.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_label">Instagram</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.youtube.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_label">Youtube</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.linkedin.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_label">Linkedin</span>
			</a>
		</div>
			</div>
</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->
					</div>
		<!-- END: page_wrapper -->

		<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
			

<div class="site_search site_search_sm" id="site_search_sm" itemscope itemtype="http://schema.org/WebSite" role="search">
	<meta itemprop="url" content="http://example.dev.fastspot.com/site">
	<form class="site_search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://example.dev.fastspot.com/site/static/templates/page-search.html?q={search_term_string_sm}">
		<label class="site_search_label" for="search_term_string_sm">Search</label>
		<input aria-live="polite" class="site_search_input" itemprop="query-input" type="search" id="search_term_string_sm" name="search_term_string_sm" placeholder="Search">
		<button class="site_search_button" type="submit" aria-label="Search">
						<span class="site_search_button_icon"><svg class="icon icon_search">
	<use xlink:href="../../../images/icons.svg#search"></use>
</svg>
</span>
		</button>
	</form>
</div>

			

<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="main_nav_list">
				<li class="js-main-nav-item-1 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Main Link</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav" aria-label="Main Link Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
								<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</li>
								<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Main Link</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Main Link Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
								<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</li>
								<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</li>
							</ul>
					</li>
			</ul>
</nav>

			

<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="secondary_nav_list">
				<li class="secondary_nav_item">
			<a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Secondary Link</span>
			</a>
					</li>
				<li class="secondary_nav_item">
			<a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Secondary Link</span>
			</a>
					</li>
			</ul>
</nav>

			<button class="js-swap js-mobile-sidebar-close mobile_sidebar_close" data-swap-target=".mobile_sidebar" data-swap-linked="mobile_sidebar" aria-label="Close Menu">
				<span class="mobile_sidebar_close_icon"><svg class="icon icon_close">
	<use xlink:href="../../../images/icons.svg#close"></use>
</svg>
</span>
			</button>
		</div>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../";
		</script>
		<script src="../../js/site.js?1527260050"></script>

		
				<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='//formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
			</body>
</html>
