


<!DOCTYPE html>
<html class="no-js" lang="en">

	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<title>Master Sub | Client Name</title>
	<meta name="description" content="">

	
	<!-- Facebook -->
	<meta property="og:title" content="Master Sub">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/images/temp/social-wide.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="600">
	<meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
	<meta property="og:site_name" content="Client Name">

	
	<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" async></script>

	
	<link rel="stylesheet" href="../../css/site.css">
</head>
	<body class="preload fs-grid page_layout_default page_theme_default" itemscope itemtype="http://schema.org/WebPage">

			<style>
		.fs-notifications {
			background: #f8f8f8;
			border-top: 5px solid #f99;
			color: #333;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 20px 0;
		}

		.fs-notification-label {
			color: #888;
			font-weight: normal;
		}
	</style>
	<div class="fs-notifications">
		<div class="fs-row">
			<div class="fs-cell">
								<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">repository.url</span>
				</h2>
												<h2>
					<span class="fs-notification-label">Update</span>
					<span class="fs-notification-key">vars.name</span>
				</h2>
							</div>
		</div>
	</div>

		<a class="skip_link" id="skip_link" href="#skip_content">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper">
			<!-- Header -->
			<header class="header" id="header">
				<div class="header_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="header_ribbon_inner">
								

<div class="logo logo_header logo_icon">
	<a class="logo_link" href="page-home.html">
		<span class="logo_link_label">Client Name</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	</div>

								

<nav class="js-nav js-main-nav js-main-nav-lg nav main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="nav_header main_nav_header">
		<h2 class="nav_title main_nav_title">Site Navigation</h2>
	</div>
	<ul class="js-nav-list js-main-nav-list nav_list main_nav_list" aria-label="Site Navigation">
				<li class="js-nav-item js-main-nav-item js-main-nav-item-1 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#" itemprop="url">
										<span class="nav_link_label main_nav_link_label" itemprop="name">MainLinkOne</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav_lg" aria-label="MainLinkOne" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_icon main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="MainLinkOne">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#" itemprop="url">
						<span class="nav_child_link_label main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#" itemprop="url">
						<span class="nav_child_link_label main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js-main-nav-item js-main-nav-item-2 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#" itemprop="url">
										<span class="nav_link_label main_nav_link_label" itemprop="name">MainLinkTwo</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav_lg" aria-label="MainLinkTwo" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_icon main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="MainLinkTwo">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#" itemprop="url">
						<span class="nav_child_link_label main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#" itemprop="url">
						<span class="nav_child_link_label main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</li>
							</ul>
					</li>
			</ul>
</nav>

								

<nav class="js-nav js-secondary-nav js-secondary-nav-lg nav secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="nav_header secondary_nav_header">
		<h2 class="nav_title secondary_nav_title">Secondary Navigation</h2>
	</div>
	<ul class="js-nav-list js-secondary-nav-list nav_list secondary_nav_list" aria-label="Secondary Navigation">
				<li class="js-nav-item js-secondary-nav-item js-secondary-nav-item-1 nav_item secondary_nav_item">
			<div class="nav_item_inner secondary_nav_item_inner">
				<a class="js-nav-link js-secondary-nav-link nav_link secondary_nav_link" href="#" itemprop="url">
										<span class="nav_link_label secondary_nav_link_label" itemprop="name">SecondaryLinkOne</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-secondary-nav-item js-secondary-nav-item-2 nav_item secondary_nav_item">
			<div class="nav_item_inner secondary_nav_item_inner">
				<a class="js-nav-link js-secondary-nav-link nav_link secondary_nav_link" href="#" itemprop="url">
										<span class="nav_link_label secondary_nav_link_label" itemprop="name">SecondaryLinkTwo</span>
				</a>
							</div>
					</li>
			</ul>
</nav>

								<div class="header_group">
									

<a class="js-swap js-menu-handle menu_handle" href="#menu" data-swap-target=".menu" data-swap-linked="menu">
		<span class="menu_handle_icon" aria-hidden="true"><svg class="icon icon_menu">
	<use xlink:href="../../images/icons.svg#menu"></use>
</svg>
</span>
		<span class="menu_handle_label">Open Menu</span>
</a>

									

<a class="site_search_handle" href="page-search.html">
	<span class="site_search_handle_icon" aria-hidden="true"><svg class="icon icon_search">
	<use xlink:href="../../images/icons.svg#search"></use>
</svg>
</span>
	<span class="site_search_handle_label">Search</span>
</a>

									


<div class="site_search site_search_lg" id="site_search_751855953" role="search">
	<meta itemprop="url" content="http://example.dev.fastspot.com/site">
	<form class="site_search_form" action="/static/templates/page-search.html" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://example.dev.fastspot.com/site/static/templates/page-search.html?q={q}">
		<label class="site_search_label" for="search_string_751855953">Search</label>
		<div class="site_search_field">
			<input class="site_search_input" aria-live="polite" itemprop="query-input" type="search" id="search_string_751855953" name="q" placeholder="Search" required>
			<button class="site_search_button" type="submit" aria-label="Search">
								<span class="site_search_button_icon"><svg class="icon icon_search">
	<use xlink:href="../../images/icons.svg#search"></use>
</svg>
</span>
			</button>
		</div>
	</form>
</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<main class="page">

			</main>
			<!-- END: Page -->

			<!-- Footer -->
			<footer class="footer" id="footer">
				<div class="footer_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_ribbon_inner">
								

<div class="meta" itemprop="creator" itemscope itemtype="http://schema.org/Organization">
	<div class="meta_logo">
		<a class="meta_logo_link" itemprop="url" href="page-home.html">
			<span class="meta_logo_label" itemprop="name">Client Name</span>
			<span class="meta_logo_icon"><svg class="icon icon_logo">
	<use xlink:href="../../images/icons.svg#logo"></use>
</svg>
</span>
			<meta content="http://example.dev.fastspot.com/site/images/logo-schema.png" itemprop="logo">
		</a>
	</div>
	<div class="meta_details" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span class="meta_detail meta_detail_address">
			<span class="meta_detail_icon"><svg class="icon icon_place">
	<use xlink:href="../../images/icons.svg#place"></use>
</svg>
</span>
			<span class="meta_detail_label meta_detail_label_address">
				<span class="meta_address_street" itemprop="streetAddress">2980 Falls Road</span>
				<span class="meta_address_group">
					<span class="meta_address_city" itemprop="addressLocality">Baltimore</span>
					<span class="meta_address_state" itemprop="addressRegion">MD</span>
					<span class="meta_address_zip" itemprop="postalCode">21211</span>
				</span>
			</span>
		</span>
				<span class="meta_detail meta_detail_email">
			<span class="meta_detail_icon"><svg class="icon icon_mail">
	<use xlink:href="../../images/icons.svg#mail"></use>
</svg>
</span>
			<a class="meta_detail_label meta_detail_label_email" href="mailto:team@fastspot.com" itemprop="email">team@fastspot.com</a>
		</span>
						<span class="meta_detail meta_detail_phone">
			<span class="meta_detail_icon"><svg class="icon icon_phone">
	<use xlink:href="../../images/icons.svg#phone"></use>
</svg>
</span>
			<a class="meta_detail_label meta_detail_label_phone" href="tel:2024321200" itemprop="telephone">202-432-1200</a>
		</span>
						<span class="meta_detail meta_detail_fax">
			<span class="meta_detail_icon"><svg class="icon icon_fax">
	<use xlink:href="../../images/icons.svg#fax"></use>
</svg>
</span>
			<a class="meta_detail_label meta_detail_label_fax" href="tel:2944679876" itemprop="fax">294-467-9876</a>
		</span>
			</div>
</div>
								

<nav class="js-nav js-footer-nav nav footer_nav" aria-label="Footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="nav_header footer_nav_header">
		<h2 class="nav_title footer_nav_title">Footer Navigation</h2>
	</div>
	<ul class="js-nav-list js-footer-nav-list nav_list footer_nav_list" aria-label="Footer Navigation">
				<li class="js-nav-item js-footer-nav-item js-footer-nav-item-1 nav_item footer_nav_item">
			<div class="nav_item_inner footer_nav_item_inner">
				<a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="#" itemprop="url">
										<span class="nav_link_label footer_nav_link_label" itemprop="name">Footer Link</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-footer-nav-item js-footer-nav-item-2 nav_item footer_nav_item">
			<div class="nav_item_inner footer_nav_item_inner">
				<a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="#" itemprop="url">
										<span class="nav_link_label footer_nav_link_label" itemprop="name">Footer Link</span>
				</a>
							</div>
					</li>
			</ul>
</nav>

								

<div class="social_nav" itemprop="creator" itemscope itemtype="http://schema.org/Organization">
	<link itemprop="url" href="//example.dev.fastspot.com/site">
	<div class="social_nav_header">
		<h2 class="social_nav_title">Social Navigation</h2>
	</div>
	<ul class="social_nav_list" aria-label="Social">
				<li class="social_nav_item">
			<a class="social_nav_link" href="//www.facebook.com" target="_blank" rel="noopener" itemprop="sameAs">
				<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../images/icons.svg#facebook"></use>
</svg>
</span>
				<span class="social_nav_label">Facebook</span>
			</a>
		</li>
				<li class="social_nav_item">
			<a class="social_nav_link" href="//www.twitter.com" target="_blank" rel="noopener" itemprop="sameAs">
				<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../images/icons.svg#twitter"></use>
</svg>
</span>
				<span class="social_nav_label">Twitter</span>
			</a>
		</li>
				<li class="social_nav_item">
			<a class="social_nav_link" href="//www.instagram.com" target="_blank" rel="noopener" itemprop="sameAs">
				<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../images/icons.svg#instagram"></use>
</svg>
</span>
				<span class="social_nav_label">Instagram</span>
			</a>
		</li>
				<li class="social_nav_item">
			<a class="social_nav_link" href="//www.youtube.com" target="_blank" rel="noopener" itemprop="sameAs">
				<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../images/icons.svg#youtube"></use>
</svg>
</span>
				<span class="social_nav_label">Youtube</span>
			</a>
		</li>
				<li class="social_nav_item">
			<a class="social_nav_link" href="//www.linkedin.com" target="_blank" rel="noopener" itemprop="sameAs">
				<span class="social_nav_icon"><svg class="icon icon_linkedin">
	<use xlink:href="../../images/icons.svg#linkedin"></use>
</svg>
</span>
				<span class="social_nav_label">Linkedin</span>
			</a>
		</li>
			</ul>
</div>

								<p class="copyright"><span class="copyright_icon">&copy;</span> <span class="copyright_holder" itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Organization"><span class="copyright_holder_name" itemprop="name">Client Name</span></span> <span class="copyright_year" itemprop="copyrightYear">2019</span></p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->
		</div>
		<!-- END: page_wrapper -->

		<!-- Menu -->
<div class="js-menu menu" id="menu" aria-label="Site Menu">
	

<nav class="js-nav js-main-nav js-main-nav-sm nav main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="nav_header main_nav_header">
		<h2 class="nav_title main_nav_title">Site Navigation</h2>
	</div>
	<ul class="js-nav-list js-main-nav-list nav_list main_nav_list" aria-label="Site Navigation">
				<li class="js-nav-item js-main-nav-item js-main-nav-item-1 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#" itemprop="url">
										<span class="nav_link_label main_nav_link_label" itemprop="name">MainLinkOne</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav_sm" aria-label="MainLinkOne" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_icon main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="MainLinkOne">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#" itemprop="url">
						<span class="nav_child_link_label main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#" itemprop="url">
						<span class="nav_child_link_label main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js-main-nav-item js-main-nav-item-2 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#" itemprop="url">
										<span class="nav_link_label main_nav_link_label" itemprop="name">MainLinkTwo</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav_sm" aria-label="MainLinkTwo" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_icon main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="MainLinkTwo">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#" itemprop="url">
						<span class="nav_child_link_label main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#" itemprop="url">
						<span class="nav_child_link_label main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</li>
							</ul>
					</li>
			</ul>
</nav>

	

<nav class="js-nav js-secondary-nav js-secondary-nav-sm nav secondary_nav secondary_nav_sm" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="nav_header secondary_nav_header">
		<h2 class="nav_title secondary_nav_title">Secondary Navigation</h2>
	</div>
	<ul class="js-nav-list js-secondary-nav-list nav_list secondary_nav_list" aria-label="Secondary Navigation">
				<li class="js-nav-item js-secondary-nav-item js-secondary-nav-item-1 nav_item secondary_nav_item">
			<div class="nav_item_inner secondary_nav_item_inner">
				<a class="js-nav-link js-secondary-nav-link nav_link secondary_nav_link" href="#" itemprop="url">
										<span class="nav_link_label secondary_nav_link_label" itemprop="name">SecondaryLinkOne</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-secondary-nav-item js-secondary-nav-item-2 nav_item secondary_nav_item">
			<div class="nav_item_inner secondary_nav_item_inner">
				<a class="js-nav-link js-secondary-nav-link nav_link secondary_nav_link" href="#" itemprop="url">
										<span class="nav_link_label secondary_nav_link_label" itemprop="name">SecondaryLinkTwo</span>
				</a>
							</div>
					</li>
			</ul>
</nav>

	<button class="js-swap js-menu-close menu_close" data-swap-target=".menu" data-swap-linked="menu">
		<span class="menu_close_icon"><svg class="icon icon_close">
	<use xlink:href="../../images/icons.svg#close"></use>
</svg>
</span>
		<span class="menu_close_label">Close Site Menu</span>
	</button>
</div>
<!-- END: Menu -->

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../";
		</script>
				<script src="../../js/site.js" async></script>
				<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='//formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
			</body>
</html>