/* ==========================================================================
	Page
============================================================================= */

.page_wrapper {}

	.page {}

		.page_feature {}

		.page_content {}

			.subnav_cell {}

			.main_content {
				@include focus_outline_none;
			}

				.page_header {}

					.page_title {}

				.in_content_callouts {}

			.sidebar_cell {
				clear: right;
			}

				.sidebar {}

			.full_width_callouts {}


/* Skip Link
============================================================================= */

.skip_link {
	@include button_inline;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	display: block;
	padding: 20px;
	text-align: center;
	transform: translate(-50%, -200%);
	transition:
		transform .35s,
		top .35s;

	&:focus,
	&:active {
		outline: 2px solid #000;
		transform: translate(-50%, 0);
	}

	.no-csstransforms & {
		top: -100%;

		&:focus,
		&:active {
			top: 0;
		}
	}
}
