/* ==========================================================================
	Footer Navigation
============================================================================= */

.footer_nav {}

.footer_nav_header {}

.footer_nav_title {
	@include visually_hide;
}


// Footer Links
// =============================================================================

.footer_nav_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer_nav_item {}

.footer_nav_link {
	display: block;

	&:focus,
	&:hover {}
}

.footer_nav_link_label {}
