/* ==========================================================================
	Buttons
============================================================================= */

button {
	background: none;
	border: none;
	padding: 0;

	.csstransforms & {
		display: none;
	}
}

@mixin button() {
	text-align: center;
	transition:
		background $base_transition_duration,
		border $base_transition_duration,
		box-shadow $base_transition_duration,
		color $base_transition_duration,
		transform $base_transition_duration;
}

@mixin button_inline() {
	@include button;

	display: inline-block;
	margin-right: 8px;
	margin-bottom: 8px;
}

@mixin button_block() {
	@include button;

	display: block;
}

@mixin button_mixed_block() {
	@include button;

	display: block;

	@media #{$min_xs} {
		display: inline-block;
		margin-right: 8px;
		margin-bottom: 8px;
	}
}
