/* ==========================================================================
	Buttons
============================================================================= */

button {
	background: none;
	border: none;
	padding: 0;
}

.button_base() {
	.text_center;

	transition:
		background @base_transition_duration,
		border @base_transition_duration,
		box-shadow @base_transition_duration,
		color @base_transition_duration,
		transform @base_transition_duration;
}

.button_inline() {
	.button_base;
	.inline_block;

	margin-right: 8px;
	margin-bottom: 8px;
}

.button_block() {
	.button_base;
	.block;
}
