/* ==========================================================================
	Google CSE
============================================================================= */

	.site_search_results {

		.gsc-control-cse {
			border-width: 0;
			padding: 0;

			.gs-result {

				.gs-title {
					.heading_4;

					b {
						color: inherit;
						font-size: inherit;
					}
				}
			}

			.gs-visibleUrl {
				.heading_6();
			}
		}

		.gsc-control-wrapper-cse {}

		// Form
		.gsc-search-box {}

		table.gsc-search-box {

			td.gsc-input {
				padding-right: 0;
			}
		}

		// Table
		.gsc-search-box {}

		.gsc-input {}

		td.gsc-input {}

		input.gsc-input {
			background-color: transparent !important;
			border: 1px solid @true_black;
			padding: 20px;
		}

		// Hidden field
		#bgresponse {}

		.gsc-search-button {}

		td.gsc-search-button {}

		input.gsc-search-button {
			.bg_true_white;
			.color_true_black;

			border-width: 1px;
			cursor: pointer;
		}

		.gsc-clear-button {}

		div.gsc-clear-button {
			margin: 0;
			padding: 0 10px;
		}

		// Table
		.gsc-branding {}

		// TD
		.gsc-branding-user-defined {}

		.gsc-branding-text {}

		td.gsc-branding-text {}

		div.gsc-branding-text {}

		.gsc-branding-img {}

		td.gsc-branding-img {}

		img.gsc-branding-img {}

		.gsc-results-wrapper-nooverlay {}

		.gsc-results-wrapper-visible {}

		.gsc-tabsAreaInvisible {}

		.gsc-tabHeader {}

		.gsc-inline-block {}

		.gsc-tabhActive {}

		.gs-spacer {}

		.gsc-tabsAreaInvisible {}

		.gsc-above-wrapper-area {
			border-bottom: 1px solid @true_black;
			padding: 0;
		}

		.gsc-above-wrapper-area-container {}

		.gsc-result-info-container {}

		// Results count text
		.gsc-result-info {
			margin: 0;
			padding: 10px 0;
		}

		.gsc-adBlockNoHeight {}

		// Results list wrapper
		.gsc-wrapper {

			iframe {}
		}

		.gsc-resultsbox-visible {}

		.gsc-resultsRoot {}

		.gsc-tabData {}

		.gsc-tabdActive {}

		.gsc-resultsHeader {}

		.gsc-twiddleRegionCell {}

		.gsc-twiddle-opened {}

		.gsc-twiddle {}

		.gsc-title {}

		.gsc-stats {}

		.gsc-results-selector {}

		.gsc-all-results-active {}

		.gsc-one-result {}

		.gsc-more-results {}

		.gsc-all-results {}

		.gsc-configLabelCell {}

		.gsc-results {}

		.gsc-webResult {

			&.gsc-result {
				.bg_transparent;

				border-width: 0;
				border-bottom: 1px solid @true_black;
				margin: 0;
				padding: 20px 0;

				&:hover {
					.bg_transparent;

					border-width: 0;
					border-bottom: 1px solid @true_black;
				}
			}

			.gs-snippet {
				.body_text();
			}

			// All other results
			.gsc-expansionArea & {}
		}

		// Each result in listing
		.gsc-result {

			.gs-title {
				height: auto;
			}

			img.gs-image {
				border-width: 0;

				max-width: 100%;
			}
		}

		// Image Thumbnail
		.gsc-table-cell-thumbnail {
			padding: 0;
		}

		td.gsc-table-cell-thumbnail {}

		div.gsc-table-cell-thumbnail {}

		.gsc-thumbnail {}

		.gs-image-box {}

		.gs-web-image-box {
			width: 100px;

			padding: 0;
		}

		.gs-web-image-box-portrait {}

		.gs-image {}

		a.gs-image {
			.block;
			.responsive_image;

			margin-right: 20px;
		}

		img.gs-image {
			border-width: 0;

			max-width: 100%;
		}


		.gsc-table-cell-snippet-close {}

		.gsc-thumbnail-left {}

		a.gs-title {
			.block;

			b {}
		}

		.gs-bidi-start-align {}

		.gs-snippet {}

		.gs-visibleUrl {

			b {}
		}

		.gsc-url-bottom {}

		.gs-visibleUrl-short {}

		.gs-visibleUrl-long {

			b {}
		}

		.gs-richsnippet-box {}

		.gs-per-result-labels {}


/* ==========================================================================
   Results Paging
============================================================================= */

		.gsc-cursor-box {
			margin: 10px 0;
		}

		.gsc-cursor {
			.block;
		}

		.gsc-cursor-page {
			background-color: transparent !important;
		}

		.gsc-cursor-current-page {}


/* ==========================================================================
   Google Search Branding
============================================================================= */

		.gcsc-branding {}

		div.gcsc-branding {}

		table.gcsc-branding {}

		.gcsc-branding-text {}

		td.gcsc-branding-text {}

		div.gcsc-branding-text {}

		.gcsc-branding-img-noclear {}

		td.gcsc-branding-img-noclear {}

		img.gcsc-branding-img-noclear {}

		.gcsc-branding-clickable {}

		.gcsc-branding-text-name {}
	}
