/* ==========================================================================
	Grid
============================================================================= */

$space: 20px;

@mixin row() {
	@include clearfix;
	max-width: $mq_min_xl + ($space * 2);

	margin-right: auto;
	margin-left: auto;
	padding-right: $space;
	padding-left: $space;
}

.row {
	@include row;
}

@mixin cell() {
	width: 100%;

	float: left;
	padding-right: $space / 2;
	padding-left: $space / 2;
}

.cell {
	@include cell;
}
