/* ==========================================================================
	Grid
============================================================================= */

.grid {
	padding-right: 30px;
	padding-left: 30px;
}

.row {
	@include clearfix;

	display: flex;
	flex-wrap: wrap;
	margin-right: 15px;
	margin-left: -15px;
}

.cell {
	width: 100%;

	float: left;
	padding-right: 15px;
	padding-left: 15px;
}
