/* ==========================================================================
	Grid
============================================================================= */

.grid {
	padding-right: 30px;
	padding-left: 30px;
}

.row {
	@include clearfix;

	margin-right: 15px;
	margin-left: -15px;
}

.cell {
	padding-right: 15px;
	padding-left: 15px;
}
