/* ==========================================================================
	Page
============================================================================= */

.skip_link {
	.absolute;
	.block;
	.heading_6;
	.text_center;

	top: 0;
	left: 50%;
	z-index: 100;

	padding: 20px;
	transform: translate(-50%, -200%);
	transition:
		transform 0.35s,
		top 0.35s;

	&:focus,
	&:active {
		outline: 2px solid #000;
		transform: translate(-50%, 0);
	}

	.no-csstransforms & {
		top: -100%;

		&:focus,
		&:active {
			top: 0;
		}
	}
}

.page_wrapper {}

.page {}

.page_feature {}

.page_content {}

.subnav_cell {}

.main_content {
	.focus_outline_none();
}

.page_header {}

.page_title {}

.in_content_callouts {}

.sidebar_cell {
	clear: right;
}

.sidebar {}

.full_width_callouts {}
