/* ==========================================================================
	Component Reference
============================================================================= */

/* CRL Basics
============================================================================= */

.cr_heading {
	@include margined;

	color: #666;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
}

.cr_description {
	@include font_size(14);
	@include line_height(32, 20);

	color: #666;
	font-family: Arial, sans-serif;
}


/* Color Blocks
============================================================================= */

.cr_color_blocks {
	@include margined_md_bottom;
}

.cr_color_block_row {}

.cr_color_block_cell {}

.cr_color_block {
	position: relative;

	padding-top: 30%;

	@media #{$min_sm} {
		padding-top: 50%;
	}
}

.cr_color_block_content {
	@include heading_5;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	line-height: 1.4;
	padding: 15px;

	@media #{$min_md} {
		padding: 20px 25px;
	}
}


/* Fonts
============================================================================= */

.cr_font {
	@include font_size(48);

	line-height: 1;
	margin-bottom: 30px;
	padding-bottom: 40px;
}


/* CRL Buttons
============================================================================= */

.crl_buttons {
	@include clearfix;

	a {

		@media #{$max_sm} {
			clear: left;
			display: block;
			float: left;
			margin: 10px 0;
		}

		@media #{$min_sm} {
			margin: 10px 10px 10px 0;
		}

		&:last-child {

			@media #{$min_sm} {
				margin-right: 0;
			}
		}
	}
}
