/* ==========================================================================
	Component Reference
============================================================================= */

/* CRL Basics
============================================================================= */

.cr_heading {
	@include margined;

	color: #666;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
}

.cr_description {
	font-size: 14px;
	line-height: (32 / 20);

	color: #666;
	font-family: Arial, sans-serif;
}


/* Color Blocks
============================================================================= */

.cr_color_blocks {
	@include margined_md_bottom;
}

.cr_color_block_row {}

.cr_color_block_cell {
	display: inline-block;
	margin-bottom: 4px;
}

.cr_color_block {
	position: relative;
}

.cr_color_block_content {
	@include heading_5;

	line-height: 1.4;
	padding: 15px;

	@media #{$min_md} {
		padding: 20px 25px;
	}
}


/* Fonts
============================================================================= */

.cr_font {
	font-size: 48px;
	line-height: 1;
	margin-bottom: 30px;
	padding-bottom: 40px;
}


/* CRL Buttons
============================================================================= */

.crl_buttons {
	@include clearfix;

	a {

		@media #{$max_sm} {
			clear: left;
			display: block;
			float: left;
			margin: 10px 0;
		}

		@media #{$min_sm} {
			margin: 10px 10px 10px 0;
		}

		&:last-child {

			@media #{$min_sm} {
				margin-right: 0;
			}
		}
	}
}
