<h2>Colors</h2>

<div class="cr_color_blocks">
	<div class="cr_color_block_row">
		<div class="cr_color_block_cell">
			<div class="cr_color_block bg_true_black color_true_white">
				<div class="cr_color_block_content">#000</div>
			</div>
			<div class="cr_color_block slim bg_true_white color_true_black">
				<div class="cr_color_block_content">#FFF</div>
			</div>
		</div>
		<div class="cr_color_block_cell">
			<div class="cr_color_block slim bg_true_white color_true_black">
				<div class="cr_color_block_content">#FFF</div>
			</div>
			<div class="cr_color_block bg_true_black color_true_white">
				<div class="cr_color_block_content">#000</div>
			</div>
		</div>
		<div class="cr_color_block_cell">
			<div class="cr_color_block slim bg_true_black color_true_white">
				<div class="cr_color_block_content">#000</div>
			</div>
			<div class="cr_color_block bg_true_white color_true_black">
				<div class="cr_color_block_content">#FFF</div>
			</div>
		</div>
		<div class="cr_color_block_cell">
			<div class="cr_color_block slim bg_true_white color_true_black">
				<div class="cr_color_block_content">#FFF</div>
			</div>
			<div class="cr_color_block bg_true_black color_true_white">
				<div class="cr_color_block_content">#000</div>
			</div>
		</div>
	</div>
</div>
