<h2>Colors</h2>

<div class="cr_color_blocks">
	<div class="cr_color_block_row">
		{% set colors = {
			1: {
				class: "slim bg_true_black color_true_white",
				hex: "#000",
				classTwo: "bg_true_white color_true_black",
				hexTwo: "#FFF"
			},
			2: {
				class: "slim bg_true_white color_true_black",
				hex: "#FFF"
				classTwo: "bg_true_black color_true_white",
				hexTwo: "#000",
			}
		} %}
		{% for color in colors %}
			<div class="cr_color_block_cell">
				<div class="cr_color_block {{color.class}}">
					<div class="cr_color_block_content">{{color.hex}}</div>
				</div>
				<div class="cr_color_block {{color.classTwo}}">
					<div class="cr_color_block_content">{{color.hexTwo}}</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
