<div class="crl_forms">
	<h2>Forms</h2>

	<h3>Form Title</h3>
	<form action="#" class="crl_form">
		<fieldset class="input_set">
			<label for="first_name">Name</label>
			<input id="first_name" type="text">
		</fieldset>
		<fieldset class="textarea_set">
			<label for="textarea">Comment</label>
			<textarea id="textarea"></textarea>
		</fieldset>
		<fieldset class="checkbox_set">
			<legend>Checkboxes</legend>
			<label>
				<input type="checkbox" name="checkbox-one" value="Option One">
				<span class="checkbox_label">Option One</span>
			</label>
			<label>
				<input type="checkbox" name="checkbox-two" value="Option Two">
				<span class="checkbox_label">Option Two</span>
			</label>
			<label>
				<input type="checkbox" name="checkbox-three" value="Option Three">
				<span class="checkbox_label">Option Three</span>
			</label>
		</fieldset>
		<fieldset class="radio_set">
			<legend>Radio Buttons</legend>
			<label>
				<input type="radio" name="radio-set" value="Option One">
				<span class="checkbox_label">Option One</span>
			</label>
			<label>
				<input type="radio" name="radio-set" value="Option Two">
				<span class="checkbox_label">Option Two</span>
			</label>
			<label>
				<input type="radio" name="radio-set" value="Option Three">
				<span class="checkbox_label">Option Three</span>
			</label>
		</fieldset>
		<fieldset class="form_dropdown required">
			<label for="dropdown">Categories</label>
			<select class="js-dropdown" id="dropdown" data-dropdown-options='{"label": "Categories", "theme": "base_dropdown gray_dropdown dropdown_divide"}'>
				<option value="1">Pharetra Quam</option>
				<option value="2">Magna Vulputate</option>
				<option value="3">Condimentum</option>
				<option value="4">Magna Tellus Cras</option>
				<option value="5">Sit Ridiculus</option>
			</select>
		</fieldset>
	</form>
</div>
