<div class="crl_type">
	<h2>Type</h2>

	<!-- Type Styles -->
	<div class="cr_heading">Headings</div>

	<!-- Headings -->
	<h1>H1 Crass Viverra Ante Vitate Dictum</h1>

	<div class="intro">
		<p>Cras viverra ante vitae dictum vestibulum. Nam placerat nulla eu dolor scelerisque mattis et in diam. Quisque tempor ullamcorper odio sit amet vestibulum.</p>
	</div>

	<h2>H2 Crass Viverra Ante Vitate Dictum</h2>

	<p>Cras viverra ante vitae dictum vestibulum. Nam <a href="#">placerat</a> nulla eu dolor scelerisque mattis et in diam. Quisque tempor <a href="#">ullamcorper</a> odio sit amet vestibulum. Praesent cursus tellus nunc, ut venenatis lacus scelerisque sed. Pellentesque mi risus, ultrices id fringilla non, sodales non mi. In feugiat lorem id efficitur euismod.</p>

	<figure class="block_right">
		<img src="http://spacehold.it/414x233/" alt="">
		<figcaption>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue.</figcaption>
	</figure>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

	<h3>H3 Crass Viverra Ante Vitate Dictum</h3>

	<figure class="block_left">
		<img src="http://spacehold.it/414x233/" alt="">
	</figure>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

	<h4>H4 Crass Viverra Ante Vitate Dictum</h4>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<figure class="block_center">
		<img src="http://spacehold.it/800x450/" alt="">
		<figcaption>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue.</figcaption>
	</figure>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

	<h5>H5 Crass Viverra Ante Vitate Dictum</h5>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<h6>H6 Crass Viverra Ante Vitate Dictum</h6>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>



	<div class="cr_heading">WYSIWYG Blockquote</div>

	<!-- Blockquote - WYSIWYG -->
	<blockquote>
		<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
	</blockquote>

	<div class="cr_heading">WYSIWYG Blockquote Template</div>

	<figure class="quote">
		<blockquote class="quote_content">
			<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
		</blockquote>
		<figcaption class="quote_caption">
			<span class="quote_caption_name">Aenean massa - </span><span class="quote_caption_title">Nullam dictum felis</span>
		</figcaption>
	</figure>


	<div class="cr_heading">Lists</div>

	<!-- Unordered List -->
	<ul>
		<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
		<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
		<li>
			<strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
			<ul>
				<li>Donec ullamcorper nulla non metus auctor fringilla.</li>
				<li>Donec id elit non mi porta gravida at eget metus.</li>
				<li>
					Morbi leo risus, porta ac consectetur ac, vestibulum at eros
					<ul>
						<li>Donec id elit non mi porta gravida at eget metus.</li>
						<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
	</ul>

	<!-- Ordered List -->
	<ol>
		<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
		<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
		<li>
			<strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
			<ul>
				<li>Donec ullamcorper nulla non metus auctor fringilla.</li>
				<li>Donec id elit non mi porta gravida at eget metus.</li>
				<li>
					Morbi leo risus, porta ac consectetur ac, vestibulum at eros
					<ul>
						<li>Donec id elit non mi porta gravida at eget metus.</li>
						<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
	</ol>

	<div class="cr_heading">Tables</div>

	<!-- Table -->

	<table>
		<thead>
			<tr>
				<th>Colors</th>
				<th>Shapes</th>
				<th>Numbers</th>
				<th>Percentages</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Black</td>
				<td>Circle</td>
				<td>One</td>
				<td>10% of Lorem ipsum dolor sit amet, consectetur.</td>
			</tr>
			<tr>
				<td>Blue</td>
				<td>Square</td>
				<td>Two</td>
				<td>33% of Donec ullamcorper nulla non metus auctor.</td>
			</tr>
			<tr>
				<td>Green</td>
				<td>Triangle</td>
				<td>Three</td>
				<td>5% of Integer posuere erat a ante venenatis.</td>
			</tr>
			<tr>
				<td>Red</td>
				<td>Rectangle</td>
				<td>Four</td>
				<td>90% of Aenean eu leo quam vestibulum.</td>
			</tr>
			<tr>
				<td>White</td>
				<td>Oval</td>
				<td>Five</td>
				<td>100% of Cum sociis natoque penatibus et mus.</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tr>
			<th>Colors</th>
			<th>Shapes</th>
			<th>Numbers</th>
			<th>Percentages</th>
		</tr>
		<tr>
			<td>Black</td>
			<td>Circle</td>
			<td>One</td>
			<td>10% of Lorem ipsum dolor sit amet, consectetur.</td>
		</tr>
		<tr>
			<td>Blue</td>
			<td>Square</td>
			<td>Two</td>
			<td>33% of Donec ullamcorper nulla non metus auctor.</td>
		</tr>
		<tr>
			<td>Green</td>
			<td>Triangle</td>
			<td>Three</td>
			<td>5% of Integer posuere erat a ante venenatis.</td>
		</tr>
		<tr>
			<td>Red</td>
			<td>Rectangle</td>
			<td>Four</td>
			<td>90% of Aenean eu leo quam vestibulum.</td>
		</tr>
		<tr>
			<td>White</td>
			<td>Oval</td>
			<td>Five</td>
			<td>100% of Cum sociis natoque penatibus et mus.</td>
		</tr>
	</table>
</div>

<div id="crl_pagination">
	<div class="cr_heading">Pagination</div>

	<!-- Pagination -->
	{% include "../components/shared/pagination.twig" with {
		pages: 10
	} %}

</div>
