/* ==========================================================================
	Background
============================================================================= */

.fs-background {
	position: relative;

	overflow: hidden;

	&-container {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
	}

	&-media {
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		bottom: 0;

		opacity: 0;
		transition: opacity 0.5s;

		img {
			display: none;
		}

		video {
			width: 100%;
			height: 100%;

			display: block;

			-webkit-user-drag: none;
		}
	}

	&-media.fs-background-native {
		background-position: center;
		background-size: cover;
	}
}
