/* ==========================================================================
	Carousel
============================================================================= */

.fs-carousel {
	position: relative;

	&-enabled.fs-carousel-rtl {
		direction: rtl;
	}

	&-enabled &-viewport {
		@include clearfix;

		position: relative;
	}

	&-enabled &-container {
		@include clearfix;
	}

	&-enabled.fs-carousel-contained &-container {
		overflow: hidden;
	}

	&-enabled &-canister {
		backface-visibility: hidden;
		overflow: hidden;
		transition: transform .5s;
		transform: translate3d(0, 0, 0);

		@media print {
			width: 100% !important;

			transform: none !important;
		}
	}

	&-enabled.fs-carousel-auto_height &-canister {
		transition:
			height .5s,
			transform .5s;
	}


	/* Items
	=========================================================================== */

	&-enabled &-item {
		min-height: 1px;

		display: block;
		float: left;

		@media print {
			height: auto !important;
			width: 100% !important;
		}

		img {
			-webkit-user-drag: none;
			user-select: none;
		}
	}

	&-enabled.fs-carousel-rtl &-item {
		float: right;
	}

	&-single &-item {
		position: absolute;
		top: 0;
		left: 0;
	}

	&-single &-item.fs-carousel-visible {
		position: relative;
		z-index: 2;
	}


	/* Controls
	=========================================================================== */

	&-controls {
		display: none;
	}

	&-enabled &-controls.fs-carousel-visible,
	&-controls_custom.fs-carousel-visible {
		display: block;

		@media print {
			@include hide;
		}
	}

	&-enabled &-control {
		cursor: default;
		pointer-events: none;

		&.fs-carousel-visible {
			cursor: pointer;
			pointer-events: auto;
		}
	}


	/* Pagination
	=========================================================================== */

	&-pagination {
		display: none;
	}

	&-enabled &-pagination.fs-carousel-visible {
		display: block;

		@media print {
			@include hide;
		}
	}

	&-enabled &-page {
		cursor: pointer;
		display: inline-block;
	}
}
