/* ==========================================================================
	Range
============================================================================= */

$fs-range-fill-background-color: #aaa;
$fs-range-track-background-color:	#ddd;
$fs-range-track-height: 10px;

$fs-range-marker-size: 20px;
$fs-range-marker-background-color: #666;

$fs-range-vertical-height: 300px;
$fs-range-vertical-track-width: 10px;

.fs-range {
	height: ($fs-range-marker-size * 2);
	width: 100%;

	&-disabled {
		cursor: default;
		opacity: .5;
	}

	&-vertical {
		height: $fs-range-vertical-height;
		width: ($fs-range-marker-size * 2);
	}

	&-element {
		@include visually_hide;
	}


	/* Track
	=========================================================================== */

	&-track {
		height: $fs-range-track-height;
		width: 100%;

		position: relative;

		background: $fs-range-track-background-color;
		float: left;
		margin: ($fs-range-marker-size / 2) 0;
	}

	&-labels .fs-range-track {
		width: 80%;
	}

	&-vertical .fs-range-track {
		height: 75%;
		width: $fs-range-vertical-track-width;

		float: none;
		margin: 0 auto;
	}

	&-fill {
		height: 100%;
		width: 1px;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background: $fs-range-fill-background-color;
	}

	&-vertical .fs-range-fill {
		height: 1px;
		width: 100%;

		top: auto;
	}


	/* Handle
	=========================================================================== */

	&-handle {
		height: 100%;
		width: 1px;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;

		display: block;
		overflow: visible;
	}

	&-vertical .fs-range-handle {
		height: 1px;
		width: 100%;

		top: auto;
	}

	&-marker {
		height: $fs-range-marker-size;
		width: $fs-range-marker-size;

		background: $fs-range-marker-background-color;
		cursor: pointer;
		display: block;
		margin: -($fs-range-marker-size / 4) 0 0 -($fs-range-marker-size / 2);
	}

	&-disabled .fs-range-marker {
		cursor: default;
	}

	&-vertical .fs-range-marker {
		margin: -($fs-range-marker-size / 2) 0 0 -($fs-range-marker-size / 4);
	}


	/* Labels
	=========================================================================== */

	&-label {
		width: 8%;

		display: block;
		line-height: ($fs-range-track-height + $fs-range-marker-size);
	}

	&-vertical .fs-range-label {
		height: auto;
		width: 100%;

		float: none;
		margin: 0;
		padding: 10px 0;
		line-height: 100%;
		text-align: center;
	}

	&-label_min {
		float: left;
		margin: 0 2% 0 0;
		text-align: right;
	}

	&-label_max {
		float: right;
		margin: 0 0 0 2%;
		text-align: left;
	}
}
