/* ==========================================================================
	Tabs
============================================================================= */

.fs-tabs {

	&-enabled {
		@include clearfix;
	}

	&-tab.fs-tabs-enabled {
		cursor: pointer;
	}

	&-tab.fs-tabs-mobile,
	&-tab_mobile {
		display: none;
	}

	&-tab_mobile.fs-tabs-mobile {
		display: block;
	}

	&-content.fs-tabs-enabled {
		display: none;
	}

	&-content.fs-tabs-active {
		display: block;
	}
}
