{#
	{% include full ~ "/wysiwyg.twig" with {
		content: "Lorem ipsum"
	} %}
#}

<div class="wysiwyg_block">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="typography">
				{{content}}
			</div>
		</div>
	</div>
</div>
