{#
	{{site.full("Full Width WYSIWYG")}}
	{% include full ~ "wysiwyg.twig" with {
		content: "Lorem ipsum"
	} %}
#}

<!-- WYSIWYG -->
<div class="wysiwyg_block">
	<div class="wysiwyg_block_inner">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="wysiwyg_block_wrapper">
					<div class="typography">
						{{content}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: WYSIWYG -->
