/* ==========================================================================
	Breadcrumb Navigation
============================================================================= */

.breadcrumb_nav {

	@media #{$max_lg} {
		display: none;
	}
}


// Breadcrumb Links
// =============================================================================

.breadcrumb_list {}

	.breadcrumb_item {
		display: inline-block;

		&:first-child {

			&:before {}
		}

		&:not(:last-child) {

			&:after {
				content: "/";
			}
		}

		&:last-child {}
	}

		.breadcrumb_link,
		.breadcrumb_label {
			display: inline-block;
		}

		.breadcrumb_link {

			&:focus,
			&:active,
			&:hover {}
		}

		.breadcrumb_label {}
