/* ==========================================================================
	Main Navigation
============================================================================= */

.main_nav {

	&_sm {

		@media #{$min_lg} {
			display: none;
		}
	}

	&_lg {

		@media #{$max_lg} {
			display: none;
		}
	}
}

	.main_nav_header {}

		.main_nav_title {
			@include visually_hide;
		}


// Main Nav Links
// =============================================================================

.main_nav_list {}

	.main_nav_item {

		.main_nav_sm & {

			&.fs-swap-enabled {

				.main_nav_children {
					display: none;
				}
			}

			&.fs-swap-active {

				.main_nav_children {
					display: block;
				}
			}
		}

		.main_nav_lg & {

			&.focused,
			&:active,
			&:hover {

				.main_nav_children {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.main_nav_item_wrapper {}

		.main_nav_link {
			display: block;

			&:focus,
			&:active,
			&:hover {}
		}

		.main_nav_toggle {

			.main_nav_lg & {
				display: none;
			}
		}


// Main Nav Children
// =============================================================================

.main_nav_children {

	.main_nav_lg & {
		position: absolute;

		opacity: 0;
		transition:
			opacity $base_transition_duration,
			visibility $base_transition_duration;
		visibility: hidden;
	}
}

	.main_nav_child_item {}

		.main_nav_child_link {
			display: block;
		}
