/* ==========================================================================
	Social Navigation
============================================================================= */

.social_nav {}

	.social_nav_header {}

		.social_nav_title {
			@include visually_hide;
		}


// Social Links
// =============================================================================

.social_nav_list {}

	.social_nav_item {
		display: inline-block;
	}

		.social_nav_link {
			display: block;

			&:focus,
			&:active,
			&:hover {}
		}

			.social_nav_icon {}

			.social_nav_label {}
