{% extends "_base.twig" %}

{% set pageTitle = "Home" %}

{% block page_header %}
{% endblock %}

{% block page %}
{% endblock %}

{% block full_width_callouts %}

	<h1 id="main_page_title" tabindex="-1">{{title}}</h1>

{% endblock %}
