<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en" class="no-js">

	{% include "../partials/_head.twig" %}

	<body class="fs-grid">

		<!-- Skip-to-Content Link -->
		<a href="#main_page_title" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			{% include "../partials/_header.twig" %}
			<!-- END: Header -->

			<!-- Page -->
			<div class="page">

				<!-- Page Feature -->
				<div class="page_feature">
					{% block page_feature %}{% endblock  %}
				</div>
				<!-- END: Page Feature -->

				<!-- Page Content -->
				<div class="page_content">

					<!-- Page Header -->
					{% block page_header %}
						<div class="page_header">
							<div class="fs-row">
								<div class="fs-cell">

									{% block breadcrumb %}
										{% include "../partials/navigation/breadcrumb.twig" %}
									{% endblock %}

									{% set page_title = title %}
									<h1 id="main_page_title" tabindex="-1">{{page_title}}</h1>

								</div>
							</div>
						</div>
					{% endblock %}
					<!-- END: Page Header -->

					{% block page %}
						<div class="fs-row">

							<!-- Sub Nav -->
							<div class="fs-cell-right fs-lg-4">
								{% block sub_nav %}
									{% include "../partials/navigation/sub.twig" %}
								{% endblock %}
							</div>
							<!-- END: Sub Nav -->

							<!-- Main Content -->
							<div class="fs-cell fs-lg-8">
								<main class="main_content" itemprop="mainContentOfPage">

									{% block main_content %}{% endblock %}

									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
										{% block typography %}{% endblock %}
									</div>
									<!-- END: WYSIWYG -->

									<!-- In Content Callouts -->
									<div class="in_content_callouts">
										{% block in_content_callouts %}{% endblock %}
									</div>
									<!-- END: In Content Callouts -->

								</main>
							</div>
							<!-- END: Main Content -->

							<!-- Sidebar Callouts -->
							<div class="fs-cell-right fs-lg-4">
								<div class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
									{% block sidebar %}{% endblock %}
								</div>
							</div>
							<!-- END: Sidebar Callouts -->

						</div>
					{% endblock %}

					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
						{% block full_width_callouts %}{% endblock %}
					</div>
					<!-- END: Full Width Callouts -->

				</div>
				<!-- END: Page Content -->

			</div>
			<!-- END: Page -->

			<!-- Footer -->
			{% include "../partials/_footer.twig" %}
			<!-- END: Footer -->

		</div>
		<!-- END: page_wrapper -->

		{% include "../partials/_footer-js.twig" %}

	</body>
</html>
