<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en" class="no-js">

	{#
		TODO:
			1. Update Client Name
	#}

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>{{pageTitle|default("Page")}} | {{name}}</title> {# 1 #}
		<meta name="description" content="">

		{% include "../partials/favicons.html" %}

		<script src="../../js/modernizr.js"></script>

		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="../../css/site.css">
		<!--<![endif]-->
		<!--[if IE 8]>
			<script>var IE8 = true;</script>
			<script src="../../js/site-ie8.js"></script>
			<link rel="stylesheet" href="../../css/site-ie8.css">
		<![endif]-->
		<!--[if IE 9]>
			<script>var IE9 = true;</script>
			<script src="../../js/site-ie9.js"></script>
			<link rel="stylesheet" href="../../css/site-ie9.css">
		<![endif]-->
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../css/site-ie.css">
		<![endif]-->
	</head>

	<body class="fs-grid theme_{{bodyTheme|default("interior")}}">

		{#

			TODO:
				Update Navigation Blocks in package.json

		#}

		{% block mainNavVar %}
			{% set mainNavLinksAlias = mainNavLinks %}
		{% endblock %}

		{% block secondaryNavVar %}
			{% set secondaryNavLinksAlias = secondaryNavLinks %}
		{% endblock %}

		{% block breadcrumbNavVar %}
			{% set breadcrumbNavLinks = [
				pageTitle|default("Page")
			] %}
		{% endblock %}

		{% block subNavVar %}
			{% set subNavLinksAlias = subNavLinks %}
		{% endblock %}

		{% block footerNavVar %}
			{% set footerNavLinksAlias = footerNavLinks %}
		{% endblock %}

		{% block socialNavVar %}
			{% set socialNavLinksAlias = socialNavLinks %}
		{% endblock %}

		<!-- Skip-to-Content Link -->
		<a href="#main_page_title" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
				<div class="fs-row">
					<div class="fs-cell">
						{% include "../partials/logo.twig" with {
							class: "header",
							name: title
						} %}

						{% include "../partials/navigation/main.twig" with {
							class: "main_nav_lg",
							links: mainNavLinksAlias
						} %}

						{% include "../partials/navigation/basic.twig" with {
							class: "secondary_nav",
							modifier: "lg",
							label: "Secondary Navigation",
							links: secondaryNavLinksAlias
						} %}

						<button class="js-nav_handle mobile_sidebar_handle">Menu</button>

						<div class="js-navigation mobile_sidebar" hidden data-navigation-handle=".js-nav_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"type": "overlay", "gravity": "right"}'>
							{% include "../partials/navigation/main.twig" with {
								class: "main_nav_sm",
								links: mainNavLinksAlias
							} %}

							{% include "../partials/navigation/basic.twig" with {
								class: "secondary_nav",
								modifier: "sm",
								label: "Secondary Navigation",
								links: secondaryNavLinksAlias
							} %}
						</div>

						{% include "../partials/site-search.twig" %}
					</div>
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<div class="page">

				<!-- Page Feature -->
				<div class="page_feature">
					{% block page_feature %}{% endblock  %}
				</div>
				<!-- END: Page Feature -->

				<!-- Page Content -->
				<div class="page_content">

					<!-- Page Header -->
					{% block page_header %}
						<div class="page_header">
							<div class="fs-row">
								<div class="fs-cell">
									{% include "../partials/navigation/breadcrumb.twig" with {
										links: breadcrumbNavLinks
									} %}

									<h1 id="main_page_title" tabindex="-1">{{pageTitle}}</h1>
								</div>
							</div>
						</div>
					{% endblock %}
					<!-- END: Page Header -->

					{% block page_content %}
						<div class="fs-row">

							<!-- Sub Nav -->
							<div class="fs-cell-right fs-lg-4">
								{% block subNav %}
									{% include "../partials/navigation/sub.twig" with {
										links: subNavLinksAlias
									} %}
								{% endblock %}
							</div>
							<!-- END: Sub Nav -->

							<!-- Main Content -->
							<div class="fs-cell fs-lg-8">
								<main class="main_content" itemprop="mainContentOfPage">
									{% block main_content %}{% endblock %}

									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
										{% block typography %}{% endblock %}
									</div>
									<!-- END: WYSIWYG -->

									<!-- In Content Callouts -->
									<div class="in_content_callouts">
										{% block in_content_callouts %}{% endblock %}
									</div>
									<!-- END: In Content Callouts -->

								</main>
							</div>
							<!-- END: Main Content -->

							<!-- Sidebar Callouts -->
							<div class="fs-cell-right fs-lg-4">
								<div class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
									{% block sidebar %}{% endblock %}
								</div>
							</div>
							<!-- END: Sidebar Callouts -->

						</div>
					{% endblock %}

					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
						{% block full_width_callouts %}{% endblock %}
					</div>
					<!-- END: Full Width Callouts -->

				</div>
				<!-- END: Page Content -->

			</div>
			<!-- END: Page -->

			<!-- Footer -->
			<footer id="footer" class="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
							<span class="footer_address_name" itemprop="name">name</span>
							<span class="footer_address_street" itemprop="streetAddress">street</span>
							<span class="footer_address_city" itemprop="addressLocality">city</span>
							<span class="footer_address_state" itemprop="addressRegion">state</span>
							<span class="footer_address_zip" itemprop="postalCode">zip</span>
							<span class="footer_address_phone" itemprop="telephone">###-###-###</span>
						</div>

						{% include "../partials/navigation/basic.twig" with {
							class: "footer_nav",
							modifier: "",
							label: "Footer Navigation",
							links: footerNavLinksAlias
						} %}

						{% include "../partials/navigation/social.twig" with {
							class: "",
							links: socialNavLinksAlias
						} %}
					</div>
				</div>
			</footer>
			<!-- END: Footer -->

		</div>
		<!-- END: page_wrapper -->

		<script src="../../js/site.js"></script>

		<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='http://formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
	</body>
</html>
