<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en" class="no-js">

	{#
		TODO:
			1. Update Client Name
	#}

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>{{title}} | Client Name</title> {# 1 #}
		<meta name="description" content="">

		{% include "../partials/_favicons.html" %}

		<script src="../../js/modernizr.js"></script>

		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="../../css/site.css">
		<!--<![endif]-->
		<!--[if IE 8]>
			<script>var IE8 = true;</script>
			<script src="../../js/site-ie8.js"></script>
			<link rel="stylesheet" href="../../css/site-ie8.css">
		<![endif]-->
		<!--[if IE 9]>
			<script>var IE9 = true;</script>
			<script src="../../js/site-ie9.js"></script>
			<link rel="stylesheet" href="../../css/site-ie9.css">
		<![endif]-->
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../css/site-ie.css">
		<![endif]-->
	</head>

	<body class="fs-grid">

		<!-- Skip-to-Content Link -->
		<a href="#main_page_title" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
				<div class="fs-row">
					<div class="fs-cell">

						{% include "../partials/_logo.twig" with {
							class: "header_logo",
							name: "Client Name"
						} %}

						{% include "../partials/navigation/main.twig" with {
							class: "main_nav_lg"
						} %}

						{% include "../partials/navigation/secondary.twig" with {
							class: "secondary_nav_lg"
						} %}

						<button class="js-nav_handle mobile_sidebar_handle">Menu</button>

						{% include "../partials/_mobile-sidebar.twig" %}

						{% include "../partials/_site-search.twig" %}

					</div>
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<div class="page">

				<!-- Page Feature -->
				<div class="page_feature">
					{% block page_feature %}{% endblock  %}
				</div>
				<!-- END: Page Feature -->

				<!-- Page Content -->
				<div class="page_content">

					<!-- Page Header -->
					{% block page_header %}
						<div class="page_header">
							<div class="fs-row">
								<div class="fs-cell">

									{% block breadcrumb %}
										{% embed "../partials/navigation/breadcrumb.twig" %}
										{% endembed %}
									{% endblock %}

									{% set page_title = title %}
									<h1 id="main_page_title" tabindex="-1">{{page_title}}</h1>

								</div>
							</div>
						</div>
					{% endblock %}
					<!-- END: Page Header -->

					{% block page %}
						<div class="fs-row">

							<!-- Sub Nav -->
							<div class="fs-cell-right fs-lg-4">
								{% block sub_nav %}
									{% embed "../partials/navigation/sub.twig" %}
									{% endembed %}
								{% endblock %}
							</div>
							<!-- END: Sub Nav -->

							<!-- Main Content -->
							<div class="fs-cell fs-lg-8">
								<main class="main_content" itemprop="mainContentOfPage">

									{% block main_content %}{% endblock %}

									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
										{% block typography %}{% endblock %}
									</div>
									<!-- END: WYSIWYG -->

									<!-- In Content Callouts -->
									<div class="in_content_callouts">
										{% block in_content_callouts %}{% endblock %}
									</div>
									<!-- END: In Content Callouts -->

								</main>
							</div>
							<!-- END: Main Content -->

							<!-- Sidebar Callouts -->
							<div class="fs-cell-right fs-lg-4">
								<div class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
									{% block sidebar %}{% endblock %}
								</div>
							</div>
							<!-- END: Sidebar Callouts -->

						</div>
					{% endblock %}

					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
						{% block full_width_callouts %}{% endblock %}
					</div>
					<!-- END: Full Width Callouts -->

				</div>
				<!-- END: Page Content -->

			</div>
			<!-- END: Page -->

			<!-- Footer -->
			<footer id="footer" class="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="fs-row">
					<div class="fs-cell">

						{% include "../partials/_address.twig" %}

						{% include "../partials/navigation/footer.twig" with {
							class: ""
						} %}

						{% include "../partials/navigation/social.twig" with {
							class: ""
						} %}

					</div>
				</div>
			</footer>
			<!-- END: Footer -->

		</div>
		<!-- END: page_wrapper -->

		<script src="../../js/site.js"></script>

		<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='http://formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>

	</body>
</html>
